src/data/workflows/workflow-templates/n8n-automation-templates-5000-classify-action-items-from-microsoft-teams-and-send-to-salesforce-f1af1d91fc.json
{
  "id": "n8n-automation-templates-5000-classify-action-items-from-microsoft-teams-and-send-to-salesforce-f1af1d91fc",
  "source": {
    "type": "github",
    "repository": "ritik-prog/n8n-automation-templates-5000",
    "repository_stars": 341,
    "path": "n8n_2000_workflows/classify-action-items-microsoft-teams-salesforce.json",
    "url": "https://github.com/ritik-prog/n8n-automation-templates-5000/blob/main/n8n_2000_workflows/classify-action-items-microsoft-teams-salesforce.json"
  },
  "name": "Classify action items from Microsoft Teams and send to Salesforce",
  "description": "n8n workflow template from ritik-prog/n8n-automation-templates-5000: Classify action items from Microsoft Teams and send to Salesforce",
  "category": "AI",
  "tags": [
    "n8n 2000 workflows",
    "open AIApi",
    "slack",
    "webhook",
    "classify",
    "action",
    "items",
    "microsoft",
    "teams",
    "send"
  ],
  "task_keywords": [
    "classify action items from microsoft teams and send to salesforce",
    "open aiapi",
    "send open aiapi",
    "slack",
    "send slack",
    "webhook",
    "classify action",
    "action items",
    "items microsoft",
    "microsoft teams",
    "teams send",
    "send salesforce"
  ],
  "required_services": [
    "open AIApi",
    "slack"
  ],
  "triggers": [
    "webhook"
  ],
  "complexity": "simple",
  "workflow": {
    "name": "Classify action items from Microsoft Teams and send to Salesforce",
    "nodes": [
      {
        "id": "trigger-microsoft-teams",
        "name": "Incoming Trigger",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1,
        "position": [
          -600,
          24400
        ],
        "parameters": {
          "httpMethod": "POST",
          "path": "classify-action-items-from-microsoft-teams-and-send-to-salesforce",
          "responseCode": 200,
          "responseMode": "onReceived"
        }
      },
      {
        "id": "fetch-microsoft-teams",
        "name": "Fetch data from Microsoft Teams",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 1,
        "position": [
          -300,
          24400
        ],
        "parameters": {
          "method": "GET",
          "url": "https://api.example.com/microsoft-teams",
          "responseFormat": "json"
        }
      },
      {
        "id": "ai-classify-action-items",
        "name": "AI: Classify Action Items",
        "type": "n8n-nodes-base.openAIApi",
        "typeVersion": 1,
        "position": [
          0,
          24400
        ],
        "parameters": {
          "model": "gpt-4",
          "operation": "complete",
          "prompt": "Perform the following action on the incoming data: classify action items"
        }
      },
      {
        "id": "send-salesforce",
        "name": "Send to Salesforce",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 1,
        "position": [
          300,
          24400
        ],
        "parameters": {
          "method": "POST",
          "url": "https://api.example.com/salesforce",
          "responseFormat": "json",
          "options": {}
        }
      },
      {
        "id": "error-handler-600-24400",
        "name": "Send Error to Slack",
        "type": "n8n-nodes-base.slack",
        "typeVersion": 1,
        "position": [
          600,
          24400
        ],
        "parameters": {
          "resource": "message",
          "operation": "post",
          "channel": "#automation-alerts",
          "text": "={{ $json.get('error_message', 'An error occurred') }}"
        }
      }
    ],
    "connections": {
      "Incoming Trigger": {
        "main": [
          [
            {
              "node": "Fetch data from Microsoft Teams",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch data from Microsoft Teams": {
        "main": [
          {
            "node": "AI: Classify Action Items",
            "type": "main",
            "index": 0
          }
        ]
      },
      "AI: Classify Action Items": {
        "main": [
          [
            {
              "node": "AI: Classify Action Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send to Salesforce": {
        "main": [
          [
            {
              "node": "Send Error to Slack",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {},
    "active": false
  }
}
