src/data/workflows/workflow-templates/n8n-automation-templates-5000-classify-ticket-with-ai-from-github-issue-and-send-to-notion-775d467255.json
{
  "id": "n8n-automation-templates-5000-classify-ticket-with-ai-from-github-issue-and-send-to-notion-775d467255",
  "source": {
    "type": "github",
    "repository": "ritik-prog/n8n-automation-templates-5000",
    "repository_stars": 341,
    "path": "n8n_2000_workflows/classify-ticket-with-ai-github-issue-notion.json",
    "url": "https://github.com/ritik-prog/n8n-automation-templates-5000/blob/main/n8n_2000_workflows/classify-ticket-with-ai-github-issue-notion.json"
  },
  "name": "Classify ticket with ai from GitHub issue and send to Notion",
  "description": "n8n workflow template from ritik-prog/n8n-automation-templates-5000: Classify ticket with ai from GitHub issue and send to Notion",
  "category": "AI",
  "tags": [
    "n8n 2000 workflows",
    "open AIApi",
    "slack",
    "webhook",
    "classify",
    "ticket",
    "github",
    "issue",
    "send",
    "notion"
  ],
  "task_keywords": [
    "classify ticket with ai from github issue and send to notion",
    "open aiapi",
    "send open aiapi",
    "slack",
    "send slack",
    "webhook",
    "classify ticket",
    "ticket github",
    "github issue",
    "issue send",
    "send notion",
    "notion n8n"
  ],
  "required_services": [
    "open AIApi",
    "slack"
  ],
  "triggers": [
    "webhook"
  ],
  "complexity": "simple",
  "workflow": {
    "name": "Classify ticket with ai from GitHub issue and send to Notion",
    "nodes": [
      {
        "id": "trigger-github-issue",
        "name": "Incoming Trigger",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1,
        "position": [
          -600,
          91300
        ],
        "parameters": {
          "httpMethod": "POST",
          "path": "classify-ticket-with-ai-from-github-issue-and-send-to-notion",
          "responseCode": 200,
          "responseMode": "onReceived"
        }
      },
      {
        "id": "fetch-github-issue",
        "name": "Fetch data from GitHub issue",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 1,
        "position": [
          -300,
          91300
        ],
        "parameters": {
          "method": "GET",
          "url": "https://api.example.com/github-issue",
          "responseFormat": "json"
        }
      },
      {
        "id": "ai-classify-ticket-with-ai",
        "name": "AI: Classify Ticket With Ai",
        "type": "n8n-nodes-base.openAIApi",
        "typeVersion": 1,
        "position": [
          0,
          91300
        ],
        "parameters": {
          "model": "gpt-4",
          "operation": "complete",
          "prompt": "Perform the following action on the incoming data: classify ticket with AI"
        }
      },
      {
        "id": "send-notion",
        "name": "Send to Notion",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 1,
        "position": [
          300,
          91300
        ],
        "parameters": {
          "method": "POST",
          "url": "https://api.example.com/notion",
          "responseFormat": "json",
          "options": {}
        }
      },
      {
        "id": "error-handler-600-91300",
        "name": "Send Error to Slack",
        "type": "n8n-nodes-base.slack",
        "typeVersion": 1,
        "position": [
          600,
          91300
        ],
        "parameters": {
          "resource": "message",
          "operation": "post",
          "channel": "#automation-alerts",
          "text": "={{ $json.get('error_message', 'An error occurred') }}"
        }
      }
    ],
    "connections": {
      "Incoming Trigger": {
        "main": [
          [
            {
              "node": "Fetch data from GitHub issue",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch data from GitHub issue": {
        "main": [
          {
            "node": "AI: Classify Ticket With Ai",
            "type": "main",
            "index": 0
          }
        ]
      },
      "AI: Classify Ticket With Ai": {
        "main": [
          [
            {
              "node": "AI: Classify Ticket With Ai",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send to Notion": {
        "main": [
          [
            {
              "node": "Send Error to Slack",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {},
    "active": false
  }
}
