src/data/workflows/workflow-templates/n8n-automation-templates-5000-generate-marketing-copy-with-ai-from-product-launch-doc-and-send-to-instagram-df2d21cd57.json
{
  "id": "n8n-automation-templates-5000-generate-marketing-copy-with-ai-from-product-launch-doc-and-send-to-instagram-df2d21cd57",
  "source": {
    "type": "github",
    "repository": "ritik-prog/n8n-automation-templates-5000",
    "repository_stars": 341,
    "path": "n8n_2000_workflows/generate-marketing-copy-with-ai-product-launch-doc-instagram.json",
    "url": "https://github.com/ritik-prog/n8n-automation-templates-5000/blob/main/n8n_2000_workflows/generate-marketing-copy-with-ai-product-launch-doc-instagram.json"
  },
  "name": "Generate marketing copy with ai from Product launch doc and send to Instagram",
  "description": "n8n workflow template from ritik-prog/n8n-automation-templates-5000: Generate marketing copy with ai from Product launch doc and send to Instagram",
  "category": "AI",
  "tags": [
    "n8n 2000 workflows",
    "open AIApi",
    "slack",
    "webhook",
    "generate",
    "marketing",
    "copy",
    "product",
    "launch",
    "doc"
  ],
  "task_keywords": [
    "generate marketing copy with ai from product launch doc and send to instagram",
    "open aiapi",
    "send open aiapi",
    "slack",
    "send slack",
    "webhook",
    "generate marketing",
    "marketing copy",
    "copy product",
    "product launch",
    "launch doc",
    "doc send"
  ],
  "required_services": [
    "open AIApi",
    "slack"
  ],
  "triggers": [
    "webhook"
  ],
  "complexity": "simple",
  "workflow": {
    "name": "Generate marketing copy with ai from Product launch doc and send to Instagram",
    "nodes": [
      {
        "id": "trigger-product-launch-doc",
        "name": "Incoming Trigger",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1,
        "position": [
          -600,
          65700
        ],
        "parameters": {
          "httpMethod": "POST",
          "path": "generate-marketing-copy-with-ai-from-product-launch-doc-and-send-to-instagram",
          "responseCode": 200,
          "responseMode": "onReceived"
        }
      },
      {
        "id": "fetch-product-launch-doc",
        "name": "Fetch data from Product launch doc",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 1,
        "position": [
          -300,
          65700
        ],
        "parameters": {
          "method": "GET",
          "url": "https://api.example.com/product-launch-doc",
          "responseFormat": "json"
        }
      },
      {
        "id": "ai-generate-marketing-copy-with-ai",
        "name": "AI: Generate Marketing Copy With Ai",
        "type": "n8n-nodes-base.openAIApi",
        "typeVersion": 1,
        "position": [
          0,
          65700
        ],
        "parameters": {
          "model": "gpt-4",
          "operation": "complete",
          "prompt": "Perform the following action on the incoming data: generate marketing copy with AI"
        }
      },
      {
        "id": "send-instagram",
        "name": "Send to Instagram",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 1,
        "position": [
          300,
          65700
        ],
        "parameters": {
          "method": "POST",
          "url": "https://api.example.com/instagram",
          "responseFormat": "json",
          "options": {}
        }
      },
      {
        "id": "error-handler-600-65700",
        "name": "Send Error to Slack",
        "type": "n8n-nodes-base.slack",
        "typeVersion": 1,
        "position": [
          600,
          65700
        ],
        "parameters": {
          "resource": "message",
          "operation": "post",
          "channel": "#automation-alerts",
          "text": "={{ $json.get('error_message', 'An error occurred') }}"
        }
      }
    ],
    "connections": {
      "Incoming Trigger": {
        "main": [
          [
            {
              "node": "Fetch data from Product launch doc",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch data from Product launch doc": {
        "main": [
          {
            "node": "AI: Generate Marketing Copy With Ai",
            "type": "main",
            "index": 0
          }
        ]
      },
      "AI: Generate Marketing Copy With Ai": {
        "main": [
          [
            {
              "node": "AI: Generate Marketing Copy With Ai",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send to Instagram": {
        "main": [
          [
            {
              "node": "Send Error to Slack",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {},
    "active": false
  }
}
