src/data/workflows/workflow-templates/n8n-automation-templates-5000-approve-expense-from-expense-report-and-send-to-accounting-db-9537a2a46e.json
{
  "id": "n8n-automation-templates-5000-approve-expense-from-expense-report-and-send-to-accounting-db-9537a2a46e",
  "source": {
    "type": "github",
    "repository": "ritik-prog/n8n-automation-templates-5000",
    "repository_stars": 341,
    "path": "n8n_2000_workflows/approve-expense-expense-report-accounting-db.json",
    "url": "https://github.com/ritik-prog/n8n-automation-templates-5000/blob/main/n8n_2000_workflows/approve-expense-expense-report-accounting-db.json"
  },
  "name": "Approve expense from Expense report and send to Accounting DB",
  "description": "n8n workflow template from ritik-prog/n8n-automation-templates-5000: Approve expense from Expense report and send to Accounting DB",
  "category": "Communication",
  "tags": [
    "n8n 2000 workflows",
    "slack",
    "webhook",
    "approve",
    "expense",
    "report",
    "send",
    "accounting"
  ],
  "task_keywords": [
    "approve expense from expense report and send to accounting db",
    "slack",
    "send slack",
    "webhook",
    "approve expense",
    "expense expense",
    "expense report",
    "report send",
    "send accounting",
    "accounting n8n",
    "n8n workflow",
    "workflow template"
  ],
  "required_services": [
    "slack"
  ],
  "triggers": [
    "webhook"
  ],
  "complexity": "simple",
  "workflow": {
    "name": "Approve expense from Expense report and send to Accounting DB",
    "nodes": [
      {
        "id": "trigger-expense-report",
        "name": "Incoming Trigger",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1,
        "position": [
          -600,
          130100
        ],
        "parameters": {
          "httpMethod": "POST",
          "path": "approve-expense-from-expense-report-and-send-to-accounting-db",
          "responseCode": 200,
          "responseMode": "onReceived"
        }
      },
      {
        "id": "fetch-expense-report",
        "name": "Fetch data from Expense report",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 1,
        "position": [
          -300,
          130100
        ],
        "parameters": {
          "method": "GET",
          "url": "https://api.example.com/expense-report",
          "responseFormat": "json"
        }
      },
      {
        "id": "send-accounting-db",
        "name": "Send to Accounting DB",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 1,
        "position": [
          300,
          130100
        ],
        "parameters": {
          "method": "POST",
          "url": "https://api.example.com/accounting-db",
          "responseFormat": "json",
          "options": {}
        }
      },
      {
        "id": "error-handler-600-130100",
        "name": "Send Error to Slack",
        "type": "n8n-nodes-base.slack",
        "typeVersion": 1,
        "position": [
          600,
          130100
        ],
        "parameters": {
          "resource": "message",
          "operation": "post",
          "channel": "#automation-alerts",
          "text": "={{ $json.get('error_message', 'An error occurred') }}"
        }
      }
    ],
    "connections": {
      "Incoming Trigger": {
        "main": [
          [
            {
              "node": "Fetch data from Expense report",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch data from Expense report": {
        "main": [
          {
            "node": "Send to Accounting DB",
            "type": "main",
            "index": 0
          }
        ]
      },
      "Send to Accounting DB": {
        "main": [
          [
            {
              "node": "Send Error to Slack",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {},
    "active": false
  }
}
