src/data/workflows/workflow-templates/n8n-automation-templates-5000-alert-overdue-invoice-from-quickbooks-transaction-and-send-to-google-drive-c9759c89cc.json
{
  "id": "n8n-automation-templates-5000-alert-overdue-invoice-from-quickbooks-transaction-and-send-to-google-drive-c9759c89cc",
  "source": {
    "type": "github",
    "repository": "ritik-prog/n8n-automation-templates-5000",
    "repository_stars": 341,
    "path": "n8n_2000_workflows/alert-overdue-invoice-quickbooks-transaction-google-drive.json",
    "url": "https://github.com/ritik-prog/n8n-automation-templates-5000/blob/main/n8n_2000_workflows/alert-overdue-invoice-quickbooks-transaction-google-drive.json"
  },
  "name": "Alert overdue invoice from QuickBooks transaction and send to Google Drive",
  "description": "n8n workflow template from ritik-prog/n8n-automation-templates-5000: Alert overdue invoice from QuickBooks transaction and send to Google Drive",
  "category": "Communication",
  "tags": [
    "n8n 2000 workflows",
    "slack",
    "webhook",
    "alert",
    "overdue",
    "invoice",
    "quickbooks",
    "transaction",
    "send"
  ],
  "task_keywords": [
    "alert overdue invoice from quickbooks transaction and send to google drive",
    "slack",
    "send slack",
    "webhook",
    "alert overdue",
    "overdue invoice",
    "invoice quickbooks",
    "quickbooks transaction",
    "transaction send",
    "send google",
    "google drive",
    "drive n8n"
  ],
  "required_services": [
    "slack"
  ],
  "triggers": [
    "webhook"
  ],
  "complexity": "simple",
  "workflow": {
    "name": "Alert overdue invoice from QuickBooks transaction and send to Google Drive",
    "nodes": [
      {
        "id": "trigger-quickbooks-transaction",
        "name": "Incoming Trigger",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1,
        "position": [
          -600,
          134000
        ],
        "parameters": {
          "httpMethod": "POST",
          "path": "alert-overdue-invoice-from-quickbooks-transaction-and-send-to-google-drive",
          "responseCode": 200,
          "responseMode": "onReceived"
        }
      },
      {
        "id": "fetch-quickbooks-transaction",
        "name": "Fetch data from QuickBooks transaction",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 1,
        "position": [
          -300,
          134000
        ],
        "parameters": {
          "method": "GET",
          "url": "https://api.example.com/quickbooks-transaction",
          "responseFormat": "json"
        }
      },
      {
        "id": "send-google-drive",
        "name": "Send to Google Drive",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 1,
        "position": [
          300,
          134000
        ],
        "parameters": {
          "method": "POST",
          "url": "https://api.example.com/google-drive",
          "responseFormat": "json",
          "options": {}
        }
      },
      {
        "id": "error-handler-600-134000",
        "name": "Send Error to Slack",
        "type": "n8n-nodes-base.slack",
        "typeVersion": 1,
        "position": [
          600,
          134000
        ],
        "parameters": {
          "resource": "message",
          "operation": "post",
          "channel": "#automation-alerts",
          "text": "={{ $json.get('error_message', 'An error occurred') }}"
        }
      }
    ],
    "connections": {
      "Incoming Trigger": {
        "main": [
          [
            {
              "node": "Fetch data from QuickBooks transaction",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch data from QuickBooks transaction": {
        "main": [
          {
            "node": "Send to Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      },
      "Send to Google Drive": {
        "main": [
          [
            {
              "node": "Send Error to Slack",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {},
    "active": false
  }
}
