src/data/workflows/workflow-templates/n8n-automation-templates-5000-send-marketing-email-from-airtable-campaign-table-and-send-to-instagram-26491a6e77.json
{
  "id": "n8n-automation-templates-5000-send-marketing-email-from-airtable-campaign-table-and-send-to-instagram-26491a6e77",
  "source": {
    "type": "github",
    "repository": "ritik-prog/n8n-automation-templates-5000",
    "repository_stars": 341,
    "path": "n8n_2000_workflows/send-marketing-email-airtable-campaign-table-instagram.json",
    "url": "https://github.com/ritik-prog/n8n-automation-templates-5000/blob/main/n8n_2000_workflows/send-marketing-email-airtable-campaign-table-instagram.json"
  },
  "name": "Send marketing email from Airtable campaign table and send to Instagram",
  "description": "n8n workflow template from ritik-prog/n8n-automation-templates-5000: Send marketing email from Airtable campaign table and send to Instagram",
  "category": "AI",
  "tags": [
    "n8n 2000 workflows",
    "slack",
    "webhook",
    "send",
    "marketing",
    "email",
    "airtable",
    "campaign",
    "table"
  ],
  "task_keywords": [
    "send marketing email from airtable campaign table and send to instagram",
    "slack",
    "send slack",
    "webhook",
    "send marketing",
    "marketing email",
    "email airtable",
    "airtable campaign",
    "campaign table",
    "table send",
    "send instagram",
    "instagram n8n"
  ],
  "required_services": [
    "slack"
  ],
  "triggers": [
    "webhook"
  ],
  "complexity": "simple",
  "workflow": {
    "name": "Send marketing email from Airtable campaign table and send to Instagram",
    "nodes": [
      {
        "id": "trigger-airtable-campaign-table",
        "name": "Incoming Trigger",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1,
        "position": [
          -600,
          77700
        ],
        "parameters": {
          "httpMethod": "POST",
          "path": "send-marketing-email-from-airtable-campaign-table-and-send-to-instagram",
          "responseCode": 200,
          "responseMode": "onReceived"
        }
      },
      {
        "id": "fetch-airtable-campaign-table",
        "name": "Fetch data from Airtable campaign table",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 1,
        "position": [
          -300,
          77700
        ],
        "parameters": {
          "method": "GET",
          "url": "https://api.example.com/airtable-campaign-table",
          "responseFormat": "json"
        }
      },
      {
        "id": "send-instagram",
        "name": "Send to Instagram",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 1,
        "position": [
          300,
          77700
        ],
        "parameters": {
          "method": "POST",
          "url": "https://api.example.com/instagram",
          "responseFormat": "json",
          "options": {}
        }
      },
      {
        "id": "error-handler-600-77700",
        "name": "Send Error to Slack",
        "type": "n8n-nodes-base.slack",
        "typeVersion": 1,
        "position": [
          600,
          77700
        ],
        "parameters": {
          "resource": "message",
          "operation": "post",
          "channel": "#automation-alerts",
          "text": "={{ $json.get('error_message', 'An error occurred') }}"
        }
      }
    ],
    "connections": {
      "Incoming Trigger": {
        "main": [
          [
            {
              "node": "Fetch data from Airtable campaign table",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch data from Airtable campaign table": {
        "main": [
          {
            "node": "Send to Instagram",
            "type": "main",
            "index": 0
          }
        ]
      },
      "Send to Instagram": {
        "main": [
          [
            {
              "node": "Send Error to Slack",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {},
    "active": false
  }
}
