src/data/workflows/workflow-templates/n8n-automation-templates-5000-generate-shipping-label-from-shopify-order-and-send-to-crm-46fba94d24.json
{
  "id": "n8n-automation-templates-5000-generate-shipping-label-from-shopify-order-and-send-to-crm-46fba94d24",
  "source": {
    "type": "github",
    "repository": "ritik-prog/n8n-automation-templates-5000",
    "repository_stars": 341,
    "path": "n8n_2000_workflows/generate-shipping-label-shopify-order-crm.json",
    "url": "https://github.com/ritik-prog/n8n-automation-templates-5000/blob/main/n8n_2000_workflows/generate-shipping-label-shopify-order-crm.json"
  },
  "name": "Generate shipping label from Shopify order and send to CRM",
  "description": "n8n workflow template from ritik-prog/n8n-automation-templates-5000: Generate shipping label from Shopify order and send to CRM",
  "category": "Communication",
  "tags": [
    "n8n 2000 workflows",
    "slack",
    "webhook",
    "generate",
    "shipping",
    "label",
    "shopify",
    "order",
    "send"
  ],
  "task_keywords": [
    "generate shipping label from shopify order and send to crm",
    "slack",
    "send slack",
    "webhook",
    "generate shipping",
    "shipping label",
    "label shopify",
    "shopify order",
    "order send",
    "send crm",
    "crm n8n",
    "n8n workflow"
  ],
  "required_services": [
    "slack"
  ],
  "triggers": [
    "webhook"
  ],
  "complexity": "simple",
  "workflow": {
    "name": "Generate shipping label from Shopify order and send to CRM",
    "nodes": [
      {
        "id": "trigger-shopify-order",
        "name": "Incoming Trigger",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1,
        "position": [
          -600,
          172800
        ],
        "parameters": {
          "httpMethod": "POST",
          "path": "generate-shipping-label-from-shopify-order-and-send-to-crm",
          "responseCode": 200,
          "responseMode": "onReceived"
        }
      },
      {
        "id": "fetch-shopify-order",
        "name": "Fetch data from Shopify order",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 1,
        "position": [
          -300,
          172800
        ],
        "parameters": {
          "method": "GET",
          "url": "https://api.example.com/shopify-order",
          "responseFormat": "json"
        }
      },
      {
        "id": "send-crm",
        "name": "Send to CRM",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 1,
        "position": [
          300,
          172800
        ],
        "parameters": {
          "method": "POST",
          "url": "https://api.example.com/crm",
          "responseFormat": "json",
          "options": {}
        }
      },
      {
        "id": "error-handler-600-172800",
        "name": "Send Error to Slack",
        "type": "n8n-nodes-base.slack",
        "typeVersion": 1,
        "position": [
          600,
          172800
        ],
        "parameters": {
          "resource": "message",
          "operation": "post",
          "channel": "#automation-alerts",
          "text": "={{ $json.get('error_message', 'An error occurred') }}"
        }
      }
    ],
    "connections": {
      "Incoming Trigger": {
        "main": [
          [
            {
              "node": "Fetch data from Shopify order",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch data from Shopify order": {
        "main": [
          {
            "node": "Send to CRM",
            "type": "main",
            "index": 0
          }
        ]
      },
      "Send to CRM": {
        "main": [
          [
            {
              "node": "Send Error to Slack",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {},
    "active": false
  }
}
