src/data/workflows/workflow-templates/n8n-automation-templates-5000-classify-resume-with-ai-from-application-form-and-send-to-airtable-b6302758f0.json
{
  "id": "n8n-automation-templates-5000-classify-resume-with-ai-from-application-form-and-send-to-airtable-b6302758f0",
  "source": {
    "type": "github",
    "repository": "ritik-prog/n8n-automation-templates-5000",
    "repository_stars": 341,
    "path": "n8n_2000_workflows/classify-resume-with-ai-application-form-airtable.json",
    "url": "https://github.com/ritik-prog/n8n-automation-templates-5000/blob/main/n8n_2000_workflows/classify-resume-with-ai-application-form-airtable.json"
  },
  "name": "Classify resume with ai from Application form and send to Airtable",
  "description": "n8n workflow template from ritik-prog/n8n-automation-templates-5000: Classify resume with ai from Application form and send to Airtable",
  "category": "AI",
  "tags": [
    "n8n 2000 workflows",
    "open AIApi",
    "slack",
    "webhook",
    "classify",
    "resume",
    "application",
    "form",
    "send",
    "airtable"
  ],
  "task_keywords": [
    "classify resume with ai from application form and send to airtable",
    "open aiapi",
    "send open aiapi",
    "slack",
    "send slack",
    "webhook",
    "classify resume",
    "resume application",
    "application form",
    "form send",
    "send airtable",
    "airtable n8n"
  ],
  "required_services": [
    "open AIApi",
    "slack"
  ],
  "triggers": [
    "webhook"
  ],
  "complexity": "simple",
  "workflow": {
    "name": "Classify resume with ai from Application form and send to Airtable",
    "nodes": [
      {
        "id": "trigger-application-form",
        "name": "Incoming Trigger",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1,
        "position": [
          -600,
          103700
        ],
        "parameters": {
          "httpMethod": "POST",
          "path": "classify-resume-with-ai-from-application-form-and-send-to-airtable",
          "responseCode": 200,
          "responseMode": "onReceived"
        }
      },
      {
        "id": "fetch-application-form",
        "name": "Fetch data from Application form",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 1,
        "position": [
          -300,
          103700
        ],
        "parameters": {
          "method": "GET",
          "url": "https://api.example.com/application-form",
          "responseFormat": "json"
        }
      },
      {
        "id": "ai-classify-resume-with-ai",
        "name": "AI: Classify Resume With Ai",
        "type": "n8n-nodes-base.openAIApi",
        "typeVersion": 1,
        "position": [
          0,
          103700
        ],
        "parameters": {
          "model": "gpt-4",
          "operation": "complete",
          "prompt": "Perform the following action on the incoming data: classify resume with AI"
        }
      },
      {
        "id": "send-airtable",
        "name": "Send to Airtable",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 1,
        "position": [
          300,
          103700
        ],
        "parameters": {
          "method": "POST",
          "url": "https://api.example.com/airtable",
          "responseFormat": "json",
          "options": {}
        }
      },
      {
        "id": "error-handler-600-103700",
        "name": "Send Error to Slack",
        "type": "n8n-nodes-base.slack",
        "typeVersion": 1,
        "position": [
          600,
          103700
        ],
        "parameters": {
          "resource": "message",
          "operation": "post",
          "channel": "#automation-alerts",
          "text": "={{ $json.get('error_message', 'An error occurred') }}"
        }
      }
    ],
    "connections": {
      "Incoming Trigger": {
        "main": [
          [
            {
              "node": "Fetch data from Application form",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch data from Application form": {
        "main": [
          {
            "node": "AI: Classify Resume With Ai",
            "type": "main",
            "index": 0
          }
        ]
      },
      "AI: Classify Resume With Ai": {
        "main": [
          [
            {
              "node": "AI: Classify Resume With Ai",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send to Airtable": {
        "main": [
          [
            {
              "node": "Send Error to Slack",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {},
    "active": false
  }
}
