src/data/workflows/workflow-templates/n8n-automation-templates-5000-analyze-meeting-sentiment-from-zoom-and-send-to-slack-7b42b28bb8.json
{
  "id": "n8n-automation-templates-5000-analyze-meeting-sentiment-from-zoom-and-send-to-slack-7b42b28bb8",
  "source": {
    "type": "github",
    "repository": "ritik-prog/n8n-automation-templates-5000",
    "repository_stars": 341,
    "path": "n8n_2000_workflows/analyze-meeting-sentiment-zoom-slack.json",
    "url": "https://github.com/ritik-prog/n8n-automation-templates-5000/blob/main/n8n_2000_workflows/analyze-meeting-sentiment-zoom-slack.json"
  },
  "name": "Analyze meeting sentiment from Zoom and send to Slack",
  "description": "n8n workflow template from ritik-prog/n8n-automation-templates-5000: Analyze meeting sentiment from Zoom and send to Slack",
  "category": "AI",
  "tags": [
    "n8n 2000 workflows",
    "open AIApi",
    "slack",
    "webhook",
    "analyze",
    "meeting",
    "sentiment",
    "zoom",
    "send"
  ],
  "task_keywords": [
    "analyze meeting sentiment from zoom and send to slack",
    "open aiapi",
    "send open aiapi",
    "slack",
    "send slack",
    "webhook",
    "analyze meeting",
    "meeting sentiment",
    "sentiment zoom",
    "zoom send",
    "slack n8n",
    "n8n workflow"
  ],
  "required_services": [
    "open AIApi",
    "slack"
  ],
  "triggers": [
    "webhook"
  ],
  "complexity": "simple",
  "workflow": {
    "name": "Analyze meeting sentiment from Zoom and send to Slack",
    "nodes": [
      {
        "id": "trigger-zoom",
        "name": "Incoming Trigger",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1,
        "position": [
          -600,
          4100
        ],
        "parameters": {
          "httpMethod": "POST",
          "path": "analyze-meeting-sentiment-from-zoom-and-send-to-slack",
          "responseCode": 200,
          "responseMode": "onReceived"
        }
      },
      {
        "id": "fetch-zoom",
        "name": "Fetch data from Zoom",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 1,
        "position": [
          -300,
          4100
        ],
        "parameters": {
          "method": "GET",
          "url": "https://api.example.com/zoom",
          "responseFormat": "json"
        }
      },
      {
        "id": "ai-analyze-meeting-sentiment",
        "name": "AI: Analyze Meeting Sentiment",
        "type": "n8n-nodes-base.openAIApi",
        "typeVersion": 1,
        "position": [
          0,
          4100
        ],
        "parameters": {
          "model": "gpt-4",
          "operation": "complete",
          "prompt": "Perform the following action on the incoming data: analyze meeting sentiment"
        }
      },
      {
        "id": "send-slack",
        "name": "Send to Slack",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 1,
        "position": [
          300,
          4100
        ],
        "parameters": {
          "method": "POST",
          "url": "https://api.example.com/slack",
          "responseFormat": "json",
          "options": {}
        }
      },
      {
        "id": "error-handler-600-4100",
        "name": "Send Error to Slack",
        "type": "n8n-nodes-base.slack",
        "typeVersion": 1,
        "position": [
          600,
          4100
        ],
        "parameters": {
          "resource": "message",
          "operation": "post",
          "channel": "#automation-alerts",
          "text": "={{ $json.get('error_message', 'An error occurred') }}"
        }
      }
    ],
    "connections": {
      "Incoming Trigger": {
        "main": [
          [
            {
              "node": "Fetch data from Zoom",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch data from Zoom": {
        "main": [
          {
            "node": "AI: Analyze Meeting Sentiment",
            "type": "main",
            "index": 0
          }
        ]
      },
      "AI: Analyze Meeting Sentiment": {
        "main": [
          [
            {
              "node": "AI: Analyze Meeting Sentiment",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send to Slack": {
        "main": [
          [
            {
              "node": "Send Error to Slack",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {},
    "active": false
  }
}
