src/data/workflows/workflow-templates/n8n-automation-templates-5000-send-marketing-email-from-campaign-brief-and-send-to-mailchimp-da5bbf9e5a.json
{
  "id": "n8n-automation-templates-5000-send-marketing-email-from-campaign-brief-and-send-to-mailchimp-da5bbf9e5a",
  "source": {
    "type": "github",
    "repository": "ritik-prog/n8n-automation-templates-5000",
    "repository_stars": 341,
    "path": "n8n_2000_workflows/send-marketing-email-campaign-brief-mailchimp.json",
    "url": "https://github.com/ritik-prog/n8n-automation-templates-5000/blob/main/n8n_2000_workflows/send-marketing-email-campaign-brief-mailchimp.json"
  },
  "name": "Send marketing email from Campaign brief and send to Mailchimp",
  "description": "n8n workflow template from ritik-prog/n8n-automation-templates-5000: Send marketing email from Campaign brief and send to Mailchimp",
  "category": "AI",
  "tags": [
    "n8n 2000 workflows",
    "slack",
    "webhook",
    "send",
    "marketing",
    "email",
    "campaign",
    "brief"
  ],
  "task_keywords": [
    "send marketing email from campaign brief and send to mailchimp",
    "slack",
    "send slack",
    "webhook",
    "send marketing",
    "marketing email",
    "email campaign",
    "campaign brief",
    "brief send",
    "send mailchimp",
    "mailchimp n8n",
    "n8n workflow"
  ],
  "required_services": [
    "slack"
  ],
  "triggers": [
    "webhook"
  ],
  "complexity": "simple",
  "workflow": {
    "name": "Send marketing email from Campaign brief and send to Mailchimp",
    "nodes": [
      {
        "id": "trigger-campaign-brief",
        "name": "Incoming Trigger",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1,
        "position": [
          -600,
          73000
        ],
        "parameters": {
          "httpMethod": "POST",
          "path": "send-marketing-email-from-campaign-brief-and-send-to-mailchimp",
          "responseCode": 200,
          "responseMode": "onReceived"
        }
      },
      {
        "id": "fetch-campaign-brief",
        "name": "Fetch data from Campaign brief",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 1,
        "position": [
          -300,
          73000
        ],
        "parameters": {
          "method": "GET",
          "url": "https://api.example.com/campaign-brief",
          "responseFormat": "json"
        }
      },
      {
        "id": "send-mailchimp",
        "name": "Send to Mailchimp",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 1,
        "position": [
          300,
          73000
        ],
        "parameters": {
          "method": "POST",
          "url": "https://api.example.com/mailchimp",
          "responseFormat": "json",
          "options": {}
        }
      },
      {
        "id": "error-handler-600-73000",
        "name": "Send Error to Slack",
        "type": "n8n-nodes-base.slack",
        "typeVersion": 1,
        "position": [
          600,
          73000
        ],
        "parameters": {
          "resource": "message",
          "operation": "post",
          "channel": "#automation-alerts",
          "text": "={{ $json.get('error_message', 'An error occurred') }}"
        }
      }
    ],
    "connections": {
      "Incoming Trigger": {
        "main": [
          [
            {
              "node": "Fetch data from Campaign brief",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch data from Campaign brief": {
        "main": [
          {
            "node": "Send to Mailchimp",
            "type": "main",
            "index": 0
          }
        ]
      },
      "Send to Mailchimp": {
        "main": [
          [
            {
              "node": "Send Error to Slack",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {},
    "active": false
  }
}
