src/data/workflows/workflow-templates/n8n-automation-templates-5000-update-contract-registry-from-contract-document-and-send-to-sap-185be3f54f.json
{
  "id": "n8n-automation-templates-5000-update-contract-registry-from-contract-document-and-send-to-sap-185be3f54f",
  "source": {
    "type": "github",
    "repository": "ritik-prog/n8n-automation-templates-5000",
    "repository_stars": 341,
    "path": "n8n_2000_workflows/update-contract-registry-contract-document-sap.json",
    "url": "https://github.com/ritik-prog/n8n-automation-templates-5000/blob/main/n8n_2000_workflows/update-contract-registry-contract-document-sap.json"
  },
  "name": "Update contract registry from Contract document and send to SAP",
  "description": "n8n workflow template from ritik-prog/n8n-automation-templates-5000: Update contract registry from Contract document and send to SAP",
  "category": "Communication",
  "tags": [
    "n8n 2000 workflows",
    "slack",
    "webhook",
    "update",
    "contract",
    "registry",
    "document",
    "send"
  ],
  "task_keywords": [
    "update contract registry from contract document and send to sap",
    "slack",
    "send slack",
    "update slack",
    "webhook",
    "update contract",
    "contract registry",
    "registry contract",
    "contract document",
    "document send",
    "send sap",
    "sap n8n"
  ],
  "required_services": [
    "slack"
  ],
  "triggers": [
    "webhook"
  ],
  "complexity": "simple",
  "workflow": {
    "name": "Update contract registry from Contract document and send to SAP",
    "nodes": [
      {
        "id": "trigger-contract-document",
        "name": "Incoming Trigger",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1,
        "position": [
          -600,
          161000
        ],
        "parameters": {
          "httpMethod": "POST",
          "path": "update-contract-registry-from-contract-document-and-send-to-sap",
          "responseCode": 200,
          "responseMode": "onReceived"
        }
      },
      {
        "id": "fetch-contract-document",
        "name": "Fetch data from Contract document",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 1,
        "position": [
          -300,
          161000
        ],
        "parameters": {
          "method": "GET",
          "url": "https://api.example.com/contract-document",
          "responseFormat": "json"
        }
      },
      {
        "id": "send-sap",
        "name": "Send to SAP",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 1,
        "position": [
          300,
          161000
        ],
        "parameters": {
          "method": "POST",
          "url": "https://api.example.com/sap",
          "responseFormat": "json",
          "options": {}
        }
      },
      {
        "id": "error-handler-600-161000",
        "name": "Send Error to Slack",
        "type": "n8n-nodes-base.slack",
        "typeVersion": 1,
        "position": [
          600,
          161000
        ],
        "parameters": {
          "resource": "message",
          "operation": "post",
          "channel": "#automation-alerts",
          "text": "={{ $json.get('error_message', 'An error occurred') }}"
        }
      }
    ],
    "connections": {
      "Incoming Trigger": {
        "main": [
          [
            {
              "node": "Fetch data from Contract document",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch data from Contract document": {
        "main": [
          {
            "node": "Send to SAP",
            "type": "main",
            "index": 0
          }
        ]
      },
      "Send to SAP": {
        "main": [
          [
            {
              "node": "Send Error to Slack",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {},
    "active": false
  }
}
