src/data/workflows/workflow-templates/n8n-automation-templates-5000-draft-email-response-from-microsoft-teams-and-send-to-marketing-team-199c54986e.json
{
  "id": "n8n-automation-templates-5000-draft-email-response-from-microsoft-teams-and-send-to-marketing-team-199c54986e",
  "source": {
    "type": "github",
    "repository": "ritik-prog/n8n-automation-templates-5000",
    "repository_stars": 341,
    "path": "n8n_2000_workflows/draft-email-response-microsoft-teams-marketing-team.json",
    "url": "https://github.com/ritik-prog/n8n-automation-templates-5000/blob/main/n8n_2000_workflows/draft-email-response-microsoft-teams-marketing-team.json"
  },
  "name": "Draft email response from Microsoft Teams and send to Marketing team",
  "description": "n8n workflow template from ritik-prog/n8n-automation-templates-5000: Draft email response from Microsoft Teams and send to Marketing team",
  "category": "AI",
  "tags": [
    "n8n 2000 workflows",
    "open AIApi",
    "slack",
    "webhook",
    "draft",
    "email",
    "response",
    "microsoft",
    "teams",
    "send"
  ],
  "task_keywords": [
    "draft email response from microsoft teams and send to marketing team",
    "open aiapi",
    "send open aiapi",
    "slack",
    "send slack",
    "webhook",
    "draft email",
    "email response",
    "response microsoft",
    "microsoft teams",
    "teams send",
    "send marketing"
  ],
  "required_services": [
    "open AIApi",
    "slack"
  ],
  "triggers": [
    "webhook"
  ],
  "complexity": "simple",
  "workflow": {
    "name": "Draft email response from Microsoft Teams and send to Marketing team",
    "nodes": [
      {
        "id": "trigger-microsoft-teams",
        "name": "Incoming Trigger",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1,
        "position": [
          -600,
          21400
        ],
        "parameters": {
          "httpMethod": "POST",
          "path": "draft-email-response-from-microsoft-teams-and-send-to-marketing-team",
          "responseCode": 200,
          "responseMode": "onReceived"
        }
      },
      {
        "id": "fetch-microsoft-teams",
        "name": "Fetch data from Microsoft Teams",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 1,
        "position": [
          -300,
          21400
        ],
        "parameters": {
          "method": "GET",
          "url": "https://api.example.com/microsoft-teams",
          "responseFormat": "json"
        }
      },
      {
        "id": "ai-draft-email-response",
        "name": "AI: Draft Email Response",
        "type": "n8n-nodes-base.openAIApi",
        "typeVersion": 1,
        "position": [
          0,
          21400
        ],
        "parameters": {
          "model": "gpt-4",
          "operation": "complete",
          "prompt": "Perform the following action on the incoming data: draft email response"
        }
      },
      {
        "id": "send-marketing-team",
        "name": "Send to Marketing team",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 1,
        "position": [
          300,
          21400
        ],
        "parameters": {
          "method": "POST",
          "url": "https://api.example.com/marketing-team",
          "responseFormat": "json",
          "options": {}
        }
      },
      {
        "id": "error-handler-600-21400",
        "name": "Send Error to Slack",
        "type": "n8n-nodes-base.slack",
        "typeVersion": 1,
        "position": [
          600,
          21400
        ],
        "parameters": {
          "resource": "message",
          "operation": "post",
          "channel": "#automation-alerts",
          "text": "={{ $json.get('error_message', 'An error occurred') }}"
        }
      }
    ],
    "connections": {
      "Incoming Trigger": {
        "main": [
          [
            {
              "node": "Fetch data from Microsoft Teams",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch data from Microsoft Teams": {
        "main": [
          {
            "node": "AI: Draft Email Response",
            "type": "main",
            "index": 0
          }
        ]
      },
      "AI: Draft Email Response": {
        "main": [
          [
            {
              "node": "AI: Draft Email Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send to Marketing team": {
        "main": [
          [
            {
              "node": "Send Error to Slack",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {},
    "active": false
  }
}
