src/data/workflows/workflow-templates/n8n-automation-templates-5000-generate-summary-from-trello-card-and-send-to-notion-d08f0f43cb.json
{
  "id": "n8n-automation-templates-5000-generate-summary-from-trello-card-and-send-to-notion-d08f0f43cb",
  "source": {
    "type": "github",
    "repository": "ritik-prog/n8n-automation-templates-5000",
    "repository_stars": 341,
    "path": "n8n_2000_workflows/generate-summary-trello-card-notion.json",
    "url": "https://github.com/ritik-prog/n8n-automation-templates-5000/blob/main/n8n_2000_workflows/generate-summary-trello-card-notion.json"
  },
  "name": "Generate summary from Trello card and send to Notion",
  "description": "n8n workflow template from ritik-prog/n8n-automation-templates-5000: Generate summary from Trello card and send to Notion",
  "category": "AI",
  "tags": [
    "n8n 2000 workflows",
    "open AIApi",
    "slack",
    "webhook",
    "generate",
    "summary",
    "trello",
    "card",
    "send",
    "notion"
  ],
  "task_keywords": [
    "generate summary from trello card and send to notion",
    "open aiapi",
    "send open aiapi",
    "slack",
    "send slack",
    "webhook",
    "generate summary",
    "summary trello",
    "trello card",
    "card send",
    "send notion",
    "notion n8n"
  ],
  "required_services": [
    "open AIApi",
    "slack"
  ],
  "triggers": [
    "webhook"
  ],
  "complexity": "simple",
  "workflow": {
    "name": "Generate summary from Trello card and send to Notion",
    "nodes": [
      {
        "id": "trigger-trello-card",
        "name": "Incoming Trigger",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1,
        "position": [
          -600,
          153400
        ],
        "parameters": {
          "httpMethod": "POST",
          "path": "generate-summary-from-trello-card-and-send-to-notion",
          "responseCode": 200,
          "responseMode": "onReceived"
        }
      },
      {
        "id": "fetch-trello-card",
        "name": "Fetch data from Trello card",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 1,
        "position": [
          -300,
          153400
        ],
        "parameters": {
          "method": "GET",
          "url": "https://api.example.com/trello-card",
          "responseFormat": "json"
        }
      },
      {
        "id": "ai-generate-summary",
        "name": "AI: Generate Summary",
        "type": "n8n-nodes-base.openAIApi",
        "typeVersion": 1,
        "position": [
          0,
          153400
        ],
        "parameters": {
          "model": "gpt-4",
          "operation": "complete",
          "prompt": "Perform the following action on the incoming data: generate summary"
        }
      },
      {
        "id": "send-notion",
        "name": "Send to Notion",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 1,
        "position": [
          300,
          153400
        ],
        "parameters": {
          "method": "POST",
          "url": "https://api.example.com/notion",
          "responseFormat": "json",
          "options": {}
        }
      },
      {
        "id": "error-handler-600-153400",
        "name": "Send Error to Slack",
        "type": "n8n-nodes-base.slack",
        "typeVersion": 1,
        "position": [
          600,
          153400
        ],
        "parameters": {
          "resource": "message",
          "operation": "post",
          "channel": "#automation-alerts",
          "text": "={{ $json.get('error_message', 'An error occurred') }}"
        }
      }
    ],
    "connections": {
      "Incoming Trigger": {
        "main": [
          [
            {
              "node": "Fetch data from Trello card",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch data from Trello card": {
        "main": [
          {
            "node": "AI: Generate Summary",
            "type": "main",
            "index": 0
          }
        ]
      },
      "AI: Generate Summary": {
        "main": [
          [
            {
              "node": "AI: Generate Summary",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send to Notion": {
        "main": [
          [
            {
              "node": "Send Error to Slack",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {},
    "active": false
  }
}
