src/data/workflows/workflow-templates/n8n-automation-templates-5000-generate-shipping-label-from-shopify-order-and-send-to-inventory-db-afab12b703.json
{
  "id": "n8n-automation-templates-5000-generate-shipping-label-from-shopify-order-and-send-to-inventory-db-afab12b703",
  "source": {
    "type": "github",
    "repository": "ritik-prog/n8n-automation-templates-5000",
    "repository_stars": 341,
    "path": "n8n_2000_workflows/generate-shipping-label-shopify-order-inventory-db.json",
    "url": "https://github.com/ritik-prog/n8n-automation-templates-5000/blob/main/n8n_2000_workflows/generate-shipping-label-shopify-order-inventory-db.json"
  },
  "name": "Generate shipping label from Shopify order and send to Inventory DB",
  "description": "n8n workflow template from ritik-prog/n8n-automation-templates-5000: Generate shipping label from Shopify order and send to Inventory DB",
  "category": "Communication",
  "tags": [
    "n8n 2000 workflows",
    "slack",
    "webhook",
    "generate",
    "shipping",
    "label",
    "shopify",
    "order",
    "send"
  ],
  "task_keywords": [
    "generate shipping label from shopify order and send to inventory db",
    "slack",
    "send slack",
    "webhook",
    "generate shipping",
    "shipping label",
    "label shopify",
    "shopify order",
    "order send",
    "send inventory",
    "inventory n8n",
    "n8n workflow"
  ],
  "required_services": [
    "slack"
  ],
  "triggers": [
    "webhook"
  ],
  "complexity": "simple",
  "workflow": {
    "name": "Generate shipping label from Shopify order and send to Inventory DB",
    "nodes": [
      {
        "id": "trigger-shopify-order",
        "name": "Incoming Trigger",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1,
        "position": [
          -600,
          172900
        ],
        "parameters": {
          "httpMethod": "POST",
          "path": "generate-shipping-label-from-shopify-order-and-send-to-inventory-db",
          "responseCode": 200,
          "responseMode": "onReceived"
        }
      },
      {
        "id": "fetch-shopify-order",
        "name": "Fetch data from Shopify order",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 1,
        "position": [
          -300,
          172900
        ],
        "parameters": {
          "method": "GET",
          "url": "https://api.example.com/shopify-order",
          "responseFormat": "json"
        }
      },
      {
        "id": "send-inventory-db",
        "name": "Send to Inventory DB",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 1,
        "position": [
          300,
          172900
        ],
        "parameters": {
          "method": "POST",
          "url": "https://api.example.com/inventory-db",
          "responseFormat": "json",
          "options": {}
        }
      },
      {
        "id": "error-handler-600-172900",
        "name": "Send Error to Slack",
        "type": "n8n-nodes-base.slack",
        "typeVersion": 1,
        "position": [
          600,
          172900
        ],
        "parameters": {
          "resource": "message",
          "operation": "post",
          "channel": "#automation-alerts",
          "text": "={{ $json.get('error_message', 'An error occurred') }}"
        }
      }
    ],
    "connections": {
      "Incoming Trigger": {
        "main": [
          [
            {
              "node": "Fetch data from Shopify order",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch data from Shopify order": {
        "main": [
          {
            "node": "Send to Inventory DB",
            "type": "main",
            "index": 0
          }
        ]
      },
      "Send to Inventory DB": {
        "main": [
          [
            {
              "node": "Send Error to Slack",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {},
    "active": false
  }
}
