src/data/workflows/workflow-templates/n8n-automation-templates-5000-qualify-lead-from-student-enrollment-and-send-to-email-e3e9fc4f21.json
{
  "id": "n8n-automation-templates-5000-qualify-lead-from-student-enrollment-and-send-to-email-e3e9fc4f21",
  "source": {
    "type": "github",
    "repository": "ritik-prog/n8n-automation-templates-5000",
    "repository_stars": 341,
    "path": "n8n_2000_workflows/qualify-lead-student-enrollment-email.json",
    "url": "https://github.com/ritik-prog/n8n-automation-templates-5000/blob/main/n8n_2000_workflows/qualify-lead-student-enrollment-email.json"
  },
  "name": "Qualify lead from Student enrollment and send to Email",
  "description": "n8n workflow template from ritik-prog/n8n-automation-templates-5000: Qualify lead from Student enrollment and send to Email",
  "category": "AI",
  "tags": [
    "n8n 2000 workflows",
    "slack",
    "webhook",
    "qualify",
    "lead",
    "student",
    "enrollment",
    "send",
    "email"
  ],
  "task_keywords": [
    "qualify lead from student enrollment and send to email",
    "slack",
    "send slack",
    "webhook",
    "qualify lead",
    "lead student",
    "student enrollment",
    "enrollment send",
    "send email",
    "email n8n",
    "n8n workflow",
    "workflow template"
  ],
  "required_services": [
    "slack"
  ],
  "triggers": [
    "webhook"
  ],
  "complexity": "simple",
  "workflow": {
    "name": "Qualify lead from Student enrollment and send to Email",
    "nodes": [
      {
        "id": "trigger-student-enrollment",
        "name": "Incoming Trigger",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1,
        "position": [
          -600,
          194800
        ],
        "parameters": {
          "httpMethod": "POST",
          "path": "qualify-lead-from-student-enrollment-and-send-to-email",
          "responseCode": 200,
          "responseMode": "onReceived"
        }
      },
      {
        "id": "fetch-student-enrollment",
        "name": "Fetch data from Student enrollment",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 1,
        "position": [
          -300,
          194800
        ],
        "parameters": {
          "method": "GET",
          "url": "https://api.example.com/student-enrollment",
          "responseFormat": "json"
        }
      },
      {
        "id": "send-email",
        "name": "Send to Email",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 1,
        "position": [
          300,
          194800
        ],
        "parameters": {
          "method": "POST",
          "url": "https://api.example.com/email",
          "responseFormat": "json",
          "options": {}
        }
      },
      {
        "id": "error-handler-600-194800",
        "name": "Send Error to Slack",
        "type": "n8n-nodes-base.slack",
        "typeVersion": 1,
        "position": [
          600,
          194800
        ],
        "parameters": {
          "resource": "message",
          "operation": "post",
          "channel": "#automation-alerts",
          "text": "={{ $json.get('error_message', 'An error occurred') }}"
        }
      }
    ],
    "connections": {
      "Incoming Trigger": {
        "main": [
          [
            {
              "node": "Fetch data from Student enrollment",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch data from Student enrollment": {
        "main": [
          {
            "node": "Send to Email",
            "type": "main",
            "index": 0
          }
        ]
      },
      "Send to Email": {
        "main": [
          [
            {
              "node": "Send Error to Slack",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {},
    "active": false
  }
}
