src/data/workflows/workflow-templates/n8n-automation-templates-5000-notify-legal-team-from-procurement-request-and-send-to-docusign-c790d999ff.json
{
  "id": "n8n-automation-templates-5000-notify-legal-team-from-procurement-request-and-send-to-docusign-c790d999ff",
  "source": {
    "type": "github",
    "repository": "ritik-prog/n8n-automation-templates-5000",
    "repository_stars": 341,
    "path": "n8n_2000_workflows/notify-legal-team-procurement-request-docusign.json",
    "url": "https://github.com/ritik-prog/n8n-automation-templates-5000/blob/main/n8n_2000_workflows/notify-legal-team-procurement-request-docusign.json"
  },
  "name": "Notify legal team from Procurement request and send to DocuSign",
  "description": "n8n workflow template from ritik-prog/n8n-automation-templates-5000: Notify legal team from Procurement request and send to DocuSign",
  "category": "Communication",
  "tags": [
    "n8n 2000 workflows",
    "slack",
    "webhook",
    "notify",
    "legal",
    "team",
    "procurement",
    "request",
    "send"
  ],
  "task_keywords": [
    "notify legal team from procurement request and send to docusign",
    "slack",
    "send slack",
    "notify slack",
    "webhook",
    "notify legal",
    "legal team",
    "team procurement",
    "procurement request",
    "request send",
    "send docusign",
    "docusign n8n"
  ],
  "required_services": [
    "slack"
  ],
  "triggers": [
    "webhook"
  ],
  "complexity": "simple",
  "workflow": {
    "name": "Notify legal team from Procurement request and send to DocuSign",
    "nodes": [
      {
        "id": "trigger-procurement-request",
        "name": "Incoming Trigger",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1,
        "position": [
          -600,
          165700
        ],
        "parameters": {
          "httpMethod": "POST",
          "path": "notify-legal-team-from-procurement-request-and-send-to-docusign",
          "responseCode": 200,
          "responseMode": "onReceived"
        }
      },
      {
        "id": "fetch-procurement-request",
        "name": "Fetch data from Procurement request",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 1,
        "position": [
          -300,
          165700
        ],
        "parameters": {
          "method": "GET",
          "url": "https://api.example.com/procurement-request",
          "responseFormat": "json"
        }
      },
      {
        "id": "send-docusign",
        "name": "Send to DocuSign",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 1,
        "position": [
          300,
          165700
        ],
        "parameters": {
          "method": "POST",
          "url": "https://api.example.com/docusign",
          "responseFormat": "json",
          "options": {}
        }
      },
      {
        "id": "error-handler-600-165700",
        "name": "Send Error to Slack",
        "type": "n8n-nodes-base.slack",
        "typeVersion": 1,
        "position": [
          600,
          165700
        ],
        "parameters": {
          "resource": "message",
          "operation": "post",
          "channel": "#automation-alerts",
          "text": "={{ $json.get('error_message', 'An error occurred') }}"
        }
      }
    ],
    "connections": {
      "Incoming Trigger": {
        "main": [
          [
            {
              "node": "Fetch data from Procurement request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch data from Procurement request": {
        "main": [
          {
            "node": "Send to DocuSign",
            "type": "main",
            "index": 0
          }
        ]
      },
      "Send to DocuSign": {
        "main": [
          [
            {
              "node": "Send Error to Slack",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {},
    "active": false
  }
}
