src/data/workflows/workflow-templates/n8n-automation-templates-5000-generate-ad-copy-from-microsoft-teams-and-send-to-marketing-team-4b4188f577.json
{
  "id": "n8n-automation-templates-5000-generate-ad-copy-from-microsoft-teams-and-send-to-marketing-team-4b4188f577",
  "source": {
    "type": "github",
    "repository": "ritik-prog/n8n-automation-templates-5000",
    "repository_stars": 341,
    "path": "n8n_2000_workflows/generate-ad-copy-microsoft-teams-marketing-team.json",
    "url": "https://github.com/ritik-prog/n8n-automation-templates-5000/blob/main/n8n_2000_workflows/generate-ad-copy-microsoft-teams-marketing-team.json"
  },
  "name": "Generate ad copy from Microsoft Teams and send to Marketing team",
  "description": "n8n workflow template from ritik-prog/n8n-automation-templates-5000: Generate ad copy from Microsoft Teams and send to Marketing team",
  "category": "AI",
  "tags": [
    "n8n 2000 workflows",
    "open AIApi",
    "slack",
    "webhook",
    "generate",
    "copy",
    "microsoft",
    "teams",
    "send",
    "marketing"
  ],
  "task_keywords": [
    "generate ad copy from microsoft teams and send to marketing team",
    "open aiapi",
    "send open aiapi",
    "slack",
    "send slack",
    "webhook",
    "generate copy",
    "copy microsoft",
    "microsoft teams",
    "teams send",
    "send marketing",
    "marketing team"
  ],
  "required_services": [
    "open AIApi",
    "slack"
  ],
  "triggers": [
    "webhook"
  ],
  "complexity": "simple",
  "workflow": {
    "name": "Generate ad copy from Microsoft Teams and send to Marketing team",
    "nodes": [
      {
        "id": "trigger-microsoft-teams",
        "name": "Incoming Trigger",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1,
        "position": [
          -600,
          27000
        ],
        "parameters": {
          "httpMethod": "POST",
          "path": "generate-ad-copy-from-microsoft-teams-and-send-to-marketing-team",
          "responseCode": 200,
          "responseMode": "onReceived"
        }
      },
      {
        "id": "fetch-microsoft-teams",
        "name": "Fetch data from Microsoft Teams",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 1,
        "position": [
          -300,
          27000
        ],
        "parameters": {
          "method": "GET",
          "url": "https://api.example.com/microsoft-teams",
          "responseFormat": "json"
        }
      },
      {
        "id": "ai-generate-ad-copy",
        "name": "AI: Generate Ad Copy",
        "type": "n8n-nodes-base.openAIApi",
        "typeVersion": 1,
        "position": [
          0,
          27000
        ],
        "parameters": {
          "model": "gpt-4",
          "operation": "complete",
          "prompt": "Perform the following action on the incoming data: generate ad copy"
        }
      },
      {
        "id": "send-marketing-team",
        "name": "Send to Marketing team",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 1,
        "position": [
          300,
          27000
        ],
        "parameters": {
          "method": "POST",
          "url": "https://api.example.com/marketing-team",
          "responseFormat": "json",
          "options": {}
        }
      },
      {
        "id": "error-handler-600-27000",
        "name": "Send Error to Slack",
        "type": "n8n-nodes-base.slack",
        "typeVersion": 1,
        "position": [
          600,
          27000
        ],
        "parameters": {
          "resource": "message",
          "operation": "post",
          "channel": "#automation-alerts",
          "text": "={{ $json.get('error_message', 'An error occurred') }}"
        }
      }
    ],
    "connections": {
      "Incoming Trigger": {
        "main": [
          [
            {
              "node": "Fetch data from Microsoft Teams",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch data from Microsoft Teams": {
        "main": [
          {
            "node": "AI: Generate Ad Copy",
            "type": "main",
            "index": 0
          }
        ]
      },
      "AI: Generate Ad Copy": {
        "main": [
          [
            {
              "node": "AI: Generate Ad Copy",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send to Marketing team": {
        "main": [
          [
            {
              "node": "Send Error to Slack",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {},
    "active": false
  }
}
