src/data/workflows/workflow-templates/n8n-automation-templates-5000-schedule-interview-from-resume-email-and-send-to-email-29e16bff84.json
{
  "id": "n8n-automation-templates-5000-schedule-interview-from-resume-email-and-send-to-email-29e16bff84",
  "source": {
    "type": "github",
    "repository": "ritik-prog/n8n-automation-templates-5000",
    "repository_stars": 341,
    "path": "n8n_2000_workflows/schedule-interview-resume-email-email.json",
    "url": "https://github.com/ritik-prog/n8n-automation-templates-5000/blob/main/n8n_2000_workflows/schedule-interview-resume-email-email.json"
  },
  "name": "Schedule interview from Resume email and send to Email",
  "description": "n8n workflow template from ritik-prog/n8n-automation-templates-5000: Schedule interview from Resume email and send to Email",
  "category": "AI",
  "tags": [
    "n8n 2000 workflows",
    "slack",
    "webhook",
    "schedule",
    "interview",
    "resume",
    "email",
    "send"
  ],
  "task_keywords": [
    "schedule interview from resume email and send to email",
    "slack",
    "send slack",
    "webhook",
    "schedule interview",
    "interview resume",
    "resume email",
    "email send",
    "send email",
    "email n8n",
    "n8n workflow",
    "workflow template"
  ],
  "required_services": [
    "slack"
  ],
  "triggers": [
    "webhook"
  ],
  "complexity": "simple",
  "workflow": {
    "name": "Schedule interview from Resume email and send to Email",
    "nodes": [
      {
        "id": "trigger-resume-email",
        "name": "Incoming Trigger",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1,
        "position": [
          -600,
          100900
        ],
        "parameters": {
          "httpMethod": "POST",
          "path": "schedule-interview-from-resume-email-and-send-to-email",
          "responseCode": 200,
          "responseMode": "onReceived"
        }
      },
      {
        "id": "fetch-resume-email",
        "name": "Fetch data from Resume email",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 1,
        "position": [
          -300,
          100900
        ],
        "parameters": {
          "method": "GET",
          "url": "https://api.example.com/resume-email",
          "responseFormat": "json"
        }
      },
      {
        "id": "send-email",
        "name": "Send to Email",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 1,
        "position": [
          300,
          100900
        ],
        "parameters": {
          "method": "POST",
          "url": "https://api.example.com/email",
          "responseFormat": "json",
          "options": {}
        }
      },
      {
        "id": "error-handler-600-100900",
        "name": "Send Error to Slack",
        "type": "n8n-nodes-base.slack",
        "typeVersion": 1,
        "position": [
          600,
          100900
        ],
        "parameters": {
          "resource": "message",
          "operation": "post",
          "channel": "#automation-alerts",
          "text": "={{ $json.get('error_message', 'An error occurred') }}"
        }
      }
    ],
    "connections": {
      "Incoming Trigger": {
        "main": [
          [
            {
              "node": "Fetch data from Resume email",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch data from Resume email": {
        "main": [
          {
            "node": "Send to Email",
            "type": "main",
            "index": 0
          }
        ]
      },
      "Send to Email": {
        "main": [
          [
            {
              "node": "Send Error to Slack",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {},
    "active": false
  }
}
