src/data/workflows/workflow-templates/n8n-automation-templates-5000-create-ad-campaign-from-product-launch-doc-and-send-to-mailchimp-fed1057d09.json
{
  "id": "n8n-automation-templates-5000-create-ad-campaign-from-product-launch-doc-and-send-to-mailchimp-fed1057d09",
  "source": {
    "type": "github",
    "repository": "ritik-prog/n8n-automation-templates-5000",
    "repository_stars": 341,
    "path": "n8n_2000_workflows/create-ad-campaign-product-launch-doc-mailchimp.json",
    "url": "https://github.com/ritik-prog/n8n-automation-templates-5000/blob/main/n8n_2000_workflows/create-ad-campaign-product-launch-doc-mailchimp.json"
  },
  "name": "Create ad campaign from Product launch doc and send to Mailchimp",
  "description": "n8n workflow template from ritik-prog/n8n-automation-templates-5000: Create ad campaign from Product launch doc and send to Mailchimp",
  "category": "AI",
  "tags": [
    "n8n 2000 workflows",
    "slack",
    "webhook",
    "create",
    "campaign",
    "product",
    "launch",
    "doc",
    "send"
  ],
  "task_keywords": [
    "create ad campaign from product launch doc and send to mailchimp",
    "slack",
    "send slack",
    "create slack",
    "webhook",
    "create campaign",
    "campaign product",
    "product launch",
    "launch doc",
    "doc send",
    "send mailchimp",
    "mailchimp n8n"
  ],
  "required_services": [
    "slack"
  ],
  "triggers": [
    "webhook"
  ],
  "complexity": "simple",
  "workflow": {
    "name": "Create ad campaign from Product launch doc and send to Mailchimp",
    "nodes": [
      {
        "id": "trigger-product-launch-doc",
        "name": "Incoming Trigger",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1,
        "position": [
          -600,
          69000
        ],
        "parameters": {
          "httpMethod": "POST",
          "path": "create-ad-campaign-from-product-launch-doc-and-send-to-mailchimp",
          "responseCode": 200,
          "responseMode": "onReceived"
        }
      },
      {
        "id": "fetch-product-launch-doc",
        "name": "Fetch data from Product launch doc",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 1,
        "position": [
          -300,
          69000
        ],
        "parameters": {
          "method": "GET",
          "url": "https://api.example.com/product-launch-doc",
          "responseFormat": "json"
        }
      },
      {
        "id": "send-mailchimp",
        "name": "Send to Mailchimp",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 1,
        "position": [
          300,
          69000
        ],
        "parameters": {
          "method": "POST",
          "url": "https://api.example.com/mailchimp",
          "responseFormat": "json",
          "options": {}
        }
      },
      {
        "id": "error-handler-600-69000",
        "name": "Send Error to Slack",
        "type": "n8n-nodes-base.slack",
        "typeVersion": 1,
        "position": [
          600,
          69000
        ],
        "parameters": {
          "resource": "message",
          "operation": "post",
          "channel": "#automation-alerts",
          "text": "={{ $json.get('error_message', 'An error occurred') }}"
        }
      }
    ],
    "connections": {
      "Incoming Trigger": {
        "main": [
          [
            {
              "node": "Fetch data from Product launch doc",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch data from Product launch doc": {
        "main": [
          {
            "node": "Send to Mailchimp",
            "type": "main",
            "index": 0
          }
        ]
      },
      "Send to Mailchimp": {
        "main": [
          [
            {
              "node": "Send Error to Slack",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {},
    "active": false
  }
}
