src/data/workflows/workflow-templates/n8n-automation-templates-5000-send-marketing-email-from-product-launch-doc-and-send-to-google-ads-a26ff9fd64.json
{
  "id": "n8n-automation-templates-5000-send-marketing-email-from-product-launch-doc-and-send-to-google-ads-a26ff9fd64",
  "source": {
    "type": "github",
    "repository": "ritik-prog/n8n-automation-templates-5000",
    "repository_stars": 341,
    "path": "n8n_2000_workflows/send-marketing-email-product-launch-doc-google-ads.json",
    "url": "https://github.com/ritik-prog/n8n-automation-templates-5000/blob/main/n8n_2000_workflows/send-marketing-email-product-launch-doc-google-ads.json"
  },
  "name": "Send marketing email from Product launch doc and send to Google Ads",
  "description": "n8n workflow template from ritik-prog/n8n-automation-templates-5000: Send marketing email from Product launch doc and send to Google Ads",
  "category": "AI",
  "tags": [
    "n8n 2000 workflows",
    "slack",
    "webhook",
    "send",
    "marketing",
    "email",
    "product",
    "launch",
    "doc"
  ],
  "task_keywords": [
    "send marketing email from product launch doc and send to google ads",
    "slack",
    "send slack",
    "webhook",
    "send marketing",
    "marketing email",
    "email product",
    "product launch",
    "launch doc",
    "doc send",
    "send google",
    "google ads"
  ],
  "required_services": [
    "slack"
  ],
  "triggers": [
    "webhook"
  ],
  "complexity": "simple",
  "workflow": {
    "name": "Send marketing email from Product launch doc and send to Google Ads",
    "nodes": [
      {
        "id": "trigger-product-launch-doc",
        "name": "Incoming Trigger",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1,
        "position": [
          -600,
          68500
        ],
        "parameters": {
          "httpMethod": "POST",
          "path": "send-marketing-email-from-product-launch-doc-and-send-to-google-ads",
          "responseCode": 200,
          "responseMode": "onReceived"
        }
      },
      {
        "id": "fetch-product-launch-doc",
        "name": "Fetch data from Product launch doc",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 1,
        "position": [
          -300,
          68500
        ],
        "parameters": {
          "method": "GET",
          "url": "https://api.example.com/product-launch-doc",
          "responseFormat": "json"
        }
      },
      {
        "id": "send-google-ads",
        "name": "Send to Google Ads",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 1,
        "position": [
          300,
          68500
        ],
        "parameters": {
          "method": "POST",
          "url": "https://api.example.com/google-ads",
          "responseFormat": "json",
          "options": {}
        }
      },
      {
        "id": "error-handler-600-68500",
        "name": "Send Error to Slack",
        "type": "n8n-nodes-base.slack",
        "typeVersion": 1,
        "position": [
          600,
          68500
        ],
        "parameters": {
          "resource": "message",
          "operation": "post",
          "channel": "#automation-alerts",
          "text": "={{ $json.get('error_message', 'An error occurred') }}"
        }
      }
    ],
    "connections": {
      "Incoming Trigger": {
        "main": [
          [
            {
              "node": "Fetch data from Product launch doc",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch data from Product launch doc": {
        "main": [
          {
            "node": "Send to Google Ads",
            "type": "main",
            "index": 0
          }
        ]
      },
      "Send to Google Ads": {
        "main": [
          [
            {
              "node": "Send Error to Slack",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {},
    "active": false
  }
}
