src/data/workflows/workflow-templates/n8n-automation-templates-5000-create-postmortem-from-jenkins-build-and-send-to-pagerduty-b676c8a12e.json
{
  "id": "n8n-automation-templates-5000-create-postmortem-from-jenkins-build-and-send-to-pagerduty-b676c8a12e",
  "source": {
    "type": "github",
    "repository": "ritik-prog/n8n-automation-templates-5000",
    "repository_stars": 341,
    "path": "n8n_2000_workflows/create-postmortem-jenkins-build-pagerduty.json",
    "url": "https://github.com/ritik-prog/n8n-automation-templates-5000/blob/main/n8n_2000_workflows/create-postmortem-jenkins-build-pagerduty.json"
  },
  "name": "Create postmortem from Jenkins build and send to PagerDuty",
  "description": "n8n workflow template from ritik-prog/n8n-automation-templates-5000: Create postmortem from Jenkins build and send to PagerDuty",
  "category": "Communication",
  "tags": [
    "n8n 2000 workflows",
    "slack",
    "webhook",
    "create",
    "postmortem",
    "jenkins",
    "send",
    "pagerduty",
    "n8n"
  ],
  "task_keywords": [
    "create postmortem from jenkins build and send to pagerduty",
    "slack",
    "send slack",
    "create slack",
    "webhook",
    "create postmortem",
    "postmortem jenkins",
    "jenkins send",
    "send pagerduty",
    "pagerduty n8n",
    "n8n workflow",
    "workflow template"
  ],
  "required_services": [
    "slack"
  ],
  "triggers": [
    "webhook"
  ],
  "complexity": "simple",
  "workflow": {
    "name": "Create postmortem from Jenkins build and send to PagerDuty",
    "nodes": [
      {
        "id": "trigger-jenkins-build",
        "name": "Incoming Trigger",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1,
        "position": [
          -600,
          148600
        ],
        "parameters": {
          "httpMethod": "POST",
          "path": "create-postmortem-from-jenkins-build-and-send-to-pagerduty",
          "responseCode": 200,
          "responseMode": "onReceived"
        }
      },
      {
        "id": "fetch-jenkins-build",
        "name": "Fetch data from Jenkins build",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 1,
        "position": [
          -300,
          148600
        ],
        "parameters": {
          "method": "GET",
          "url": "https://api.example.com/jenkins-build",
          "responseFormat": "json"
        }
      },
      {
        "id": "send-pagerduty",
        "name": "Send to PagerDuty",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 1,
        "position": [
          300,
          148600
        ],
        "parameters": {
          "method": "POST",
          "url": "https://api.example.com/pagerduty",
          "responseFormat": "json",
          "options": {}
        }
      },
      {
        "id": "error-handler-600-148600",
        "name": "Send Error to Slack",
        "type": "n8n-nodes-base.slack",
        "typeVersion": 1,
        "position": [
          600,
          148600
        ],
        "parameters": {
          "resource": "message",
          "operation": "post",
          "channel": "#automation-alerts",
          "text": "={{ $json.get('error_message', 'An error occurred') }}"
        }
      }
    ],
    "connections": {
      "Incoming Trigger": {
        "main": [
          [
            {
              "node": "Fetch data from Jenkins build",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch data from Jenkins build": {
        "main": [
          {
            "node": "Send to PagerDuty",
            "type": "main",
            "index": 0
          }
        ]
      },
      "Send to PagerDuty": {
        "main": [
          [
            {
              "node": "Send Error to Slack",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {},
    "active": false
  }
}
