src/data/workflows/workflow-templates/n8n-automation-templates-5000-escalate-priority-from-zendesk-ticket-and-send-to-email-69f50d9068.json
{
  "id": "n8n-automation-templates-5000-escalate-priority-from-zendesk-ticket-and-send-to-email-69f50d9068",
  "source": {
    "type": "github",
    "repository": "ritik-prog/n8n-automation-templates-5000",
    "repository_stars": 341,
    "path": "n8n_2000_workflows/escalate-priority-zendesk-ticket-email.json",
    "url": "https://github.com/ritik-prog/n8n-automation-templates-5000/blob/main/n8n_2000_workflows/escalate-priority-zendesk-ticket-email.json"
  },
  "name": "Escalate priority from Zendesk ticket and send to Email",
  "description": "n8n workflow template from ritik-prog/n8n-automation-templates-5000: Escalate priority from Zendesk ticket and send to Email",
  "category": "AI",
  "tags": [
    "n8n 2000 workflows",
    "slack",
    "webhook",
    "escalate",
    "priority",
    "zendesk",
    "ticket",
    "send",
    "email"
  ],
  "task_keywords": [
    "escalate priority from zendesk ticket and send to email",
    "slack",
    "send slack",
    "webhook",
    "escalate priority",
    "priority zendesk",
    "zendesk ticket",
    "ticket send",
    "send email",
    "email n8n",
    "n8n workflow",
    "workflow template"
  ],
  "required_services": [
    "slack"
  ],
  "triggers": [
    "webhook"
  ],
  "complexity": "simple",
  "workflow": {
    "name": "Escalate priority from Zendesk ticket and send to Email",
    "nodes": [
      {
        "id": "trigger-zendesk-ticket",
        "name": "Incoming Trigger",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1,
        "position": [
          -600,
          82500
        ],
        "parameters": {
          "httpMethod": "POST",
          "path": "escalate-priority-from-zendesk-ticket-and-send-to-email",
          "responseCode": 200,
          "responseMode": "onReceived"
        }
      },
      {
        "id": "fetch-zendesk-ticket",
        "name": "Fetch data from Zendesk ticket",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 1,
        "position": [
          -300,
          82500
        ],
        "parameters": {
          "method": "GET",
          "url": "https://api.example.com/zendesk-ticket",
          "responseFormat": "json"
        }
      },
      {
        "id": "send-email",
        "name": "Send to Email",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 1,
        "position": [
          300,
          82500
        ],
        "parameters": {
          "method": "POST",
          "url": "https://api.example.com/email",
          "responseFormat": "json",
          "options": {}
        }
      },
      {
        "id": "error-handler-600-82500",
        "name": "Send Error to Slack",
        "type": "n8n-nodes-base.slack",
        "typeVersion": 1,
        "position": [
          600,
          82500
        ],
        "parameters": {
          "resource": "message",
          "operation": "post",
          "channel": "#automation-alerts",
          "text": "={{ $json.get('error_message', 'An error occurred') }}"
        }
      }
    ],
    "connections": {
      "Incoming Trigger": {
        "main": [
          [
            {
              "node": "Fetch data from Zendesk ticket",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch data from Zendesk ticket": {
        "main": [
          {
            "node": "Send to Email",
            "type": "main",
            "index": 0
          }
        ]
      },
      "Send to Email": {
        "main": [
          [
            {
              "node": "Send Error to Slack",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {},
    "active": false
  }
}
