src/data/workflows/workflow-templates/n8n-automation-templates-5000-run-test-suite-from-pagerduty-incident-and-send-to-email-7f7e01572b.json
{
  "id": "n8n-automation-templates-5000-run-test-suite-from-pagerduty-incident-and-send-to-email-7f7e01572b",
  "source": {
    "type": "github",
    "repository": "ritik-prog/n8n-automation-templates-5000",
    "repository_stars": 341,
    "path": "n8n_2000_workflows/run-test-suite-pagerduty-incident-email.json",
    "url": "https://github.com/ritik-prog/n8n-automation-templates-5000/blob/main/n8n_2000_workflows/run-test-suite-pagerduty-incident-email.json"
  },
  "name": "Run test suite from PagerDuty incident and send to Email",
  "description": "n8n workflow template from ritik-prog/n8n-automation-templates-5000: Run test suite from PagerDuty incident and send to Email",
  "category": "AI",
  "tags": [
    "n8n 2000 workflows",
    "slack",
    "webhook",
    "run",
    "test",
    "suite",
    "pagerduty",
    "incident",
    "send"
  ],
  "task_keywords": [
    "run test suite from pagerduty incident and send to email",
    "slack",
    "send slack",
    "webhook",
    "run test",
    "test suite",
    "suite pagerduty",
    "pagerduty incident",
    "incident send",
    "send email",
    "email n8n",
    "n8n workflow"
  ],
  "required_services": [
    "slack"
  ],
  "triggers": [
    "webhook"
  ],
  "complexity": "simple",
  "workflow": {
    "name": "Run test suite from PagerDuty incident and send to Email",
    "nodes": [
      {
        "id": "trigger-pagerduty-incident",
        "name": "Incoming Trigger",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1,
        "position": [
          -600,
          145400
        ],
        "parameters": {
          "httpMethod": "POST",
          "path": "run-test-suite-from-pagerduty-incident-and-send-to-email",
          "responseCode": 200,
          "responseMode": "onReceived"
        }
      },
      {
        "id": "fetch-pagerduty-incident",
        "name": "Fetch data from PagerDuty incident",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 1,
        "position": [
          -300,
          145400
        ],
        "parameters": {
          "method": "GET",
          "url": "https://api.example.com/pagerduty-incident",
          "responseFormat": "json"
        }
      },
      {
        "id": "send-email",
        "name": "Send to Email",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 1,
        "position": [
          300,
          145400
        ],
        "parameters": {
          "method": "POST",
          "url": "https://api.example.com/email",
          "responseFormat": "json",
          "options": {}
        }
      },
      {
        "id": "error-handler-600-145400",
        "name": "Send Error to Slack",
        "type": "n8n-nodes-base.slack",
        "typeVersion": 1,
        "position": [
          600,
          145400
        ],
        "parameters": {
          "resource": "message",
          "operation": "post",
          "channel": "#automation-alerts",
          "text": "={{ $json.get('error_message', 'An error occurred') }}"
        }
      }
    ],
    "connections": {
      "Incoming Trigger": {
        "main": [
          [
            {
              "node": "Fetch data from PagerDuty incident",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch data from PagerDuty incident": {
        "main": [
          {
            "node": "Send to Email",
            "type": "main",
            "index": 0
          }
        ]
      },
      "Send to Email": {
        "main": [
          [
            {
              "node": "Send Error to Slack",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {},
    "active": false
  }
}
