src/data/workflows/workflow-templates/n8n-automation-templates-5000-qualify-lead-from-linkedin-ads-and-send-to-freshsales-1ddccf3bfa.json
{
  "id": "n8n-automation-templates-5000-qualify-lead-from-linkedin-ads-and-send-to-freshsales-1ddccf3bfa",
  "source": {
    "type": "github",
    "repository": "ritik-prog/n8n-automation-templates-5000",
    "repository_stars": 341,
    "path": "n8n_2000_workflows/qualify-lead-linkedin-ads-freshsales.json",
    "url": "https://github.com/ritik-prog/n8n-automation-templates-5000/blob/main/n8n_2000_workflows/qualify-lead-linkedin-ads-freshsales.json"
  },
  "name": "Qualify lead from LinkedIn Ads and send to Freshsales",
  "description": "n8n workflow template from ritik-prog/n8n-automation-templates-5000: Qualify lead from LinkedIn Ads and send to Freshsales",
  "category": "Sales",
  "tags": [
    "n8n 2000 workflows",
    "slack",
    "webhook",
    "qualify",
    "lead",
    "linkedin",
    "ads",
    "send",
    "freshsales"
  ],
  "task_keywords": [
    "qualify lead from linkedin ads and send to freshsales",
    "slack",
    "send slack",
    "webhook",
    "qualify lead",
    "lead linkedin",
    "linkedin ads",
    "ads send",
    "send freshsales",
    "freshsales n8n",
    "n8n workflow",
    "workflow template"
  ],
  "required_services": [
    "slack"
  ],
  "triggers": [
    "webhook"
  ],
  "complexity": "simple",
  "workflow": {
    "name": "Qualify lead from LinkedIn Ads and send to Freshsales",
    "nodes": [
      {
        "id": "trigger-linkedin-ads",
        "name": "Incoming Trigger",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1,
        "position": [
          -600,
          42400
        ],
        "parameters": {
          "httpMethod": "POST",
          "path": "qualify-lead-from-linkedin-ads-and-send-to-freshsales",
          "responseCode": 200,
          "responseMode": "onReceived"
        }
      },
      {
        "id": "fetch-linkedin-ads",
        "name": "Fetch data from LinkedIn Ads",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 1,
        "position": [
          -300,
          42400
        ],
        "parameters": {
          "method": "GET",
          "url": "https://api.example.com/linkedin-ads",
          "responseFormat": "json"
        }
      },
      {
        "id": "send-freshsales",
        "name": "Send to Freshsales",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 1,
        "position": [
          300,
          42400
        ],
        "parameters": {
          "method": "POST",
          "url": "https://api.example.com/freshsales",
          "responseFormat": "json",
          "options": {}
        }
      },
      {
        "id": "error-handler-600-42400",
        "name": "Send Error to Slack",
        "type": "n8n-nodes-base.slack",
        "typeVersion": 1,
        "position": [
          600,
          42400
        ],
        "parameters": {
          "resource": "message",
          "operation": "post",
          "channel": "#automation-alerts",
          "text": "={{ $json.get('error_message', 'An error occurred') }}"
        }
      }
    ],
    "connections": {
      "Incoming Trigger": {
        "main": [
          [
            {
              "node": "Fetch data from LinkedIn Ads",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch data from LinkedIn Ads": {
        "main": [
          {
            "node": "Send to Freshsales",
            "type": "main",
            "index": 0
          }
        ]
      },
      "Send to Freshsales": {
        "main": [
          [
            {
              "node": "Send Error to Slack",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {},
    "active": false
  }
}
