src/data/workflows/workflow-templates/n8n-automation-templates-5000-create-daily-report-from-calendar-event-and-send-to-google-calendar-e1ceb61afa.json
{
  "id": "n8n-automation-templates-5000-create-daily-report-from-calendar-event-and-send-to-google-calendar-e1ceb61afa",
  "source": {
    "type": "github",
    "repository": "ritik-prog/n8n-automation-templates-5000",
    "repository_stars": 341,
    "path": "n8n_2000_workflows/create-daily-report-calendar-event-google-calendar.json",
    "url": "https://github.com/ritik-prog/n8n-automation-templates-5000/blob/main/n8n_2000_workflows/create-daily-report-calendar-event-google-calendar.json"
  },
  "name": "Create daily report from Calendar event and send to Google Calendar",
  "description": "n8n workflow template from ritik-prog/n8n-automation-templates-5000: Create daily report from Calendar event and send to Google Calendar",
  "category": "AI",
  "tags": [
    "n8n 2000 workflows",
    "open AIApi",
    "slack",
    "webhook",
    "create",
    "daily",
    "report",
    "calendar",
    "event",
    "send"
  ],
  "task_keywords": [
    "create daily report from calendar event and send to google calendar",
    "open aiapi",
    "send open aiapi",
    "create open aiapi",
    "slack",
    "send slack",
    "create slack",
    "webhook",
    "create daily",
    "daily report",
    "report calendar",
    "calendar event"
  ],
  "required_services": [
    "open AIApi",
    "slack"
  ],
  "triggers": [
    "webhook"
  ],
  "complexity": "simple",
  "workflow": {
    "name": "Create daily report from Calendar event and send to Google Calendar",
    "nodes": [
      {
        "id": "trigger-calendar-event",
        "name": "Incoming Trigger",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1,
        "position": [
          -600,
          184700
        ],
        "parameters": {
          "httpMethod": "POST",
          "path": "create-daily-report-from-calendar-event-and-send-to-google-calendar",
          "responseCode": 200,
          "responseMode": "onReceived"
        }
      },
      {
        "id": "fetch-calendar-event",
        "name": "Fetch data from Calendar event",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 1,
        "position": [
          -300,
          184700
        ],
        "parameters": {
          "method": "GET",
          "url": "https://api.example.com/calendar-event",
          "responseFormat": "json"
        }
      },
      {
        "id": "ai-create-daily-report",
        "name": "AI: Create Daily Report",
        "type": "n8n-nodes-base.openAIApi",
        "typeVersion": 1,
        "position": [
          0,
          184700
        ],
        "parameters": {
          "model": "gpt-4",
          "operation": "complete",
          "prompt": "Perform the following action on the incoming data: create daily report"
        }
      },
      {
        "id": "send-google-calendar",
        "name": "Send to Google Calendar",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 1,
        "position": [
          300,
          184700
        ],
        "parameters": {
          "method": "POST",
          "url": "https://api.example.com/google-calendar",
          "responseFormat": "json",
          "options": {}
        }
      },
      {
        "id": "error-handler-600-184700",
        "name": "Send Error to Slack",
        "type": "n8n-nodes-base.slack",
        "typeVersion": 1,
        "position": [
          600,
          184700
        ],
        "parameters": {
          "resource": "message",
          "operation": "post",
          "channel": "#automation-alerts",
          "text": "={{ $json.get('error_message', 'An error occurred') }}"
        }
      }
    ],
    "connections": {
      "Incoming Trigger": {
        "main": [
          [
            {
              "node": "Fetch data from Calendar event",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch data from Calendar event": {
        "main": [
          {
            "node": "AI: Create Daily Report",
            "type": "main",
            "index": 0
          }
        ]
      },
      "AI: Create Daily Report": {
        "main": [
          [
            {
              "node": "AI: Create Daily Report",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send to Google Calendar": {
        "main": [
          [
            {
              "node": "Send Error to Slack",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {},
    "active": false
  }
}
