src/data/workflows/workflow-templates/n8n-automation-templates-5000-run-test-suite-from-datadog-alert-and-send-to-pagerduty-c7381e9459.json
{
  "id": "n8n-automation-templates-5000-run-test-suite-from-datadog-alert-and-send-to-pagerduty-c7381e9459",
  "source": {
    "type": "github",
    "repository": "ritik-prog/n8n-automation-templates-5000",
    "repository_stars": 341,
    "path": "n8n_2000_workflows/run-test-suite-datadog-alert-pagerduty.json",
    "url": "https://github.com/ritik-prog/n8n-automation-templates-5000/blob/main/n8n_2000_workflows/run-test-suite-datadog-alert-pagerduty.json"
  },
  "name": "Run test suite from Datadog alert and send to PagerDuty",
  "description": "n8n workflow template from ritik-prog/n8n-automation-templates-5000: Run test suite from Datadog alert and send to PagerDuty",
  "category": "Data",
  "tags": [
    "n8n 2000 workflows",
    "slack",
    "webhook",
    "run",
    "test",
    "suite",
    "datadog",
    "alert",
    "send"
  ],
  "task_keywords": [
    "run test suite from datadog alert and send to pagerduty",
    "slack",
    "send slack",
    "webhook",
    "run test",
    "test suite",
    "suite datadog",
    "datadog alert",
    "alert send",
    "send pagerduty",
    "pagerduty n8n",
    "n8n workflow"
  ],
  "required_services": [
    "slack"
  ],
  "triggers": [
    "webhook"
  ],
  "complexity": "simple",
  "workflow": {
    "name": "Run test suite from Datadog alert and send to PagerDuty",
    "nodes": [
      {
        "id": "trigger-datadog-alert",
        "name": "Incoming Trigger",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1,
        "position": [
          -600,
          142000
        ],
        "parameters": {
          "httpMethod": "POST",
          "path": "run-test-suite-from-datadog-alert-and-send-to-pagerduty",
          "responseCode": 200,
          "responseMode": "onReceived"
        }
      },
      {
        "id": "fetch-datadog-alert",
        "name": "Fetch data from Datadog alert",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 1,
        "position": [
          -300,
          142000
        ],
        "parameters": {
          "method": "GET",
          "url": "https://api.example.com/datadog-alert",
          "responseFormat": "json"
        }
      },
      {
        "id": "send-pagerduty",
        "name": "Send to PagerDuty",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 1,
        "position": [
          300,
          142000
        ],
        "parameters": {
          "method": "POST",
          "url": "https://api.example.com/pagerduty",
          "responseFormat": "json",
          "options": {}
        }
      },
      {
        "id": "error-handler-600-142000",
        "name": "Send Error to Slack",
        "type": "n8n-nodes-base.slack",
        "typeVersion": 1,
        "position": [
          600,
          142000
        ],
        "parameters": {
          "resource": "message",
          "operation": "post",
          "channel": "#automation-alerts",
          "text": "={{ $json.get('error_message', 'An error occurred') }}"
        }
      }
    ],
    "connections": {
      "Incoming Trigger": {
        "main": [
          [
            {
              "node": "Fetch data from Datadog alert",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch data from Datadog alert": {
        "main": [
          {
            "node": "Send to PagerDuty",
            "type": "main",
            "index": 0
          }
        ]
      },
      "Send to PagerDuty": {
        "main": [
          [
            {
              "node": "Send Error to Slack",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {},
    "active": false
  }
}
