src/data/workflows/workflow-templates/n8n-automation-templates-5000-create-social-media-posts-from-new-blog-post-and-send-to-facebook-5e725940cc.json
{
  "id": "n8n-automation-templates-5000-create-social-media-posts-from-new-blog-post-and-send-to-facebook-5e725940cc",
  "source": {
    "type": "github",
    "repository": "ritik-prog/n8n-automation-templates-5000",
    "repository_stars": 341,
    "path": "n8n_2000_workflows/create-social-media-posts-new-blog-post-facebook.json",
    "url": "https://github.com/ritik-prog/n8n-automation-templates-5000/blob/main/n8n_2000_workflows/create-social-media-posts-new-blog-post-facebook.json"
  },
  "name": "Create social media posts from New blog post and send to Facebook",
  "description": "n8n workflow template from ritik-prog/n8n-automation-templates-5000: Create social media posts from New blog post and send to Facebook",
  "category": "Marketing",
  "tags": [
    "n8n 2000 workflows",
    "slack",
    "webhook",
    "create",
    "social",
    "media",
    "posts",
    "blog",
    "post"
  ],
  "task_keywords": [
    "create social media posts from new blog post and send to facebook",
    "slack",
    "send slack",
    "create slack",
    "webhook",
    "create social",
    "social media",
    "media posts",
    "posts blog",
    "blog post",
    "post send",
    "send facebook"
  ],
  "required_services": [
    "slack"
  ],
  "triggers": [
    "webhook"
  ],
  "complexity": "simple",
  "workflow": {
    "name": "Create social media posts from New blog post and send to Facebook",
    "nodes": [
      {
        "id": "trigger-new-blog-post",
        "name": "Incoming Trigger",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1,
        "position": [
          -600,
          59900
        ],
        "parameters": {
          "httpMethod": "POST",
          "path": "create-social-media-posts-from-new-blog-post-and-send-to-facebook",
          "responseCode": 200,
          "responseMode": "onReceived"
        }
      },
      {
        "id": "fetch-new-blog-post",
        "name": "Fetch data from New blog post",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 1,
        "position": [
          -300,
          59900
        ],
        "parameters": {
          "method": "GET",
          "url": "https://api.example.com/new-blog-post",
          "responseFormat": "json"
        }
      },
      {
        "id": "send-facebook",
        "name": "Send to Facebook",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 1,
        "position": [
          300,
          59900
        ],
        "parameters": {
          "method": "POST",
          "url": "https://api.example.com/facebook",
          "responseFormat": "json",
          "options": {}
        }
      },
      {
        "id": "error-handler-600-59900",
        "name": "Send Error to Slack",
        "type": "n8n-nodes-base.slack",
        "typeVersion": 1,
        "position": [
          600,
          59900
        ],
        "parameters": {
          "resource": "message",
          "operation": "post",
          "channel": "#automation-alerts",
          "text": "={{ $json.get('error_message', 'An error occurred') }}"
        }
      }
    ],
    "connections": {
      "Incoming Trigger": {
        "main": [
          [
            {
              "node": "Fetch data from New blog post",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch data from New blog post": {
        "main": [
          {
            "node": "Send to Facebook",
            "type": "main",
            "index": 0
          }
        ]
      },
      "Send to Facebook": {
        "main": [
          [
            {
              "node": "Send Error to Slack",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {},
    "active": false
  }
}
