src/data/workflows/workflow-templates/n8n-automation-templates-5000-create-deal-from-facebook-ads-and-send-to-hubspot-0ffe5a3739.json
{
  "id": "n8n-automation-templates-5000-create-deal-from-facebook-ads-and-send-to-hubspot-0ffe5a3739",
  "source": {
    "type": "github",
    "repository": "ritik-prog/n8n-automation-templates-5000",
    "repository_stars": 341,
    "path": "n8n_2000_workflows/create-deal-facebook-ads-hubspot.json",
    "url": "https://github.com/ritik-prog/n8n-automation-templates-5000/blob/main/n8n_2000_workflows/create-deal-facebook-ads-hubspot.json"
  },
  "name": "Create deal from Facebook Ads and send to HubSpot",
  "description": "n8n workflow template from ritik-prog/n8n-automation-templates-5000: Create deal from Facebook Ads and send to HubSpot",
  "category": "Communication",
  "tags": [
    "n8n 2000 workflows",
    "slack",
    "webhook",
    "create",
    "deal",
    "facebook",
    "ads",
    "send",
    "hubspot"
  ],
  "task_keywords": [
    "create deal from facebook ads and send to hubspot",
    "slack",
    "send slack",
    "create slack",
    "webhook",
    "create deal",
    "deal facebook",
    "facebook ads",
    "ads send",
    "send hubspot",
    "hubspot n8n",
    "n8n workflow"
  ],
  "required_services": [
    "slack"
  ],
  "triggers": [
    "webhook"
  ],
  "complexity": "simple",
  "workflow": {
    "name": "Create deal from Facebook Ads and send to HubSpot",
    "nodes": [
      {
        "id": "trigger-facebook-ads",
        "name": "Incoming Trigger",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1,
        "position": [
          -600,
          33600
        ],
        "parameters": {
          "httpMethod": "POST",
          "path": "create-deal-from-facebook-ads-and-send-to-hubspot",
          "responseCode": 200,
          "responseMode": "onReceived"
        }
      },
      {
        "id": "fetch-facebook-ads",
        "name": "Fetch data from Facebook Ads",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 1,
        "position": [
          -300,
          33600
        ],
        "parameters": {
          "method": "GET",
          "url": "https://api.example.com/facebook-ads",
          "responseFormat": "json"
        }
      },
      {
        "id": "send-hubspot",
        "name": "Send to HubSpot",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 1,
        "position": [
          300,
          33600
        ],
        "parameters": {
          "method": "POST",
          "url": "https://api.example.com/hubspot",
          "responseFormat": "json",
          "options": {}
        }
      },
      {
        "id": "error-handler-600-33600",
        "name": "Send Error to Slack",
        "type": "n8n-nodes-base.slack",
        "typeVersion": 1,
        "position": [
          600,
          33600
        ],
        "parameters": {
          "resource": "message",
          "operation": "post",
          "channel": "#automation-alerts",
          "text": "={{ $json.get('error_message', 'An error occurred') }}"
        }
      }
    ],
    "connections": {
      "Incoming Trigger": {
        "main": [
          [
            {
              "node": "Fetch data from Facebook Ads",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch data from Facebook Ads": {
        "main": [
          {
            "node": "Send to HubSpot",
            "type": "main",
            "index": 0
          }
        ]
      },
      "Send to HubSpot": {
        "main": [
          [
            {
              "node": "Send Error to Slack",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {},
    "active": false
  }
}
