src/data/workflows/workflow-templates/n8n-automation-templates-5000-schedule-appointment-from-patient-record-and-send-to-hospital-system-b0b4c6c83f.json
{
  "id": "n8n-automation-templates-5000-schedule-appointment-from-patient-record-and-send-to-hospital-system-b0b4c6c83f",
  "source": {
    "type": "github",
    "repository": "ritik-prog/n8n-automation-templates-5000",
    "repository_stars": 341,
    "path": "n8n_2000_workflows/schedule-appointment-patient-record-hospital-system.json",
    "url": "https://github.com/ritik-prog/n8n-automation-templates-5000/blob/main/n8n_2000_workflows/schedule-appointment-patient-record-hospital-system.json"
  },
  "name": "Schedule appointment from Patient record and send to Hospital system",
  "description": "n8n workflow template from ritik-prog/n8n-automation-templates-5000: Schedule appointment from Patient record and send to Hospital system",
  "category": "Communication",
  "tags": [
    "n8n 2000 workflows",
    "slack",
    "webhook",
    "schedule",
    "appointment",
    "patient",
    "record",
    "send",
    "hospital"
  ],
  "task_keywords": [
    "schedule appointment from patient record and send to hospital system",
    "slack",
    "send slack",
    "webhook",
    "schedule appointment",
    "appointment patient",
    "patient record",
    "record send",
    "send hospital",
    "hospital system",
    "system n8n",
    "n8n workflow"
  ],
  "required_services": [
    "slack"
  ],
  "triggers": [
    "webhook"
  ],
  "complexity": "simple",
  "workflow": {
    "name": "Schedule appointment from Patient record and send to Hospital system",
    "nodes": [
      {
        "id": "trigger-patient-record",
        "name": "Incoming Trigger",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1,
        "position": [
          -600,
          191700
        ],
        "parameters": {
          "httpMethod": "POST",
          "path": "schedule-appointment-from-patient-record-and-send-to-hospital-system",
          "responseCode": 200,
          "responseMode": "onReceived"
        }
      },
      {
        "id": "fetch-patient-record",
        "name": "Fetch data from Patient record",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 1,
        "position": [
          -300,
          191700
        ],
        "parameters": {
          "method": "GET",
          "url": "https://api.example.com/patient-record",
          "responseFormat": "json"
        }
      },
      {
        "id": "send-hospital-system",
        "name": "Send to Hospital system",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 1,
        "position": [
          300,
          191700
        ],
        "parameters": {
          "method": "POST",
          "url": "https://api.example.com/hospital-system",
          "responseFormat": "json",
          "options": {}
        }
      },
      {
        "id": "error-handler-600-191700",
        "name": "Send Error to Slack",
        "type": "n8n-nodes-base.slack",
        "typeVersion": 1,
        "position": [
          600,
          191700
        ],
        "parameters": {
          "resource": "message",
          "operation": "post",
          "channel": "#automation-alerts",
          "text": "={{ $json.get('error_message', 'An error occurred') }}"
        }
      }
    ],
    "connections": {
      "Incoming Trigger": {
        "main": [
          [
            {
              "node": "Fetch data from Patient record",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch data from Patient record": {
        "main": [
          {
            "node": "Send to Hospital system",
            "type": "main",
            "index": 0
          }
        ]
      },
      "Send to Hospital system": {
        "main": [
          [
            {
              "node": "Send Error to Slack",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {},
    "active": false
  }
}
