src/data/workflows/workflow-templates/n8n-automation-templates-5000-create-postmortem-from-pagerduty-incident-and-send-to-slack-f612bb21d2.json
{
  "id": "n8n-automation-templates-5000-create-postmortem-from-pagerduty-incident-and-send-to-slack-f612bb21d2",
  "source": {
    "type": "github",
    "repository": "ritik-prog/n8n-automation-templates-5000",
    "repository_stars": 341,
    "path": "n8n_2000_workflows/create-postmortem-pagerduty-incident-slack.json",
    "url": "https://github.com/ritik-prog/n8n-automation-templates-5000/blob/main/n8n_2000_workflows/create-postmortem-pagerduty-incident-slack.json"
  },
  "name": "Create postmortem from PagerDuty incident and send to Slack",
  "description": "n8n workflow template from ritik-prog/n8n-automation-templates-5000: Create postmortem from PagerDuty incident and send to Slack",
  "category": "Communication",
  "tags": [
    "n8n 2000 workflows",
    "slack",
    "webhook",
    "create",
    "postmortem",
    "pagerduty",
    "incident",
    "send"
  ],
  "task_keywords": [
    "create postmortem from pagerduty incident and send to slack",
    "slack",
    "send slack",
    "create slack",
    "webhook",
    "create postmortem",
    "postmortem pagerduty",
    "pagerduty incident",
    "incident send",
    "slack n8n",
    "n8n workflow",
    "workflow template"
  ],
  "required_services": [
    "slack"
  ],
  "triggers": [
    "webhook"
  ],
  "complexity": "simple",
  "workflow": {
    "name": "Create postmortem from PagerDuty incident and send to Slack",
    "nodes": [
      {
        "id": "trigger-pagerduty-incident",
        "name": "Incoming Trigger",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1,
        "position": [
          -600,
          144600
        ],
        "parameters": {
          "httpMethod": "POST",
          "path": "create-postmortem-from-pagerduty-incident-and-send-to-slack",
          "responseCode": 200,
          "responseMode": "onReceived"
        }
      },
      {
        "id": "fetch-pagerduty-incident",
        "name": "Fetch data from PagerDuty incident",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 1,
        "position": [
          -300,
          144600
        ],
        "parameters": {
          "method": "GET",
          "url": "https://api.example.com/pagerduty-incident",
          "responseFormat": "json"
        }
      },
      {
        "id": "send-slack",
        "name": "Send to Slack",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 1,
        "position": [
          300,
          144600
        ],
        "parameters": {
          "method": "POST",
          "url": "https://api.example.com/slack",
          "responseFormat": "json",
          "options": {}
        }
      },
      {
        "id": "error-handler-600-144600",
        "name": "Send Error to Slack",
        "type": "n8n-nodes-base.slack",
        "typeVersion": 1,
        "position": [
          600,
          144600
        ],
        "parameters": {
          "resource": "message",
          "operation": "post",
          "channel": "#automation-alerts",
          "text": "={{ $json.get('error_message', 'An error occurred') }}"
        }
      }
    ],
    "connections": {
      "Incoming Trigger": {
        "main": [
          [
            {
              "node": "Fetch data from PagerDuty incident",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch data from PagerDuty incident": {
        "main": [
          {
            "node": "Send to Slack",
            "type": "main",
            "index": 0
          }
        ]
      },
      "Send to Slack": {
        "main": [
          [
            {
              "node": "Send Error to Slack",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {},
    "active": false
  }
}
