src/data/workflows/workflow-templates/n8n-automation-templates-5000-classify-ticket-with-ai-from-zendesk-ticket-and-send-to-knowledge-base-2b4406dde5.json
{
  "id": "n8n-automation-templates-5000-classify-ticket-with-ai-from-zendesk-ticket-and-send-to-knowledge-base-2b4406dde5",
  "source": {
    "type": "github",
    "repository": "ritik-prog/n8n-automation-templates-5000",
    "repository_stars": 341,
    "path": "n8n_2000_workflows/classify-ticket-with-ai-zendesk-ticket-knowledge-base.json",
    "url": "https://github.com/ritik-prog/n8n-automation-templates-5000/blob/main/n8n_2000_workflows/classify-ticket-with-ai-zendesk-ticket-knowledge-base.json"
  },
  "name": "Classify ticket with ai from Zendesk ticket and send to Knowledge base",
  "description": "n8n workflow template from ritik-prog/n8n-automation-templates-5000: Classify ticket with ai from Zendesk ticket and send to Knowledge base",
  "category": "AI",
  "tags": [
    "n8n 2000 workflows",
    "open AIApi",
    "slack",
    "webhook",
    "classify",
    "ticket",
    "zendesk",
    "send",
    "knowledge"
  ],
  "task_keywords": [
    "classify ticket with ai from zendesk ticket and send to knowledge base",
    "open aiapi",
    "send open aiapi",
    "slack",
    "send slack",
    "webhook",
    "classify ticket",
    "ticket zendesk",
    "zendesk ticket",
    "ticket send",
    "send knowledge",
    "knowledge base"
  ],
  "required_services": [
    "open AIApi",
    "slack"
  ],
  "triggers": [
    "webhook"
  ],
  "complexity": "simple",
  "workflow": {
    "name": "Classify ticket with ai from Zendesk ticket and send to Knowledge base",
    "nodes": [
      {
        "id": "trigger-zendesk-ticket",
        "name": "Incoming Trigger",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1,
        "position": [
          -600,
          80400
        ],
        "parameters": {
          "httpMethod": "POST",
          "path": "classify-ticket-with-ai-from-zendesk-ticket-and-send-to-knowledge-base",
          "responseCode": 200,
          "responseMode": "onReceived"
        }
      },
      {
        "id": "fetch-zendesk-ticket",
        "name": "Fetch data from Zendesk ticket",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 1,
        "position": [
          -300,
          80400
        ],
        "parameters": {
          "method": "GET",
          "url": "https://api.example.com/zendesk-ticket",
          "responseFormat": "json"
        }
      },
      {
        "id": "ai-classify-ticket-with-ai",
        "name": "AI: Classify Ticket With Ai",
        "type": "n8n-nodes-base.openAIApi",
        "typeVersion": 1,
        "position": [
          0,
          80400
        ],
        "parameters": {
          "model": "gpt-4",
          "operation": "complete",
          "prompt": "Perform the following action on the incoming data: classify ticket with AI"
        }
      },
      {
        "id": "send-knowledge-base",
        "name": "Send to Knowledge base",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 1,
        "position": [
          300,
          80400
        ],
        "parameters": {
          "method": "POST",
          "url": "https://api.example.com/knowledge-base",
          "responseFormat": "json",
          "options": {}
        }
      },
      {
        "id": "error-handler-600-80400",
        "name": "Send Error to Slack",
        "type": "n8n-nodes-base.slack",
        "typeVersion": 1,
        "position": [
          600,
          80400
        ],
        "parameters": {
          "resource": "message",
          "operation": "post",
          "channel": "#automation-alerts",
          "text": "={{ $json.get('error_message', 'An error occurred') }}"
        }
      }
    ],
    "connections": {
      "Incoming Trigger": {
        "main": [
          [
            {
              "node": "Fetch data from Zendesk ticket",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch data from Zendesk ticket": {
        "main": [
          {
            "node": "AI: Classify Ticket With Ai",
            "type": "main",
            "index": 0
          }
        ]
      },
      "AI: Classify Ticket With Ai": {
        "main": [
          [
            {
              "node": "AI: Classify Ticket With Ai",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send to Knowledge base": {
        "main": [
          [
            {
              "node": "Send Error to Slack",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {},
    "active": false
  }
}
