src/data/workflows/workflow-templates/n8n-automation-templates-5000-create-jira-ticket-from-datadog-alert-and-send-to-slack-ba47a78186.json
{
  "id": "n8n-automation-templates-5000-create-jira-ticket-from-datadog-alert-and-send-to-slack-ba47a78186",
  "source": {
    "type": "github",
    "repository": "ritik-prog/n8n-automation-templates-5000",
    "repository_stars": 341,
    "path": "n8n_2000_workflows/create-jira-ticket-datadog-alert-slack.json",
    "url": "https://github.com/ritik-prog/n8n-automation-templates-5000/blob/main/n8n_2000_workflows/create-jira-ticket-datadog-alert-slack.json"
  },
  "name": "Create jira ticket from Datadog alert and send to Slack",
  "description": "n8n workflow template from ritik-prog/n8n-automation-templates-5000: Create jira ticket from Datadog alert and send to Slack",
  "category": "Data",
  "tags": [
    "n8n 2000 workflows",
    "slack",
    "webhook",
    "create",
    "jira",
    "ticket",
    "datadog",
    "alert",
    "send"
  ],
  "task_keywords": [
    "create jira ticket from datadog alert and send to slack",
    "slack",
    "send slack",
    "create slack",
    "webhook",
    "create jira",
    "jira ticket",
    "ticket datadog",
    "datadog alert",
    "alert send",
    "slack n8n",
    "n8n workflow"
  ],
  "required_services": [
    "slack"
  ],
  "triggers": [
    "webhook"
  ],
  "complexity": "simple",
  "workflow": {
    "name": "Create jira ticket from Datadog alert and send to Slack",
    "nodes": [
      {
        "id": "trigger-datadog-alert",
        "name": "Incoming Trigger",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1,
        "position": [
          -600,
          138600
        ],
        "parameters": {
          "httpMethod": "POST",
          "path": "create-jira-ticket-from-datadog-alert-and-send-to-slack",
          "responseCode": 200,
          "responseMode": "onReceived"
        }
      },
      {
        "id": "fetch-datadog-alert",
        "name": "Fetch data from Datadog alert",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 1,
        "position": [
          -300,
          138600
        ],
        "parameters": {
          "method": "GET",
          "url": "https://api.example.com/datadog-alert",
          "responseFormat": "json"
        }
      },
      {
        "id": "send-slack",
        "name": "Send to Slack",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 1,
        "position": [
          300,
          138600
        ],
        "parameters": {
          "method": "POST",
          "url": "https://api.example.com/slack",
          "responseFormat": "json",
          "options": {}
        }
      },
      {
        "id": "error-handler-600-138600",
        "name": "Send Error to Slack",
        "type": "n8n-nodes-base.slack",
        "typeVersion": 1,
        "position": [
          600,
          138600
        ],
        "parameters": {
          "resource": "message",
          "operation": "post",
          "channel": "#automation-alerts",
          "text": "={{ $json.get('error_message', 'An error occurred') }}"
        }
      }
    ],
    "connections": {
      "Incoming Trigger": {
        "main": [
          [
            {
              "node": "Fetch data from Datadog alert",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch data from Datadog alert": {
        "main": [
          {
            "node": "Send to Slack",
            "type": "main",
            "index": 0
          }
        ]
      },
      "Send to Slack": {
        "main": [
          [
            {
              "node": "Send Error to Slack",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {},
    "active": false
  }
}
