src/data/workflows/workflow-templates/n8n-automation-templates-5000-generate-blog-outline-from-microsoft-teams-and-send-to-salesforce-41dafb54e9.json
{
  "id": "n8n-automation-templates-5000-generate-blog-outline-from-microsoft-teams-and-send-to-salesforce-41dafb54e9",
  "source": {
    "type": "github",
    "repository": "ritik-prog/n8n-automation-templates-5000",
    "repository_stars": 341,
    "path": "n8n_2000_workflows/generate-blog-outline-microsoft-teams-salesforce.json",
    "url": "https://github.com/ritik-prog/n8n-automation-templates-5000/blob/main/n8n_2000_workflows/generate-blog-outline-microsoft-teams-salesforce.json"
  },
  "name": "Generate blog outline from Microsoft Teams and send to Salesforce",
  "description": "n8n workflow template from ritik-prog/n8n-automation-templates-5000: Generate blog outline from Microsoft Teams and send to Salesforce",
  "category": "AI",
  "tags": [
    "n8n 2000 workflows",
    "open AIApi",
    "slack",
    "webhook",
    "generate",
    "blog",
    "outline",
    "microsoft",
    "teams",
    "send"
  ],
  "task_keywords": [
    "generate blog outline from microsoft teams and send to salesforce",
    "open aiapi",
    "send open aiapi",
    "slack",
    "send slack",
    "webhook",
    "generate blog",
    "blog outline",
    "outline microsoft",
    "microsoft teams",
    "teams send",
    "send salesforce"
  ],
  "required_services": [
    "open AIApi",
    "slack"
  ],
  "triggers": [
    "webhook"
  ],
  "complexity": "simple",
  "workflow": {
    "name": "Generate blog outline from Microsoft Teams and send to Salesforce",
    "nodes": [
      {
        "id": "trigger-microsoft-teams",
        "name": "Incoming Trigger",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1,
        "position": [
          -600,
          26000
        ],
        "parameters": {
          "httpMethod": "POST",
          "path": "generate-blog-outline-from-microsoft-teams-and-send-to-salesforce",
          "responseCode": 200,
          "responseMode": "onReceived"
        }
      },
      {
        "id": "fetch-microsoft-teams",
        "name": "Fetch data from Microsoft Teams",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 1,
        "position": [
          -300,
          26000
        ],
        "parameters": {
          "method": "GET",
          "url": "https://api.example.com/microsoft-teams",
          "responseFormat": "json"
        }
      },
      {
        "id": "ai-generate-blog-outline",
        "name": "AI: Generate Blog Outline",
        "type": "n8n-nodes-base.openAIApi",
        "typeVersion": 1,
        "position": [
          0,
          26000
        ],
        "parameters": {
          "model": "gpt-4",
          "operation": "complete",
          "prompt": "Perform the following action on the incoming data: generate blog outline"
        }
      },
      {
        "id": "send-salesforce",
        "name": "Send to Salesforce",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 1,
        "position": [
          300,
          26000
        ],
        "parameters": {
          "method": "POST",
          "url": "https://api.example.com/salesforce",
          "responseFormat": "json",
          "options": {}
        }
      },
      {
        "id": "error-handler-600-26000",
        "name": "Send Error to Slack",
        "type": "n8n-nodes-base.slack",
        "typeVersion": 1,
        "position": [
          600,
          26000
        ],
        "parameters": {
          "resource": "message",
          "operation": "post",
          "channel": "#automation-alerts",
          "text": "={{ $json.get('error_message', 'An error occurred') }}"
        }
      }
    ],
    "connections": {
      "Incoming Trigger": {
        "main": [
          [
            {
              "node": "Fetch data from Microsoft Teams",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch data from Microsoft Teams": {
        "main": [
          {
            "node": "AI: Generate Blog Outline",
            "type": "main",
            "index": 0
          }
        ]
      },
      "AI: Generate Blog Outline": {
        "main": [
          [
            {
              "node": "AI: Generate Blog Outline",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send to Salesforce": {
        "main": [
          [
            {
              "node": "Send Error to Slack",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {},
    "active": false
  }
}
