src/data/workflows/workflow-templates/n8n-automation-templates-5000-generate-marketing-copy-with-ai-from-new-blog-post-and-send-to-mailchimp-9e2a432970.json
{
  "id": "n8n-automation-templates-5000-generate-marketing-copy-with-ai-from-new-blog-post-and-send-to-mailchimp-9e2a432970",
  "source": {
    "type": "github",
    "repository": "ritik-prog/n8n-automation-templates-5000",
    "repository_stars": 341,
    "path": "n8n_2000_workflows/generate-marketing-copy-with-ai-new-blog-post-mailchimp.json",
    "url": "https://github.com/ritik-prog/n8n-automation-templates-5000/blob/main/n8n_2000_workflows/generate-marketing-copy-with-ai-new-blog-post-mailchimp.json"
  },
  "name": "Generate marketing copy with ai from New blog post and send to Mailchimp",
  "description": "n8n workflow template from ritik-prog/n8n-automation-templates-5000: Generate marketing copy with ai from New blog post and send to Mailchimp",
  "category": "AI",
  "tags": [
    "n8n 2000 workflows",
    "open AIApi",
    "slack",
    "webhook",
    "generate",
    "marketing",
    "copy",
    "blog",
    "post",
    "send"
  ],
  "task_keywords": [
    "generate marketing copy with ai from new blog post and send to mailchimp",
    "open aiapi",
    "send open aiapi",
    "slack",
    "send slack",
    "webhook",
    "generate marketing",
    "marketing copy",
    "copy blog",
    "blog post",
    "post send",
    "send mailchimp"
  ],
  "required_services": [
    "open AIApi",
    "slack"
  ],
  "triggers": [
    "webhook"
  ],
  "complexity": "simple",
  "workflow": {
    "name": "Generate marketing copy with ai from New blog post and send to Mailchimp",
    "nodes": [
      {
        "id": "trigger-new-blog-post",
        "name": "Incoming Trigger",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1,
        "position": [
          -600,
          61000
        ],
        "parameters": {
          "httpMethod": "POST",
          "path": "generate-marketing-copy-with-ai-from-new-blog-post-and-send-to-mailchimp",
          "responseCode": 200,
          "responseMode": "onReceived"
        }
      },
      {
        "id": "fetch-new-blog-post",
        "name": "Fetch data from New blog post",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 1,
        "position": [
          -300,
          61000
        ],
        "parameters": {
          "method": "GET",
          "url": "https://api.example.com/new-blog-post",
          "responseFormat": "json"
        }
      },
      {
        "id": "ai-generate-marketing-copy-with-ai",
        "name": "AI: Generate Marketing Copy With Ai",
        "type": "n8n-nodes-base.openAIApi",
        "typeVersion": 1,
        "position": [
          0,
          61000
        ],
        "parameters": {
          "model": "gpt-4",
          "operation": "complete",
          "prompt": "Perform the following action on the incoming data: generate marketing copy with AI"
        }
      },
      {
        "id": "send-mailchimp",
        "name": "Send to Mailchimp",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 1,
        "position": [
          300,
          61000
        ],
        "parameters": {
          "method": "POST",
          "url": "https://api.example.com/mailchimp",
          "responseFormat": "json",
          "options": {}
        }
      },
      {
        "id": "error-handler-600-61000",
        "name": "Send Error to Slack",
        "type": "n8n-nodes-base.slack",
        "typeVersion": 1,
        "position": [
          600,
          61000
        ],
        "parameters": {
          "resource": "message",
          "operation": "post",
          "channel": "#automation-alerts",
          "text": "={{ $json.get('error_message', 'An error occurred') }}"
        }
      }
    ],
    "connections": {
      "Incoming Trigger": {
        "main": [
          [
            {
              "node": "Fetch data from New blog post",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch data from New blog post": {
        "main": [
          {
            "node": "AI: Generate Marketing Copy With Ai",
            "type": "main",
            "index": 0
          }
        ]
      },
      "AI: Generate Marketing Copy With Ai": {
        "main": [
          [
            {
              "node": "AI: Generate Marketing Copy With Ai",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send to Mailchimp": {
        "main": [
          [
            {
              "node": "Send Error to Slack",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {},
    "active": false
  }
}
