src/data/workflows/workflow-templates/n8n-automation-templates-5000-generate-marketing-copy-with-ai-from-airtable-campaign-table-and-send-to-google--1c85ca5d01.json
{
  "id": "n8n-automation-templates-5000-generate-marketing-copy-with-ai-from-airtable-campaign-table-and-send-to-google--1c85ca5d01",
  "source": {
    "type": "github",
    "repository": "ritik-prog/n8n-automation-templates-5000",
    "repository_stars": 341,
    "path": "n8n_2000_workflows/generate-marketing-copy-with-ai-airtable-campaign-table-google-ads.json",
    "url": "https://github.com/ritik-prog/n8n-automation-templates-5000/blob/main/n8n_2000_workflows/generate-marketing-copy-with-ai-airtable-campaign-table-google-ads.json"
  },
  "name": "Generate marketing copy with ai from Airtable campaign table and send to Google Ads",
  "description": "n8n workflow template from ritik-prog/n8n-automation-templates-5000: Generate marketing copy with ai from Airtable campaign table and send to Google Ads",
  "category": "AI",
  "tags": [
    "n8n 2000 workflows",
    "open AIApi",
    "slack",
    "webhook",
    "generate",
    "marketing",
    "copy",
    "airtable",
    "campaign",
    "table"
  ],
  "task_keywords": [
    "generate marketing copy with ai from airtable campaign table and send to google ads",
    "open aiapi",
    "send open aiapi",
    "slack",
    "send slack",
    "webhook",
    "generate marketing",
    "marketing copy",
    "copy airtable",
    "airtable campaign",
    "campaign table",
    "table send"
  ],
  "required_services": [
    "open AIApi",
    "slack"
  ],
  "triggers": [
    "webhook"
  ],
  "complexity": "simple",
  "workflow": {
    "name": "Generate marketing copy with ai from Airtable campaign table and send to Google Ads",
    "nodes": [
      {
        "id": "trigger-airtable-campaign-table",
        "name": "Incoming Trigger",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1,
        "position": [
          -600,
          75700
        ],
        "parameters": {
          "httpMethod": "POST",
          "path": "generate-marketing-copy-with-ai-from-airtable-campaign-table-and-send-to-google-ads",
          "responseCode": 200,
          "responseMode": "onReceived"
        }
      },
      {
        "id": "fetch-airtable-campaign-table",
        "name": "Fetch data from Airtable campaign table",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 1,
        "position": [
          -300,
          75700
        ],
        "parameters": {
          "method": "GET",
          "url": "https://api.example.com/airtable-campaign-table",
          "responseFormat": "json"
        }
      },
      {
        "id": "ai-generate-marketing-copy-with-ai",
        "name": "AI: Generate Marketing Copy With Ai",
        "type": "n8n-nodes-base.openAIApi",
        "typeVersion": 1,
        "position": [
          0,
          75700
        ],
        "parameters": {
          "model": "gpt-4",
          "operation": "complete",
          "prompt": "Perform the following action on the incoming data: generate marketing copy with AI"
        }
      },
      {
        "id": "send-google-ads",
        "name": "Send to Google Ads",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 1,
        "position": [
          300,
          75700
        ],
        "parameters": {
          "method": "POST",
          "url": "https://api.example.com/google-ads",
          "responseFormat": "json",
          "options": {}
        }
      },
      {
        "id": "error-handler-600-75700",
        "name": "Send Error to Slack",
        "type": "n8n-nodes-base.slack",
        "typeVersion": 1,
        "position": [
          600,
          75700
        ],
        "parameters": {
          "resource": "message",
          "operation": "post",
          "channel": "#automation-alerts",
          "text": "={{ $json.get('error_message', 'An error occurred') }}"
        }
      }
    ],
    "connections": {
      "Incoming Trigger": {
        "main": [
          [
            {
              "node": "Fetch data from Airtable campaign table",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch data from Airtable campaign table": {
        "main": [
          {
            "node": "AI: Generate Marketing Copy With Ai",
            "type": "main",
            "index": 0
          }
        ]
      },
      "AI: Generate Marketing Copy With Ai": {
        "main": [
          [
            {
              "node": "AI: Generate Marketing Copy With Ai",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send to Google Ads": {
        "main": [
          [
            {
              "node": "Send Error to Slack",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {},
    "active": false
  }
}
