src/data/workflows/workflow-templates/n8n-automation-templates-5000-store-document-from-procurement-request-and-send-to-sharepoint-72f120d1f6.json
{
  "id": "n8n-automation-templates-5000-store-document-from-procurement-request-and-send-to-sharepoint-72f120d1f6",
  "source": {
    "type": "github",
    "repository": "ritik-prog/n8n-automation-templates-5000",
    "repository_stars": 341,
    "path": "n8n_2000_workflows/store-document-procurement-request-sharepoint.json",
    "url": "https://github.com/ritik-prog/n8n-automation-templates-5000/blob/main/n8n_2000_workflows/store-document-procurement-request-sharepoint.json"
  },
  "name": "Store document from Procurement request and send to SharePoint",
  "description": "n8n workflow template from ritik-prog/n8n-automation-templates-5000: Store document from Procurement request and send to SharePoint",
  "category": "Communication",
  "tags": [
    "n8n 2000 workflows",
    "slack",
    "webhook",
    "store",
    "document",
    "procurement",
    "request",
    "send",
    "sharepoint"
  ],
  "task_keywords": [
    "store document from procurement request and send to sharepoint",
    "slack",
    "send slack",
    "webhook",
    "store document",
    "document procurement",
    "procurement request",
    "request send",
    "send sharepoint",
    "sharepoint n8n",
    "n8n workflow",
    "workflow template"
  ],
  "required_services": [
    "slack"
  ],
  "triggers": [
    "webhook"
  ],
  "complexity": "simple",
  "workflow": {
    "name": "Store document from Procurement request and send to SharePoint",
    "nodes": [
      {
        "id": "trigger-procurement-request",
        "name": "Incoming Trigger",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1,
        "position": [
          -600,
          166200
        ],
        "parameters": {
          "httpMethod": "POST",
          "path": "store-document-from-procurement-request-and-send-to-sharepoint",
          "responseCode": 200,
          "responseMode": "onReceived"
        }
      },
      {
        "id": "fetch-procurement-request",
        "name": "Fetch data from Procurement request",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 1,
        "position": [
          -300,
          166200
        ],
        "parameters": {
          "method": "GET",
          "url": "https://api.example.com/procurement-request",
          "responseFormat": "json"
        }
      },
      {
        "id": "send-sharepoint",
        "name": "Send to SharePoint",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 1,
        "position": [
          300,
          166200
        ],
        "parameters": {
          "method": "POST",
          "url": "https://api.example.com/sharepoint",
          "responseFormat": "json",
          "options": {}
        }
      },
      {
        "id": "error-handler-600-166200",
        "name": "Send Error to Slack",
        "type": "n8n-nodes-base.slack",
        "typeVersion": 1,
        "position": [
          600,
          166200
        ],
        "parameters": {
          "resource": "message",
          "operation": "post",
          "channel": "#automation-alerts",
          "text": "={{ $json.get('error_message', 'An error occurred') }}"
        }
      }
    ],
    "connections": {
      "Incoming Trigger": {
        "main": [
          [
            {
              "node": "Fetch data from Procurement request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch data from Procurement request": {
        "main": [
          {
            "node": "Send to SharePoint",
            "type": "main",
            "index": 0
          }
        ]
      },
      "Send to SharePoint": {
        "main": [
          [
            {
              "node": "Send Error to Slack",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {},
    "active": false
  }
}
