src/data/workflows/workflow-templates/n8n-automation-templates-5000-generate-offer-letter-from-greenhouse-candidate-and-send-to-email-22f2da5ad4.json
{
  "id": "n8n-automation-templates-5000-generate-offer-letter-from-greenhouse-candidate-and-send-to-email-22f2da5ad4",
  "source": {
    "type": "github",
    "repository": "ritik-prog/n8n-automation-templates-5000",
    "repository_stars": 341,
    "path": "n8n_2000_workflows/generate-offer-letter-greenhouse-candidate-email.json",
    "url": "https://github.com/ritik-prog/n8n-automation-templates-5000/blob/main/n8n_2000_workflows/generate-offer-letter-greenhouse-candidate-email.json"
  },
  "name": "Generate offer letter from Greenhouse candidate and send to Email",
  "description": "n8n workflow template from ritik-prog/n8n-automation-templates-5000: Generate offer letter from Greenhouse candidate and send to Email",
  "category": "AI",
  "tags": [
    "n8n 2000 workflows",
    "open AIApi",
    "slack",
    "webhook",
    "generate",
    "offer",
    "letter",
    "greenhouse",
    "candidate",
    "send"
  ],
  "task_keywords": [
    "generate offer letter from greenhouse candidate and send to email",
    "open aiapi",
    "send open aiapi",
    "slack",
    "send slack",
    "webhook",
    "generate offer",
    "offer letter",
    "letter greenhouse",
    "greenhouse candidate",
    "candidate send",
    "send email"
  ],
  "required_services": [
    "open AIApi",
    "slack"
  ],
  "triggers": [
    "webhook"
  ],
  "complexity": "simple",
  "workflow": {
    "name": "Generate offer letter from Greenhouse candidate and send to Email",
    "nodes": [
      {
        "id": "trigger-greenhouse-candidate",
        "name": "Incoming Trigger",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1,
        "position": [
          -600,
          109900
        ],
        "parameters": {
          "httpMethod": "POST",
          "path": "generate-offer-letter-from-greenhouse-candidate-and-send-to-email",
          "responseCode": 200,
          "responseMode": "onReceived"
        }
      },
      {
        "id": "fetch-greenhouse-candidate",
        "name": "Fetch data from Greenhouse candidate",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 1,
        "position": [
          -300,
          109900
        ],
        "parameters": {
          "method": "GET",
          "url": "https://api.example.com/greenhouse-candidate",
          "responseFormat": "json"
        }
      },
      {
        "id": "ai-generate-offer-letter",
        "name": "AI: Generate Offer Letter",
        "type": "n8n-nodes-base.openAIApi",
        "typeVersion": 1,
        "position": [
          0,
          109900
        ],
        "parameters": {
          "model": "gpt-4",
          "operation": "complete",
          "prompt": "Perform the following action on the incoming data: generate offer letter"
        }
      },
      {
        "id": "send-email",
        "name": "Send to Email",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 1,
        "position": [
          300,
          109900
        ],
        "parameters": {
          "method": "POST",
          "url": "https://api.example.com/email",
          "responseFormat": "json",
          "options": {}
        }
      },
      {
        "id": "error-handler-600-109900",
        "name": "Send Error to Slack",
        "type": "n8n-nodes-base.slack",
        "typeVersion": 1,
        "position": [
          600,
          109900
        ],
        "parameters": {
          "resource": "message",
          "operation": "post",
          "channel": "#automation-alerts",
          "text": "={{ $json.get('error_message', 'An error occurred') }}"
        }
      }
    ],
    "connections": {
      "Incoming Trigger": {
        "main": [
          [
            {
              "node": "Fetch data from Greenhouse candidate",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch data from Greenhouse candidate": {
        "main": [
          {
            "node": "AI: Generate Offer Letter",
            "type": "main",
            "index": 0
          }
        ]
      },
      "AI: Generate Offer Letter": {
        "main": [
          [
            {
              "node": "AI: Generate Offer Letter",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send to Email": {
        "main": [
          [
            {
              "node": "Send Error to Slack",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {},
    "active": false
  }
}
