src/data/workflows/workflow-templates/n8n-automation-templates-5000-create-daily-report-from-todoist-task-and-send-to-notion-18f85afba7.json
{
  "id": "n8n-automation-templates-5000-create-daily-report-from-todoist-task-and-send-to-notion-18f85afba7",
  "source": {
    "type": "github",
    "repository": "ritik-prog/n8n-automation-templates-5000",
    "repository_stars": 341,
    "path": "n8n_2000_workflows/create-daily-report-todoist-task-notion.json",
    "url": "https://github.com/ritik-prog/n8n-automation-templates-5000/blob/main/n8n_2000_workflows/create-daily-report-todoist-task-notion.json"
  },
  "name": "Create daily report from Todoist task and send to Notion",
  "description": "n8n workflow template from ritik-prog/n8n-automation-templates-5000: Create daily report from Todoist task and send to Notion",
  "category": "AI",
  "tags": [
    "n8n 2000 workflows",
    "open AIApi",
    "slack",
    "webhook",
    "create",
    "daily",
    "report",
    "todoist",
    "task",
    "send"
  ],
  "task_keywords": [
    "create daily report from todoist task and send to notion",
    "open aiapi",
    "send open aiapi",
    "create open aiapi",
    "slack",
    "send slack",
    "create slack",
    "webhook",
    "create daily",
    "daily report",
    "report todoist",
    "todoist task"
  ],
  "required_services": [
    "open AIApi",
    "slack"
  ],
  "triggers": [
    "webhook"
  ],
  "complexity": "simple",
  "workflow": {
    "name": "Create daily report from Todoist task and send to Notion",
    "nodes": [
      {
        "id": "trigger-todoist-task",
        "name": "Incoming Trigger",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1,
        "position": [
          -600,
          181800
        ],
        "parameters": {
          "httpMethod": "POST",
          "path": "create-daily-report-from-todoist-task-and-send-to-notion",
          "responseCode": 200,
          "responseMode": "onReceived"
        }
      },
      {
        "id": "fetch-todoist-task",
        "name": "Fetch data from Todoist task",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 1,
        "position": [
          -300,
          181800
        ],
        "parameters": {
          "method": "GET",
          "url": "https://api.example.com/todoist-task",
          "responseFormat": "json"
        }
      },
      {
        "id": "ai-create-daily-report",
        "name": "AI: Create Daily Report",
        "type": "n8n-nodes-base.openAIApi",
        "typeVersion": 1,
        "position": [
          0,
          181800
        ],
        "parameters": {
          "model": "gpt-4",
          "operation": "complete",
          "prompt": "Perform the following action on the incoming data: create daily report"
        }
      },
      {
        "id": "send-notion",
        "name": "Send to Notion",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 1,
        "position": [
          300,
          181800
        ],
        "parameters": {
          "method": "POST",
          "url": "https://api.example.com/notion",
          "responseFormat": "json",
          "options": {}
        }
      },
      {
        "id": "error-handler-600-181800",
        "name": "Send Error to Slack",
        "type": "n8n-nodes-base.slack",
        "typeVersion": 1,
        "position": [
          600,
          181800
        ],
        "parameters": {
          "resource": "message",
          "operation": "post",
          "channel": "#automation-alerts",
          "text": "={{ $json.get('error_message', 'An error occurred') }}"
        }
      }
    ],
    "connections": {
      "Incoming Trigger": {
        "main": [
          [
            {
              "node": "Fetch data from Todoist task",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch data from Todoist task": {
        "main": [
          {
            "node": "AI: Create Daily Report",
            "type": "main",
            "index": 0
          }
        ]
      },
      "AI: Create Daily Report": {
        "main": [
          [
            {
              "node": "AI: Create Daily Report",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send to Notion": {
        "main": [
          [
            {
              "node": "Send Error to Slack",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {},
    "active": false
  }
}
