src/data/workflows/workflow-templates/n8n-automation-templates-5000-extract-html-elements-from-external-api-and-send-to-email-4d2a6a3b18.json
{
  "id": "n8n-automation-templates-5000-extract-html-elements-from-external-api-and-send-to-email-4d2a6a3b18",
  "source": {
    "type": "github",
    "repository": "ritik-prog/n8n-automation-templates-5000",
    "repository_stars": 341,
    "path": "n8n_2000_workflows/extract-html-elements-external-api-email.json",
    "url": "https://github.com/ritik-prog/n8n-automation-templates-5000/blob/main/n8n_2000_workflows/extract-html-elements-external-api-email.json"
  },
  "name": "Extract html elements from External API and send to Email",
  "description": "n8n workflow template from ritik-prog/n8n-automation-templates-5000: Extract html elements from External API and send to Email",
  "category": "AI",
  "tags": [
    "n8n 2000 workflows",
    "slack",
    "webhook",
    "extract",
    "html",
    "elements",
    "external",
    "send",
    "email"
  ],
  "task_keywords": [
    "extract html elements from external api and send to email",
    "slack",
    "send slack",
    "webhook",
    "extract html",
    "html elements",
    "elements external",
    "external send",
    "send email",
    "email n8n",
    "n8n workflow",
    "workflow template"
  ],
  "required_services": [
    "slack"
  ],
  "triggers": [
    "webhook"
  ],
  "complexity": "simple",
  "workflow": {
    "name": "Extract html elements from External API and send to Email",
    "nodes": [
      {
        "id": "trigger-external-api",
        "name": "Incoming Trigger",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1,
        "position": [
          -600,
          196200
        ],
        "parameters": {
          "httpMethod": "POST",
          "path": "extract-html-elements-from-external-api-and-send-to-email",
          "responseCode": 200,
          "responseMode": "onReceived"
        }
      },
      {
        "id": "fetch-external-api",
        "name": "Fetch data from External API",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 1,
        "position": [
          -300,
          196200
        ],
        "parameters": {
          "method": "GET",
          "url": "https://api.example.com/external-api",
          "responseFormat": "json"
        }
      },
      {
        "id": "send-email",
        "name": "Send to Email",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 1,
        "position": [
          300,
          196200
        ],
        "parameters": {
          "method": "POST",
          "url": "https://api.example.com/email",
          "responseFormat": "json",
          "options": {}
        }
      },
      {
        "id": "error-handler-600-196200",
        "name": "Send Error to Slack",
        "type": "n8n-nodes-base.slack",
        "typeVersion": 1,
        "position": [
          600,
          196200
        ],
        "parameters": {
          "resource": "message",
          "operation": "post",
          "channel": "#automation-alerts",
          "text": "={{ $json.get('error_message', 'An error occurred') }}"
        }
      }
    ],
    "connections": {
      "Incoming Trigger": {
        "main": [
          [
            {
              "node": "Fetch data from External API",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch data from External API": {
        "main": [
          {
            "node": "Send to Email",
            "type": "main",
            "index": 0
          }
        ]
      },
      "Send to Email": {
        "main": [
          [
            {
              "node": "Send Error to Slack",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {},
    "active": false
  }
}
