src/data/workflows/workflow-templates/n8n-automation-templates-5000-translate-customer-request-from-intercom-chat-and-send-to-slack-d1421073a1.json
{
  "id": "n8n-automation-templates-5000-translate-customer-request-from-intercom-chat-and-send-to-slack-d1421073a1",
  "source": {
    "type": "github",
    "repository": "ritik-prog/n8n-automation-templates-5000",
    "repository_stars": 341,
    "path": "n8n_2000_workflows/translate-customer-request-intercom-chat-slack.json",
    "url": "https://github.com/ritik-prog/n8n-automation-templates-5000/blob/main/n8n_2000_workflows/translate-customer-request-intercom-chat-slack.json"
  },
  "name": "Translate customer request from Intercom chat and send to Slack",
  "description": "n8n workflow template from ritik-prog/n8n-automation-templates-5000: Translate customer request from Intercom chat and send to Slack",
  "category": "AI",
  "tags": [
    "n8n 2000 workflows",
    "open AIApi",
    "slack",
    "webhook",
    "translate",
    "customer",
    "request",
    "intercom",
    "chat",
    "send"
  ],
  "task_keywords": [
    "translate customer request from intercom chat and send to slack",
    "open aiapi",
    "send open aiapi",
    "slack",
    "send slack",
    "webhook",
    "translate customer",
    "customer request",
    "request intercom",
    "intercom chat",
    "chat send",
    "slack n8n"
  ],
  "required_services": [
    "open AIApi",
    "slack"
  ],
  "triggers": [
    "webhook"
  ],
  "complexity": "simple",
  "workflow": {
    "name": "Translate customer request from Intercom chat and send to Slack",
    "nodes": [
      {
        "id": "trigger-intercom-chat",
        "name": "Incoming Trigger",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1,
        "position": [
          -600,
          86600
        ],
        "parameters": {
          "httpMethod": "POST",
          "path": "translate-customer-request-from-intercom-chat-and-send-to-slack",
          "responseCode": 200,
          "responseMode": "onReceived"
        }
      },
      {
        "id": "fetch-intercom-chat",
        "name": "Fetch data from Intercom chat",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 1,
        "position": [
          -300,
          86600
        ],
        "parameters": {
          "method": "GET",
          "url": "https://api.example.com/intercom-chat",
          "responseFormat": "json"
        }
      },
      {
        "id": "ai-translate-customer-request",
        "name": "AI: Translate Customer Request",
        "type": "n8n-nodes-base.openAIApi",
        "typeVersion": 1,
        "position": [
          0,
          86600
        ],
        "parameters": {
          "model": "gpt-4",
          "operation": "complete",
          "prompt": "Perform the following action on the incoming data: translate customer request"
        }
      },
      {
        "id": "send-slack",
        "name": "Send to Slack",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 1,
        "position": [
          300,
          86600
        ],
        "parameters": {
          "method": "POST",
          "url": "https://api.example.com/slack",
          "responseFormat": "json",
          "options": {}
        }
      },
      {
        "id": "error-handler-600-86600",
        "name": "Send Error to Slack",
        "type": "n8n-nodes-base.slack",
        "typeVersion": 1,
        "position": [
          600,
          86600
        ],
        "parameters": {
          "resource": "message",
          "operation": "post",
          "channel": "#automation-alerts",
          "text": "={{ $json.get('error_message', 'An error occurred') }}"
        }
      }
    ],
    "connections": {
      "Incoming Trigger": {
        "main": [
          [
            {
              "node": "Fetch data from Intercom chat",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch data from Intercom chat": {
        "main": [
          {
            "node": "AI: Translate Customer Request",
            "type": "main",
            "index": 0
          }
        ]
      },
      "AI: Translate Customer Request": {
        "main": [
          [
            {
              "node": "AI: Translate Customer Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send to Slack": {
        "main": [
          [
            {
              "node": "Send Error to Slack",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {},
    "active": false
  }
}
