src/data/workflows/workflow-templates/n8n-automation-templates-5000-extract-terms-with-ai-from-contract-document-and-send-to-sap-a79df7d56b.json
{
  "id": "n8n-automation-templates-5000-extract-terms-with-ai-from-contract-document-and-send-to-sap-a79df7d56b",
  "source": {
    "type": "github",
    "repository": "ritik-prog/n8n-automation-templates-5000",
    "repository_stars": 341,
    "path": "n8n_2000_workflows/extract-terms-with-ai-contract-document-sap.json",
    "url": "https://github.com/ritik-prog/n8n-automation-templates-5000/blob/main/n8n_2000_workflows/extract-terms-with-ai-contract-document-sap.json"
  },
  "name": "Extract terms with ai from Contract document and send to SAP",
  "description": "n8n workflow template from ritik-prog/n8n-automation-templates-5000: Extract terms with ai from Contract document and send to SAP",
  "category": "AI",
  "tags": [
    "n8n 2000 workflows",
    "open AIApi",
    "slack",
    "webhook",
    "extract",
    "terms",
    "contract",
    "document",
    "send",
    "sap"
  ],
  "task_keywords": [
    "extract terms with ai from contract document and send to sap",
    "open aiapi",
    "send open aiapi",
    "slack",
    "send slack",
    "webhook",
    "extract terms",
    "terms contract",
    "contract document",
    "document send",
    "send sap",
    "sap n8n"
  ],
  "required_services": [
    "open AIApi",
    "slack"
  ],
  "triggers": [
    "webhook"
  ],
  "complexity": "simple",
  "workflow": {
    "name": "Extract terms with ai from Contract document and send to SAP",
    "nodes": [
      {
        "id": "trigger-contract-document",
        "name": "Incoming Trigger",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1,
        "position": [
          -600,
          160400
        ],
        "parameters": {
          "httpMethod": "POST",
          "path": "extract-terms-with-ai-from-contract-document-and-send-to-sap",
          "responseCode": 200,
          "responseMode": "onReceived"
        }
      },
      {
        "id": "fetch-contract-document",
        "name": "Fetch data from Contract document",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 1,
        "position": [
          -300,
          160400
        ],
        "parameters": {
          "method": "GET",
          "url": "https://api.example.com/contract-document",
          "responseFormat": "json"
        }
      },
      {
        "id": "ai-extract-terms-with-ai",
        "name": "AI: Extract Terms With Ai",
        "type": "n8n-nodes-base.openAIApi",
        "typeVersion": 1,
        "position": [
          0,
          160400
        ],
        "parameters": {
          "model": "gpt-4",
          "operation": "complete",
          "prompt": "Perform the following action on the incoming data: extract terms with AI"
        }
      },
      {
        "id": "send-sap",
        "name": "Send to SAP",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 1,
        "position": [
          300,
          160400
        ],
        "parameters": {
          "method": "POST",
          "url": "https://api.example.com/sap",
          "responseFormat": "json",
          "options": {}
        }
      },
      {
        "id": "error-handler-600-160400",
        "name": "Send Error to Slack",
        "type": "n8n-nodes-base.slack",
        "typeVersion": 1,
        "position": [
          600,
          160400
        ],
        "parameters": {
          "resource": "message",
          "operation": "post",
          "channel": "#automation-alerts",
          "text": "={{ $json.get('error_message', 'An error occurred') }}"
        }
      }
    ],
    "connections": {
      "Incoming Trigger": {
        "main": [
          [
            {
              "node": "Fetch data from Contract document",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch data from Contract document": {
        "main": [
          {
            "node": "AI: Extract Terms With Ai",
            "type": "main",
            "index": 0
          }
        ]
      },
      "AI: Extract Terms With Ai": {
        "main": [
          [
            {
              "node": "AI: Extract Terms With Ai",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send to SAP": {
        "main": [
          [
            {
              "node": "Send Error to Slack",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {},
    "active": false
  }
}
