src/data/workflows/workflow-templates/n8n-automation-templates-5000-create-training-materials-from-docs-cdedc72a24.json
{
  "id": "n8n-automation-templates-5000-create-training-materials-from-docs-cdedc72a24",
  "source": {
    "type": "github",
    "repository": "ritik-prog/n8n-automation-templates-5000",
    "repository_stars": 341,
    "path": "n8n advance/create-training-materials-from-docs.json",
    "url": "https://github.com/ritik-prog/n8n-automation-templates-5000/blob/main/n8n advance/create-training-materials-from-docs.json"
  },
  "name": "create-training-materials-from-docs",
  "description": "n8n workflow template from ritik-prog/n8n-automation-templates-5000: create-training-materials-from-docs",
  "category": "AI",
  "tags": [
    "n8n advance",
    "function",
    "openai",
    "google Sheets",
    "webhook",
    "create",
    "training",
    "materials",
    "docs",
    "n8n",
    "workflow"
  ],
  "task_keywords": [
    "create-training-materials-from-docs",
    "function",
    "create function",
    "openai",
    "create openai",
    "google sheets",
    "create google sheets",
    "webhook",
    "create training",
    "training materials",
    "materials docs",
    "docs n8n"
  ],
  "required_services": [
    "function",
    "openai",
    "google Sheets"
  ],
  "triggers": [
    "webhook"
  ],
  "complexity": "simple",
  "workflow": {
    "name": "create-training-materials-from-docs",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "upload-documentation"
        },
        "id": "1",
        "name": "Documentation Upload Trigger",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1,
        "position": [
          100,
          300
        ],
        "webhookId": "training-doc-upload"
      },
      {
        "parameters": {
          "functionCode": "return [{ json: { title: $json.body.title, content: $json.body.content } }];"
        },
        "id": "2",
        "name": "Extract Documentation Content",
        "type": "n8n-nodes-base.function",
        "typeVersion": 1,
        "position": [
          300,
          300
        ]
      },
      {
        "parameters": {
          "model": "gpt-4",
          "temperature": 0.3,
          "messages": [
            {
              "role": "system",
              "content": "You are an expert instructional designer. Based on the documentation provided, generate a training module including:\n- Learning Objectives\n- Key Concepts\n- Quiz Questions (with answers)\n- Suggested Activities\nRespond in JSON."
            },
            {
              "role": "user",
              "content": "Title: {{$json.title}}\n\nContent: {{$json.content}}"
            }
          ]
        },
        "id": "3",
        "name": "Generate Training Content (GPT-4)",
        "type": "n8n-nodes-base.openai",
        "typeVersion": 1,
        "position": [
          500,
          300
        ],
        "credentials": {
          "openAiApi": {
            "id": "openai_credential",
            "name": "OpenAI API"
          }
        }
      },
      {
        "parameters": {
          "functionCode": "const data = JSON.parse($json.choices[0].message.content); return [{ json: data }];"
        },
        "id": "4",
        "name": "Parse Training Module",
        "type": "n8n-nodes-base.function",
        "typeVersion": 1,
        "position": [
          700,
          300
        ]
      },
      {
        "parameters": {
          "sheetId": "training-materials-id",
          "range": "Modules!A1",
          "valueInputMode": "USER_ENTERED",
          "fields": [
            "={{$json.learningObjectives}}",
            "={{$json.keyConcepts}}",
            "={{$json.quizQuestions}}",
            "={{$json.suggestedActivities}}"
          ]
        },
        "id": "5",
        "name": "Save Training Material to Sheet",
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 1,
        "position": [
          900,
          300
        ],
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "google_sheets_credential",
            "name": "Google Sheets"
          }
        }
      }
    ],
    "connections": {
      "Documentation Upload Trigger": {
        "main": [
          [
            {
              "node": "Extract Documentation Content",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract Documentation Content": {
        "main": [
          [
            {
              "node": "Generate Training Content (GPT-4)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Generate Training Content (GPT-4)": {
        "main": [
          [
            {
              "node": "Parse Training Module",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse Training Module": {
        "main": [
          [
            {
              "node": "Save Training Material to Sheet",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "active": false
  }
}
