src/data/workflows/workflow-templates/n8n-automation-templates-5000-update-ticket-status-from-intercom-chat-and-send-to-knowledge-base-0ee4ff849d.json
{
  "id": "n8n-automation-templates-5000-update-ticket-status-from-intercom-chat-and-send-to-knowledge-base-0ee4ff849d",
  "source": {
    "type": "github",
    "repository": "ritik-prog/n8n-automation-templates-5000",
    "repository_stars": 341,
    "path": "n8n_2000_workflows/update-ticket-status-intercom-chat-knowledge-base.json",
    "url": "https://github.com/ritik-prog/n8n-automation-templates-5000/blob/main/n8n_2000_workflows/update-ticket-status-intercom-chat-knowledge-base.json"
  },
  "name": "Update ticket status from Intercom chat and send to Knowledge base",
  "description": "n8n workflow template from ritik-prog/n8n-automation-templates-5000: Update ticket status from Intercom chat and send to Knowledge base",
  "category": "Communication",
  "tags": [
    "n8n 2000 workflows",
    "slack",
    "webhook",
    "update",
    "ticket",
    "status",
    "intercom",
    "chat",
    "send"
  ],
  "task_keywords": [
    "update ticket status from intercom chat and send to knowledge base",
    "slack",
    "send slack",
    "update slack",
    "webhook",
    "update ticket",
    "ticket status",
    "status intercom",
    "intercom chat",
    "chat send",
    "send knowledge",
    "knowledge base"
  ],
  "required_services": [
    "slack"
  ],
  "triggers": [
    "webhook"
  ],
  "complexity": "simple",
  "workflow": {
    "name": "Update ticket status from Intercom chat and send to Knowledge base",
    "nodes": [
      {
        "id": "trigger-intercom-chat",
        "name": "Incoming Trigger",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1,
        "position": [
          -600,
          85800
        ],
        "parameters": {
          "httpMethod": "POST",
          "path": "update-ticket-status-from-intercom-chat-and-send-to-knowledge-base",
          "responseCode": 200,
          "responseMode": "onReceived"
        }
      },
      {
        "id": "fetch-intercom-chat",
        "name": "Fetch data from Intercom chat",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 1,
        "position": [
          -300,
          85800
        ],
        "parameters": {
          "method": "GET",
          "url": "https://api.example.com/intercom-chat",
          "responseFormat": "json"
        }
      },
      {
        "id": "send-knowledge-base",
        "name": "Send to Knowledge base",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 1,
        "position": [
          300,
          85800
        ],
        "parameters": {
          "method": "POST",
          "url": "https://api.example.com/knowledge-base",
          "responseFormat": "json",
          "options": {}
        }
      },
      {
        "id": "error-handler-600-85800",
        "name": "Send Error to Slack",
        "type": "n8n-nodes-base.slack",
        "typeVersion": 1,
        "position": [
          600,
          85800
        ],
        "parameters": {
          "resource": "message",
          "operation": "post",
          "channel": "#automation-alerts",
          "text": "={{ $json.get('error_message', 'An error occurred') }}"
        }
      }
    ],
    "connections": {
      "Incoming Trigger": {
        "main": [
          [
            {
              "node": "Fetch data from Intercom chat",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch data from Intercom chat": {
        "main": [
          {
            "node": "Send to Knowledge base",
            "type": "main",
            "index": 0
          }
        ]
      },
      "Send to Knowledge base": {
        "main": [
          [
            {
              "node": "Send Error to Slack",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {},
    "active": false
  }
}
