src/data/workflows/workflow-templates/n8n-automation-templates-5000-notify-team-from-trello-card-and-send-to-slack-22fd162801.json
{
  "id": "n8n-automation-templates-5000-notify-team-from-trello-card-and-send-to-slack-22fd162801",
  "source": {
    "type": "github",
    "repository": "ritik-prog/n8n-automation-templates-5000",
    "repository_stars": 341,
    "path": "n8n_2000_workflows/notify-team-trello-card-slack.json",
    "url": "https://github.com/ritik-prog/n8n-automation-templates-5000/blob/main/n8n_2000_workflows/notify-team-trello-card-slack.json"
  },
  "name": "Notify team from Trello card and send to Slack",
  "description": "n8n workflow template from ritik-prog/n8n-automation-templates-5000: Notify team from Trello card and send to Slack",
  "category": "Communication",
  "tags": [
    "n8n 2000 workflows",
    "slack",
    "webhook",
    "notify",
    "team",
    "trello",
    "card",
    "send"
  ],
  "task_keywords": [
    "notify team from trello card and send to slack",
    "slack",
    "send slack",
    "notify slack",
    "webhook",
    "notify team",
    "team trello",
    "trello card",
    "card send",
    "slack n8n",
    "n8n workflow",
    "workflow template"
  ],
  "required_services": [
    "slack"
  ],
  "triggers": [
    "webhook"
  ],
  "complexity": "simple",
  "workflow": {
    "name": "Notify team from Trello card and send to Slack",
    "nodes": [
      {
        "id": "trigger-trello-card",
        "name": "Incoming Trigger",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1,
        "position": [
          -600,
          154000
        ],
        "parameters": {
          "httpMethod": "POST",
          "path": "notify-team-from-trello-card-and-send-to-slack",
          "responseCode": 200,
          "responseMode": "onReceived"
        }
      },
      {
        "id": "fetch-trello-card",
        "name": "Fetch data from Trello card",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 1,
        "position": [
          -300,
          154000
        ],
        "parameters": {
          "method": "GET",
          "url": "https://api.example.com/trello-card",
          "responseFormat": "json"
        }
      },
      {
        "id": "send-slack",
        "name": "Send to Slack",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 1,
        "position": [
          300,
          154000
        ],
        "parameters": {
          "method": "POST",
          "url": "https://api.example.com/slack",
          "responseFormat": "json",
          "options": {}
        }
      },
      {
        "id": "error-handler-600-154000",
        "name": "Send Error to Slack",
        "type": "n8n-nodes-base.slack",
        "typeVersion": 1,
        "position": [
          600,
          154000
        ],
        "parameters": {
          "resource": "message",
          "operation": "post",
          "channel": "#automation-alerts",
          "text": "={{ $json.get('error_message', 'An error occurred') }}"
        }
      }
    ],
    "connections": {
      "Incoming Trigger": {
        "main": [
          [
            {
              "node": "Fetch data from Trello card",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch data from Trello card": {
        "main": [
          {
            "node": "Send to Slack",
            "type": "main",
            "index": 0
          }
        ]
      },
      "Send to Slack": {
        "main": [
          [
            {
              "node": "Send Error to Slack",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {},
    "active": false
  }
}
