src/data/workflows/workflow-templates/n8n-automation-templates-5000-generate-ad-copy-from-zoom-and-send-to-google-sheets-7fbb36a5db.json
{
  "id": "n8n-automation-templates-5000-generate-ad-copy-from-zoom-and-send-to-google-sheets-7fbb36a5db",
  "source": {
    "type": "github",
    "repository": "ritik-prog/n8n-automation-templates-5000",
    "repository_stars": 341,
    "path": "n8n_2000_workflows/generate-ad-copy-zoom-google-sheets.json",
    "url": "https://github.com/ritik-prog/n8n-automation-templates-5000/blob/main/n8n_2000_workflows/generate-ad-copy-zoom-google-sheets.json"
  },
  "name": "Generate ad copy from Zoom and send to Google Sheets",
  "description": "n8n workflow template from ritik-prog/n8n-automation-templates-5000: Generate ad copy from Zoom and send to Google Sheets",
  "category": "AI",
  "tags": [
    "n8n 2000 workflows",
    "open AIApi",
    "slack",
    "webhook",
    "generate",
    "copy",
    "zoom",
    "send",
    "google",
    "sheets"
  ],
  "task_keywords": [
    "generate ad copy from zoom and send to google sheets",
    "open aiapi",
    "send open aiapi",
    "slack",
    "send slack",
    "webhook",
    "generate copy",
    "copy zoom",
    "zoom send",
    "send google",
    "google sheets",
    "sheets n8n"
  ],
  "required_services": [
    "open AIApi",
    "slack"
  ],
  "triggers": [
    "webhook"
  ],
  "complexity": "simple",
  "workflow": {
    "name": "Generate ad copy from Zoom and send to Google Sheets",
    "nodes": [
      {
        "id": "trigger-zoom",
        "name": "Incoming Trigger",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1,
        "position": [
          -600,
          7500
        ],
        "parameters": {
          "httpMethod": "POST",
          "path": "generate-ad-copy-from-zoom-and-send-to-google-sheets",
          "responseCode": 200,
          "responseMode": "onReceived"
        }
      },
      {
        "id": "fetch-zoom",
        "name": "Fetch data from Zoom",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 1,
        "position": [
          -300,
          7500
        ],
        "parameters": {
          "method": "GET",
          "url": "https://api.example.com/zoom",
          "responseFormat": "json"
        }
      },
      {
        "id": "ai-generate-ad-copy",
        "name": "AI: Generate Ad Copy",
        "type": "n8n-nodes-base.openAIApi",
        "typeVersion": 1,
        "position": [
          0,
          7500
        ],
        "parameters": {
          "model": "gpt-4",
          "operation": "complete",
          "prompt": "Perform the following action on the incoming data: generate ad copy"
        }
      },
      {
        "id": "send-google-sheets",
        "name": "Send to Google Sheets",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 1,
        "position": [
          300,
          7500
        ],
        "parameters": {
          "method": "POST",
          "url": "https://api.example.com/google-sheets",
          "responseFormat": "json",
          "options": {}
        }
      },
      {
        "id": "error-handler-600-7500",
        "name": "Send Error to Slack",
        "type": "n8n-nodes-base.slack",
        "typeVersion": 1,
        "position": [
          600,
          7500
        ],
        "parameters": {
          "resource": "message",
          "operation": "post",
          "channel": "#automation-alerts",
          "text": "={{ $json.get('error_message', 'An error occurred') }}"
        }
      }
    ],
    "connections": {
      "Incoming Trigger": {
        "main": [
          [
            {
              "node": "Fetch data from Zoom",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch data from Zoom": {
        "main": [
          {
            "node": "AI: Generate Ad Copy",
            "type": "main",
            "index": 0
          }
        ]
      },
      "AI: Generate Ad Copy": {
        "main": [
          [
            {
              "node": "AI: Generate Ad Copy",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send to Google Sheets": {
        "main": [
          [
            {
              "node": "Send Error to Slack",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {},
    "active": false
  }
}
