src/data/workflows/workflow-templates/n8n-automation-templates-5000-update-campaign-analytics-from-airtable-campaign-table-and-send-to-mailchimp-290f438c05.json
{
  "id": "n8n-automation-templates-5000-update-campaign-analytics-from-airtable-campaign-table-and-send-to-mailchimp-290f438c05",
  "source": {
    "type": "github",
    "repository": "ritik-prog/n8n-automation-templates-5000",
    "repository_stars": 341,
    "path": "n8n_2000_workflows/update-campaign-analytics-airtable-campaign-table-mailchimp.json",
    "url": "https://github.com/ritik-prog/n8n-automation-templates-5000/blob/main/n8n_2000_workflows/update-campaign-analytics-airtable-campaign-table-mailchimp.json"
  },
  "name": "Update campaign analytics from Airtable campaign table and send to Mailchimp",
  "description": "n8n workflow template from ritik-prog/n8n-automation-templates-5000: Update campaign analytics from Airtable campaign table and send to Mailchimp",
  "category": "AI",
  "tags": [
    "n8n 2000 workflows",
    "slack",
    "webhook",
    "update",
    "campaign",
    "analytics",
    "airtable",
    "table"
  ],
  "task_keywords": [
    "update campaign analytics from airtable campaign table and send to mailchimp",
    "slack",
    "send slack",
    "update slack",
    "webhook",
    "update campaign",
    "campaign analytics",
    "analytics airtable",
    "airtable campaign",
    "campaign table",
    "table send",
    "send mailchimp"
  ],
  "required_services": [
    "slack"
  ],
  "triggers": [
    "webhook"
  ],
  "complexity": "simple",
  "workflow": {
    "name": "Update campaign analytics from Airtable campaign table and send to Mailchimp",
    "nodes": [
      {
        "id": "trigger-airtable-campaign-table",
        "name": "Incoming Trigger",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1,
        "position": [
          -600,
          77000
        ],
        "parameters": {
          "httpMethod": "POST",
          "path": "update-campaign-analytics-from-airtable-campaign-table-and-send-to-mailchimp",
          "responseCode": 200,
          "responseMode": "onReceived"
        }
      },
      {
        "id": "fetch-airtable-campaign-table",
        "name": "Fetch data from Airtable campaign table",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 1,
        "position": [
          -300,
          77000
        ],
        "parameters": {
          "method": "GET",
          "url": "https://api.example.com/airtable-campaign-table",
          "responseFormat": "json"
        }
      },
      {
        "id": "send-mailchimp",
        "name": "Send to Mailchimp",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 1,
        "position": [
          300,
          77000
        ],
        "parameters": {
          "method": "POST",
          "url": "https://api.example.com/mailchimp",
          "responseFormat": "json",
          "options": {}
        }
      },
      {
        "id": "error-handler-600-77000",
        "name": "Send Error to Slack",
        "type": "n8n-nodes-base.slack",
        "typeVersion": 1,
        "position": [
          600,
          77000
        ],
        "parameters": {
          "resource": "message",
          "operation": "post",
          "channel": "#automation-alerts",
          "text": "={{ $json.get('error_message', 'An error occurred') }}"
        }
      }
    ],
    "connections": {
      "Incoming Trigger": {
        "main": [
          [
            {
              "node": "Fetch data from Airtable campaign table",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch data from Airtable campaign table": {
        "main": [
          {
            "node": "Send to Mailchimp",
            "type": "main",
            "index": 0
          }
        ]
      },
      "Send to Mailchimp": {
        "main": [
          [
            {
              "node": "Send Error to Slack",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {},
    "active": false
  }
}
