src/data/workflows/workflow-templates/n8n-automation-templates-5000-generate-social-media-captions-from-google-meet-and-send-to-google-sheets-9251f5702c.json
{
  "id": "n8n-automation-templates-5000-generate-social-media-captions-from-google-meet-and-send-to-google-sheets-9251f5702c",
  "source": {
    "type": "github",
    "repository": "ritik-prog/n8n-automation-templates-5000",
    "repository_stars": 341,
    "path": "n8n_2000_workflows/generate-social-media-captions-google-meet-google-sheets.json",
    "url": "https://github.com/ritik-prog/n8n-automation-templates-5000/blob/main/n8n_2000_workflows/generate-social-media-captions-google-meet-google-sheets.json"
  },
  "name": "Generate social media captions from Google Meet and send to Google Sheets",
  "description": "n8n workflow template from ritik-prog/n8n-automation-templates-5000: Generate social media captions from Google Meet and send to Google Sheets",
  "category": "AI",
  "tags": [
    "n8n 2000 workflows",
    "open AIApi",
    "slack",
    "webhook",
    "generate",
    "social",
    "media",
    "captions",
    "google",
    "meet"
  ],
  "task_keywords": [
    "generate social media captions from google meet and send to google sheets",
    "open aiapi",
    "send open aiapi",
    "slack",
    "send slack",
    "webhook",
    "generate social",
    "social media",
    "media captions",
    "captions google",
    "google meet",
    "meet send"
  ],
  "required_services": [
    "open AIApi",
    "slack"
  ],
  "triggers": [
    "webhook"
  ],
  "complexity": "simple",
  "workflow": {
    "name": "Generate social media captions from Google Meet and send to Google Sheets",
    "nodes": [
      {
        "id": "trigger-google-meet",
        "name": "Incoming Trigger",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1,
        "position": [
          -600,
          17900
        ],
        "parameters": {
          "httpMethod": "POST",
          "path": "generate-social-media-captions-from-google-meet-and-send-to-google-sheets",
          "responseCode": 200,
          "responseMode": "onReceived"
        }
      },
      {
        "id": "fetch-google-meet",
        "name": "Fetch data from Google Meet",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 1,
        "position": [
          -300,
          17900
        ],
        "parameters": {
          "method": "GET",
          "url": "https://api.example.com/google-meet",
          "responseFormat": "json"
        }
      },
      {
        "id": "ai-generate-social-media-captions",
        "name": "AI: Generate Social Media Captions",
        "type": "n8n-nodes-base.openAIApi",
        "typeVersion": 1,
        "position": [
          0,
          17900
        ],
        "parameters": {
          "model": "gpt-4",
          "operation": "complete",
          "prompt": "Perform the following action on the incoming data: generate social media captions"
        }
      },
      {
        "id": "send-google-sheets",
        "name": "Send to Google Sheets",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 1,
        "position": [
          300,
          17900
        ],
        "parameters": {
          "method": "POST",
          "url": "https://api.example.com/google-sheets",
          "responseFormat": "json",
          "options": {}
        }
      },
      {
        "id": "error-handler-600-17900",
        "name": "Send Error to Slack",
        "type": "n8n-nodes-base.slack",
        "typeVersion": 1,
        "position": [
          600,
          17900
        ],
        "parameters": {
          "resource": "message",
          "operation": "post",
          "channel": "#automation-alerts",
          "text": "={{ $json.get('error_message', 'An error occurred') }}"
        }
      }
    ],
    "connections": {
      "Incoming Trigger": {
        "main": [
          [
            {
              "node": "Fetch data from Google Meet",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch data from Google Meet": {
        "main": [
          {
            "node": "AI: Generate Social Media Captions",
            "type": "main",
            "index": 0
          }
        ]
      },
      "AI: Generate Social Media Captions": {
        "main": [
          [
            {
              "node": "AI: Generate Social Media Captions",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send to Google Sheets": {
        "main": [
          [
            {
              "node": "Send Error to Slack",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {},
    "active": false
  }
}
