src/data/workflows/workflow-templates/n8n-automation-templates-5000-create-postmortem-from-datadog-alert-and-send-to-jira-235b03d074.json
{
  "id": "n8n-automation-templates-5000-create-postmortem-from-datadog-alert-and-send-to-jira-235b03d074",
  "source": {
    "type": "github",
    "repository": "ritik-prog/n8n-automation-templates-5000",
    "repository_stars": 341,
    "path": "n8n_2000_workflows/create-postmortem-datadog-alert-jira.json",
    "url": "https://github.com/ritik-prog/n8n-automation-templates-5000/blob/main/n8n_2000_workflows/create-postmortem-datadog-alert-jira.json"
  },
  "name": "Create postmortem from Datadog alert and send to Jira",
  "description": "n8n workflow template from ritik-prog/n8n-automation-templates-5000: Create postmortem from Datadog alert and send to Jira",
  "category": "Data",
  "tags": [
    "n8n 2000 workflows",
    "slack",
    "webhook",
    "create",
    "postmortem",
    "datadog",
    "alert",
    "send",
    "jira"
  ],
  "task_keywords": [
    "create postmortem from datadog alert and send to jira",
    "slack",
    "send slack",
    "create slack",
    "webhook",
    "create postmortem",
    "postmortem datadog",
    "datadog alert",
    "alert send",
    "send jira",
    "jira n8n",
    "n8n workflow"
  ],
  "required_services": [
    "slack"
  ],
  "triggers": [
    "webhook"
  ],
  "complexity": "simple",
  "workflow": {
    "name": "Create postmortem from Datadog alert and send to Jira",
    "nodes": [
      {
        "id": "trigger-datadog-alert",
        "name": "Incoming Trigger",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1,
        "position": [
          -600,
          141100
        ],
        "parameters": {
          "httpMethod": "POST",
          "path": "create-postmortem-from-datadog-alert-and-send-to-jira",
          "responseCode": 200,
          "responseMode": "onReceived"
        }
      },
      {
        "id": "fetch-datadog-alert",
        "name": "Fetch data from Datadog alert",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 1,
        "position": [
          -300,
          141100
        ],
        "parameters": {
          "method": "GET",
          "url": "https://api.example.com/datadog-alert",
          "responseFormat": "json"
        }
      },
      {
        "id": "send-jira",
        "name": "Send to Jira",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 1,
        "position": [
          300,
          141100
        ],
        "parameters": {
          "method": "POST",
          "url": "https://api.example.com/jira",
          "responseFormat": "json",
          "options": {}
        }
      },
      {
        "id": "error-handler-600-141100",
        "name": "Send Error to Slack",
        "type": "n8n-nodes-base.slack",
        "typeVersion": 1,
        "position": [
          600,
          141100
        ],
        "parameters": {
          "resource": "message",
          "operation": "post",
          "channel": "#automation-alerts",
          "text": "={{ $json.get('error_message', 'An error occurred') }}"
        }
      }
    ],
    "connections": {
      "Incoming Trigger": {
        "main": [
          [
            {
              "node": "Fetch data from Datadog alert",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch data from Datadog alert": {
        "main": [
          {
            "node": "Send to Jira",
            "type": "main",
            "index": 0
          }
        ]
      },
      "Send to Jira": {
        "main": [
          [
            {
              "node": "Send Error to Slack",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {},
    "active": false
  }
}
