src/data/workflows/workflow-templates/n8n-automation-templates-5000-assign-to-team-member-from-notion-item-and-send-to-email-c45c64f3ca.json
{
  "id": "n8n-automation-templates-5000-assign-to-team-member-from-notion-item-and-send-to-email-c45c64f3ca",
  "source": {
    "type": "github",
    "repository": "ritik-prog/n8n-automation-templates-5000",
    "repository_stars": 341,
    "path": "n8n_2000_workflows/assign-to-team-member-notion-item-email.json",
    "url": "https://github.com/ritik-prog/n8n-automation-templates-5000/blob/main/n8n_2000_workflows/assign-to-team-member-notion-item-email.json"
  },
  "name": "Assign to team member from Notion item and send to Email",
  "description": "n8n workflow template from ritik-prog/n8n-automation-templates-5000: Assign to team member from Notion item and send to Email",
  "category": "AI",
  "tags": [
    "n8n 2000 workflows",
    "slack",
    "webhook",
    "assign",
    "team",
    "member",
    "notion",
    "item",
    "send"
  ],
  "task_keywords": [
    "assign to team member from notion item and send to email",
    "slack",
    "send slack",
    "webhook",
    "assign team",
    "team member",
    "member notion",
    "notion item",
    "item send",
    "send email",
    "email n8n",
    "n8n workflow"
  ],
  "required_services": [
    "slack"
  ],
  "triggers": [
    "webhook"
  ],
  "complexity": "simple",
  "workflow": {
    "name": "Assign to team member from Notion item and send to Email",
    "nodes": [
      {
        "id": "trigger-notion-item",
        "name": "Incoming Trigger",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1,
        "position": [
          -600,
          155100
        ],
        "parameters": {
          "httpMethod": "POST",
          "path": "assign-to-team-member-from-notion-item-and-send-to-email",
          "responseCode": 200,
          "responseMode": "onReceived"
        }
      },
      {
        "id": "fetch-notion-item",
        "name": "Fetch data from Notion item",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 1,
        "position": [
          -300,
          155100
        ],
        "parameters": {
          "method": "GET",
          "url": "https://api.example.com/notion-item",
          "responseFormat": "json"
        }
      },
      {
        "id": "send-email",
        "name": "Send to Email",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 1,
        "position": [
          300,
          155100
        ],
        "parameters": {
          "method": "POST",
          "url": "https://api.example.com/email",
          "responseFormat": "json",
          "options": {}
        }
      },
      {
        "id": "error-handler-600-155100",
        "name": "Send Error to Slack",
        "type": "n8n-nodes-base.slack",
        "typeVersion": 1,
        "position": [
          600,
          155100
        ],
        "parameters": {
          "resource": "message",
          "operation": "post",
          "channel": "#automation-alerts",
          "text": "={{ $json.get('error_message', 'An error occurred') }}"
        }
      }
    ],
    "connections": {
      "Incoming Trigger": {
        "main": [
          [
            {
              "node": "Fetch data from Notion item",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch data from Notion item": {
        "main": [
          {
            "node": "Send to Email",
            "type": "main",
            "index": 0
          }
        ]
      },
      "Send to Email": {
        "main": [
          [
            {
              "node": "Send Error to Slack",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {},
    "active": false
  }
}
