src/data/workflows/workflow-templates/n8n-automation-templates-5000-send-order-confirmation-from-shopify-order-and-send-to-google-sheets-404864fdfb.json
{
  "id": "n8n-automation-templates-5000-send-order-confirmation-from-shopify-order-and-send-to-google-sheets-404864fdfb",
  "source": {
    "type": "github",
    "repository": "ritik-prog/n8n-automation-templates-5000",
    "repository_stars": 341,
    "path": "n8n_2000_workflows/send-order-confirmation-shopify-order-google-sheets.json",
    "url": "https://github.com/ritik-prog/n8n-automation-templates-5000/blob/main/n8n_2000_workflows/send-order-confirmation-shopify-order-google-sheets.json"
  },
  "name": "Send order confirmation from Shopify order and send to Google Sheets",
  "description": "n8n workflow template from ritik-prog/n8n-automation-templates-5000: Send order confirmation from Shopify order and send to Google Sheets",
  "category": "Communication",
  "tags": [
    "n8n 2000 workflows",
    "slack",
    "webhook",
    "send",
    "order",
    "confirmation",
    "shopify"
  ],
  "task_keywords": [
    "send order confirmation from shopify order and send to google sheets",
    "slack",
    "send slack",
    "webhook",
    "send order",
    "order confirmation",
    "confirmation shopify",
    "shopify order",
    "order send",
    "send google",
    "google sheets",
    "sheets n8n"
  ],
  "required_services": [
    "slack"
  ],
  "triggers": [
    "webhook"
  ],
  "complexity": "simple",
  "workflow": {
    "name": "Send order confirmation from Shopify order and send to Google Sheets",
    "nodes": [
      {
        "id": "trigger-shopify-order",
        "name": "Incoming Trigger",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1,
        "position": [
          -600,
          170200
        ],
        "parameters": {
          "httpMethod": "POST",
          "path": "send-order-confirmation-from-shopify-order-and-send-to-google-sheets",
          "responseCode": 200,
          "responseMode": "onReceived"
        }
      },
      {
        "id": "fetch-shopify-order",
        "name": "Fetch data from Shopify order",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 1,
        "position": [
          -300,
          170200
        ],
        "parameters": {
          "method": "GET",
          "url": "https://api.example.com/shopify-order",
          "responseFormat": "json"
        }
      },
      {
        "id": "send-google-sheets",
        "name": "Send to Google Sheets",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 1,
        "position": [
          300,
          170200
        ],
        "parameters": {
          "method": "POST",
          "url": "https://api.example.com/google-sheets",
          "responseFormat": "json",
          "options": {}
        }
      },
      {
        "id": "error-handler-600-170200",
        "name": "Send Error to Slack",
        "type": "n8n-nodes-base.slack",
        "typeVersion": 1,
        "position": [
          600,
          170200
        ],
        "parameters": {
          "resource": "message",
          "operation": "post",
          "channel": "#automation-alerts",
          "text": "={{ $json.get('error_message', 'An error occurred') }}"
        }
      }
    ],
    "connections": {
      "Incoming Trigger": {
        "main": [
          [
            {
              "node": "Fetch data from Shopify order",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch data from Shopify order": {
        "main": [
          {
            "node": "Send to Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      },
      "Send to Google Sheets": {
        "main": [
          [
            {
              "node": "Send Error to Slack",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {},
    "active": false
  }
}
