src/data/workflows/workflow-templates/n8n-automation-templates-5000-assign-to-agent-from-help-desk-email-and-send-to-crm-11ddc158de.json
{
  "id": "n8n-automation-templates-5000-assign-to-agent-from-help-desk-email-and-send-to-crm-11ddc158de",
  "source": {
    "type": "github",
    "repository": "ritik-prog/n8n-automation-templates-5000",
    "repository_stars": 341,
    "path": "n8n_2000_workflows/assign-to-agent-help-desk-email-crm.json",
    "url": "https://github.com/ritik-prog/n8n-automation-templates-5000/blob/main/n8n_2000_workflows/assign-to-agent-help-desk-email-crm.json"
  },
  "name": "Assign to agent from Help desk email and send to CRM",
  "description": "n8n workflow template from ritik-prog/n8n-automation-templates-5000: Assign to agent from Help desk email and send to CRM",
  "category": "AI",
  "tags": [
    "n8n 2000 workflows",
    "slack",
    "webhook",
    "assign",
    "agent",
    "help",
    "desk",
    "email",
    "send"
  ],
  "task_keywords": [
    "assign to agent from help desk email and send to crm",
    "slack",
    "send slack",
    "webhook",
    "assign agent",
    "agent help",
    "help desk",
    "desk email",
    "email send",
    "send crm",
    "crm n8n",
    "n8n workflow"
  ],
  "required_services": [
    "slack"
  ],
  "triggers": [
    "webhook"
  ],
  "complexity": "simple",
  "workflow": {
    "name": "Assign to agent from Help desk email and send to CRM",
    "nodes": [
      {
        "id": "trigger-help-desk-email",
        "name": "Incoming Trigger",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1,
        "position": [
          -600,
          88100
        ],
        "parameters": {
          "httpMethod": "POST",
          "path": "assign-to-agent-from-help-desk-email-and-send-to-crm",
          "responseCode": 200,
          "responseMode": "onReceived"
        }
      },
      {
        "id": "fetch-help-desk-email",
        "name": "Fetch data from Help desk email",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 1,
        "position": [
          -300,
          88100
        ],
        "parameters": {
          "method": "GET",
          "url": "https://api.example.com/help-desk-email",
          "responseFormat": "json"
        }
      },
      {
        "id": "send-crm",
        "name": "Send to CRM",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 1,
        "position": [
          300,
          88100
        ],
        "parameters": {
          "method": "POST",
          "url": "https://api.example.com/crm",
          "responseFormat": "json",
          "options": {}
        }
      },
      {
        "id": "error-handler-600-88100",
        "name": "Send Error to Slack",
        "type": "n8n-nodes-base.slack",
        "typeVersion": 1,
        "position": [
          600,
          88100
        ],
        "parameters": {
          "resource": "message",
          "operation": "post",
          "channel": "#automation-alerts",
          "text": "={{ $json.get('error_message', 'An error occurred') }}"
        }
      }
    ],
    "connections": {
      "Incoming Trigger": {
        "main": [
          [
            {
              "node": "Fetch data from Help desk email",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch data from Help desk email": {
        "main": [
          {
            "node": "Send to CRM",
            "type": "main",
            "index": 0
          }
        ]
      },
      "Send to CRM": {
        "main": [
          [
            {
              "node": "Send Error to Slack",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {},
    "active": false
  }
}
