src/data/workflows/workflow-templates/n8n-automation-templates-5000-assign-to-team-member-from-asana-task-and-send-to-slack-b552cf50f9.json
{
  "id": "n8n-automation-templates-5000-assign-to-team-member-from-asana-task-and-send-to-slack-b552cf50f9",
  "source": {
    "type": "github",
    "repository": "ritik-prog/n8n-automation-templates-5000",
    "repository_stars": 341,
    "path": "n8n_2000_workflows/assign-to-team-member-asana-task-slack.json",
    "url": "https://github.com/ritik-prog/n8n-automation-templates-5000/blob/main/n8n_2000_workflows/assign-to-team-member-asana-task-slack.json"
  },
  "name": "Assign to team member from Asana task and send to Slack",
  "description": "n8n workflow template from ritik-prog/n8n-automation-templates-5000: Assign to team member from Asana task and send to Slack",
  "category": "Communication",
  "tags": [
    "n8n 2000 workflows",
    "slack",
    "webhook",
    "assign",
    "team",
    "member",
    "asana",
    "task",
    "send"
  ],
  "task_keywords": [
    "assign to team member from asana task and send to slack",
    "slack",
    "send slack",
    "webhook",
    "assign team",
    "team member",
    "member asana",
    "asana task",
    "task send",
    "slack n8n",
    "n8n workflow",
    "workflow template"
  ],
  "required_services": [
    "slack"
  ],
  "triggers": [
    "webhook"
  ],
  "complexity": "simple",
  "workflow": {
    "name": "Assign to team member from Asana task and send to Slack",
    "nodes": [
      {
        "id": "trigger-asana-task",
        "name": "Incoming Trigger",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1,
        "position": [
          -600,
          150000
        ],
        "parameters": {
          "httpMethod": "POST",
          "path": "assign-to-team-member-from-asana-task-and-send-to-slack",
          "responseCode": 200,
          "responseMode": "onReceived"
        }
      },
      {
        "id": "fetch-asana-task",
        "name": "Fetch data from Asana task",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 1,
        "position": [
          -300,
          150000
        ],
        "parameters": {
          "method": "GET",
          "url": "https://api.example.com/asana-task",
          "responseFormat": "json"
        }
      },
      {
        "id": "send-slack",
        "name": "Send to Slack",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 1,
        "position": [
          300,
          150000
        ],
        "parameters": {
          "method": "POST",
          "url": "https://api.example.com/slack",
          "responseFormat": "json",
          "options": {}
        }
      },
      {
        "id": "error-handler-600-150000",
        "name": "Send Error to Slack",
        "type": "n8n-nodes-base.slack",
        "typeVersion": 1,
        "position": [
          600,
          150000
        ],
        "parameters": {
          "resource": "message",
          "operation": "post",
          "channel": "#automation-alerts",
          "text": "={{ $json.get('error_message', 'An error occurred') }}"
        }
      }
    ],
    "connections": {
      "Incoming Trigger": {
        "main": [
          [
            {
              "node": "Fetch data from Asana task",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch data from Asana task": {
        "main": [
          {
            "node": "Send to Slack",
            "type": "main",
            "index": 0
          }
        ]
      },
      "Send to Slack": {
        "main": [
          [
            {
              "node": "Send Error to Slack",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {},
    "active": false
  }
}
