src/data/workflows/workflow-templates/n8n-automation-templates-5000-generate-social-media-captions-from-microsoft-teams-and-send-to-crm-bc6823a3db.json
{
  "id": "n8n-automation-templates-5000-generate-social-media-captions-from-microsoft-teams-and-send-to-crm-bc6823a3db",
  "source": {
    "type": "github",
    "repository": "ritik-prog/n8n-automation-templates-5000",
    "repository_stars": 341,
    "path": "n8n_2000_workflows/generate-social-media-captions-microsoft-teams-crm.json",
    "url": "https://github.com/ritik-prog/n8n-automation-templates-5000/blob/main/n8n_2000_workflows/generate-social-media-captions-microsoft-teams-crm.json"
  },
  "name": "Generate social media captions from Microsoft Teams and send to CRM",
  "description": "n8n workflow template from ritik-prog/n8n-automation-templates-5000: Generate social media captions from Microsoft Teams and send to CRM",
  "category": "AI",
  "tags": [
    "n8n 2000 workflows",
    "open AIApi",
    "slack",
    "webhook",
    "generate",
    "social",
    "media",
    "captions",
    "microsoft",
    "teams"
  ],
  "task_keywords": [
    "generate social media captions from microsoft teams and send to crm",
    "open aiapi",
    "send open aiapi",
    "slack",
    "send slack",
    "webhook",
    "generate social",
    "social media",
    "media captions",
    "captions microsoft",
    "microsoft teams",
    "teams send"
  ],
  "required_services": [
    "open AIApi",
    "slack"
  ],
  "triggers": [
    "webhook"
  ],
  "complexity": "simple",
  "workflow": {
    "name": "Generate social media captions from Microsoft Teams and send to CRM",
    "nodes": [
      {
        "id": "trigger-microsoft-teams",
        "name": "Incoming Trigger",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1,
        "position": [
          -600,
          27200
        ],
        "parameters": {
          "httpMethod": "POST",
          "path": "generate-social-media-captions-from-microsoft-teams-and-send-to-crm",
          "responseCode": 200,
          "responseMode": "onReceived"
        }
      },
      {
        "id": "fetch-microsoft-teams",
        "name": "Fetch data from Microsoft Teams",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 1,
        "position": [
          -300,
          27200
        ],
        "parameters": {
          "method": "GET",
          "url": "https://api.example.com/microsoft-teams",
          "responseFormat": "json"
        }
      },
      {
        "id": "ai-generate-social-media-captions",
        "name": "AI: Generate Social Media Captions",
        "type": "n8n-nodes-base.openAIApi",
        "typeVersion": 1,
        "position": [
          0,
          27200
        ],
        "parameters": {
          "model": "gpt-4",
          "operation": "complete",
          "prompt": "Perform the following action on the incoming data: generate social media captions"
        }
      },
      {
        "id": "send-crm",
        "name": "Send to CRM",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 1,
        "position": [
          300,
          27200
        ],
        "parameters": {
          "method": "POST",
          "url": "https://api.example.com/crm",
          "responseFormat": "json",
          "options": {}
        }
      },
      {
        "id": "error-handler-600-27200",
        "name": "Send Error to Slack",
        "type": "n8n-nodes-base.slack",
        "typeVersion": 1,
        "position": [
          600,
          27200
        ],
        "parameters": {
          "resource": "message",
          "operation": "post",
          "channel": "#automation-alerts",
          "text": "={{ $json.get('error_message', 'An error occurred') }}"
        }
      }
    ],
    "connections": {
      "Incoming Trigger": {
        "main": [
          [
            {
              "node": "Fetch data from Microsoft Teams",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch data from Microsoft Teams": {
        "main": [
          {
            "node": "AI: Generate Social Media Captions",
            "type": "main",
            "index": 0
          }
        ]
      },
      "AI: Generate Social Media Captions": {
        "main": [
          [
            {
              "node": "AI: Generate Social Media Captions",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send to CRM": {
        "main": [
          [
            {
              "node": "Send Error to Slack",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {},
    "active": false
  }
}
