src/data/workflows/workflow-templates/n8n-automation-templates-5000-classify-resume-with-ai-from-job-portal-and-send-to-email-4244f634d8.json
{
  "id": "n8n-automation-templates-5000-classify-resume-with-ai-from-job-portal-and-send-to-email-4244f634d8",
  "source": {
    "type": "github",
    "repository": "ritik-prog/n8n-automation-templates-5000",
    "repository_stars": 341,
    "path": "n8n_2000_workflows/classify-resume-with-ai-job-portal-email.json",
    "url": "https://github.com/ritik-prog/n8n-automation-templates-5000/blob/main/n8n_2000_workflows/classify-resume-with-ai-job-portal-email.json"
  },
  "name": "Classify resume with ai from Job portal and send to Email",
  "description": "n8n workflow template from ritik-prog/n8n-automation-templates-5000: Classify resume with ai from Job portal and send to Email",
  "category": "AI",
  "tags": [
    "n8n 2000 workflows",
    "open AIApi",
    "slack",
    "webhook",
    "classify",
    "resume",
    "job",
    "portal",
    "send",
    "email"
  ],
  "task_keywords": [
    "classify resume with ai from job portal and send to email",
    "open aiapi",
    "send open aiapi",
    "slack",
    "send slack",
    "webhook",
    "classify resume",
    "resume job",
    "job portal",
    "portal send",
    "send email",
    "email n8n"
  ],
  "required_services": [
    "open AIApi",
    "slack"
  ],
  "triggers": [
    "webhook"
  ],
  "complexity": "simple",
  "workflow": {
    "name": "Classify resume with ai from Job portal and send to Email",
    "nodes": [
      {
        "id": "trigger-job-portal",
        "name": "Incoming Trigger",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1,
        "position": [
          -600,
          111100
        ],
        "parameters": {
          "httpMethod": "POST",
          "path": "classify-resume-with-ai-from-job-portal-and-send-to-email",
          "responseCode": 200,
          "responseMode": "onReceived"
        }
      },
      {
        "id": "fetch-job-portal",
        "name": "Fetch data from Job portal",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 1,
        "position": [
          -300,
          111100
        ],
        "parameters": {
          "method": "GET",
          "url": "https://api.example.com/job-portal",
          "responseFormat": "json"
        }
      },
      {
        "id": "ai-classify-resume-with-ai",
        "name": "AI: Classify Resume With Ai",
        "type": "n8n-nodes-base.openAIApi",
        "typeVersion": 1,
        "position": [
          0,
          111100
        ],
        "parameters": {
          "model": "gpt-4",
          "operation": "complete",
          "prompt": "Perform the following action on the incoming data: classify resume with AI"
        }
      },
      {
        "id": "send-email",
        "name": "Send to Email",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 1,
        "position": [
          300,
          111100
        ],
        "parameters": {
          "method": "POST",
          "url": "https://api.example.com/email",
          "responseFormat": "json",
          "options": {}
        }
      },
      {
        "id": "error-handler-600-111100",
        "name": "Send Error to Slack",
        "type": "n8n-nodes-base.slack",
        "typeVersion": 1,
        "position": [
          600,
          111100
        ],
        "parameters": {
          "resource": "message",
          "operation": "post",
          "channel": "#automation-alerts",
          "text": "={{ $json.get('error_message', 'An error occurred') }}"
        }
      }
    ],
    "connections": {
      "Incoming Trigger": {
        "main": [
          [
            {
              "node": "Fetch data from Job portal",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch data from Job portal": {
        "main": [
          {
            "node": "AI: Classify Resume With Ai",
            "type": "main",
            "index": 0
          }
        ]
      },
      "AI: Classify Resume With Ai": {
        "main": [
          [
            {
              "node": "AI: Classify Resume With Ai",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send to Email": {
        "main": [
          [
            {
              "node": "Send Error to Slack",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {},
    "active": false
  }
}
