src/data/workflows/workflow-templates/n8n-automation-templates-5000-create-jira-ticket-from-deployment-event-and-send-to-notion-0a33f9c622.json
{
  "id": "n8n-automation-templates-5000-create-jira-ticket-from-deployment-event-and-send-to-notion-0a33f9c622",
  "source": {
    "type": "github",
    "repository": "ritik-prog/n8n-automation-templates-5000",
    "repository_stars": 341,
    "path": "n8n_2000_workflows/create-jira-ticket-deployment-event-notion.json",
    "url": "https://github.com/ritik-prog/n8n-automation-templates-5000/blob/main/n8n_2000_workflows/create-jira-ticket-deployment-event-notion.json"
  },
  "name": "Create jira ticket from Deployment event and send to Notion",
  "description": "n8n workflow template from ritik-prog/n8n-automation-templates-5000: Create jira ticket from Deployment event and send to Notion",
  "category": "Communication",
  "tags": [
    "n8n 2000 workflows",
    "slack",
    "webhook",
    "create",
    "jira",
    "ticket",
    "deployment",
    "event",
    "send"
  ],
  "task_keywords": [
    "create jira ticket from deployment event and send to notion",
    "slack",
    "send slack",
    "create slack",
    "webhook",
    "create jira",
    "jira ticket",
    "ticket deployment",
    "deployment event",
    "event send",
    "send notion",
    "notion n8n"
  ],
  "required_services": [
    "slack"
  ],
  "triggers": [
    "webhook"
  ],
  "complexity": "simple",
  "workflow": {
    "name": "Create jira ticket from Deployment event and send to Notion",
    "nodes": [
      {
        "id": "trigger-deployment-event",
        "name": "Incoming Trigger",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1,
        "position": [
          -600,
          149700
        ],
        "parameters": {
          "httpMethod": "POST",
          "path": "create-jira-ticket-from-deployment-event-and-send-to-notion",
          "responseCode": 200,
          "responseMode": "onReceived"
        }
      },
      {
        "id": "fetch-deployment-event",
        "name": "Fetch data from Deployment event",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 1,
        "position": [
          -300,
          149700
        ],
        "parameters": {
          "method": "GET",
          "url": "https://api.example.com/deployment-event",
          "responseFormat": "json"
        }
      },
      {
        "id": "send-notion",
        "name": "Send to Notion",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 1,
        "position": [
          300,
          149700
        ],
        "parameters": {
          "method": "POST",
          "url": "https://api.example.com/notion",
          "responseFormat": "json",
          "options": {}
        }
      },
      {
        "id": "error-handler-600-149700",
        "name": "Send Error to Slack",
        "type": "n8n-nodes-base.slack",
        "typeVersion": 1,
        "position": [
          600,
          149700
        ],
        "parameters": {
          "resource": "message",
          "operation": "post",
          "channel": "#automation-alerts",
          "text": "={{ $json.get('error_message', 'An error occurred') }}"
        }
      }
    ],
    "connections": {
      "Incoming Trigger": {
        "main": [
          [
            {
              "node": "Fetch data from Deployment event",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch data from Deployment event": {
        "main": [
          {
            "node": "Send to Notion",
            "type": "main",
            "index": 0
          }
        ]
      },
      "Send to Notion": {
        "main": [
          [
            {
              "node": "Send Error to Slack",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {},
    "active": false
  }
}
