src/data/workflows/workflow-templates/n8n-automation-templates-5000-update-ticket-status-from-freshdesk-ticket-and-send-to-email-c4c546f3d8.json
{
  "id": "n8n-automation-templates-5000-update-ticket-status-from-freshdesk-ticket-and-send-to-email-c4c546f3d8",
  "source": {
    "type": "github",
    "repository": "ritik-prog/n8n-automation-templates-5000",
    "repository_stars": 341,
    "path": "n8n_2000_workflows/update-ticket-status-freshdesk-ticket-email.json",
    "url": "https://github.com/ritik-prog/n8n-automation-templates-5000/blob/main/n8n_2000_workflows/update-ticket-status-freshdesk-ticket-email.json"
  },
  "name": "Update ticket status from Freshdesk ticket and send to Email",
  "description": "n8n workflow template from ritik-prog/n8n-automation-templates-5000: Update ticket status from Freshdesk ticket and send to Email",
  "category": "AI",
  "tags": [
    "n8n 2000 workflows",
    "slack",
    "webhook",
    "update",
    "ticket",
    "status",
    "freshdesk",
    "send"
  ],
  "task_keywords": [
    "update ticket status from freshdesk ticket and send to email",
    "slack",
    "send slack",
    "update slack",
    "webhook",
    "update ticket",
    "ticket status",
    "status freshdesk",
    "freshdesk ticket",
    "ticket send",
    "send email",
    "email n8n"
  ],
  "required_services": [
    "slack"
  ],
  "triggers": [
    "webhook"
  ],
  "complexity": "simple",
  "workflow": {
    "name": "Update ticket status from Freshdesk ticket and send to Email",
    "nodes": [
      {
        "id": "trigger-freshdesk-ticket",
        "name": "Incoming Trigger",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1,
        "position": [
          -600,
          99900
        ],
        "parameters": {
          "httpMethod": "POST",
          "path": "update-ticket-status-from-freshdesk-ticket-and-send-to-email",
          "responseCode": 200,
          "responseMode": "onReceived"
        }
      },
      {
        "id": "fetch-freshdesk-ticket",
        "name": "Fetch data from Freshdesk ticket",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 1,
        "position": [
          -300,
          99900
        ],
        "parameters": {
          "method": "GET",
          "url": "https://api.example.com/freshdesk-ticket",
          "responseFormat": "json"
        }
      },
      {
        "id": "send-email",
        "name": "Send to Email",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 1,
        "position": [
          300,
          99900
        ],
        "parameters": {
          "method": "POST",
          "url": "https://api.example.com/email",
          "responseFormat": "json",
          "options": {}
        }
      },
      {
        "id": "error-handler-600-99900",
        "name": "Send Error to Slack",
        "type": "n8n-nodes-base.slack",
        "typeVersion": 1,
        "position": [
          600,
          99900
        ],
        "parameters": {
          "resource": "message",
          "operation": "post",
          "channel": "#automation-alerts",
          "text": "={{ $json.get('error_message', 'An error occurred') }}"
        }
      }
    ],
    "connections": {
      "Incoming Trigger": {
        "main": [
          [
            {
              "node": "Fetch data from Freshdesk ticket",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch data from Freshdesk ticket": {
        "main": [
          {
            "node": "Send to Email",
            "type": "main",
            "index": 0
          }
        ]
      },
      "Send to Email": {
        "main": [
          [
            {
              "node": "Send Error to Slack",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {},
    "active": false
  }
}
