src/data/workflows/workflow-templates/n8n-automation-templates-5000-translate-meeting-transcript-from-zoom-and-send-to-marketing-team-9e12235d44.json
{
  "id": "n8n-automation-templates-5000-translate-meeting-transcript-from-zoom-and-send-to-marketing-team-9e12235d44",
  "source": {
    "type": "github",
    "repository": "ritik-prog/n8n-automation-templates-5000",
    "repository_stars": 341,
    "path": "n8n_2000_workflows/translate-meeting-transcript-zoom-marketing-team.json",
    "url": "https://github.com/ritik-prog/n8n-automation-templates-5000/blob/main/n8n_2000_workflows/translate-meeting-transcript-zoom-marketing-team.json"
  },
  "name": "Translate meeting transcript from Zoom and send to Marketing team",
  "description": "n8n workflow template from ritik-prog/n8n-automation-templates-5000: Translate meeting transcript from Zoom and send to Marketing team",
  "category": "AI",
  "tags": [
    "n8n 2000 workflows",
    "open AIApi",
    "slack",
    "webhook",
    "translate",
    "meeting",
    "transcript",
    "zoom",
    "send",
    "marketing"
  ],
  "task_keywords": [
    "translate meeting transcript from zoom and send to marketing team",
    "open aiapi",
    "send open aiapi",
    "slack",
    "send slack",
    "webhook",
    "translate meeting",
    "meeting transcript",
    "transcript zoom",
    "zoom send",
    "send marketing",
    "marketing team"
  ],
  "required_services": [
    "open AIApi",
    "slack"
  ],
  "triggers": [
    "webhook"
  ],
  "complexity": "simple",
  "workflow": {
    "name": "Translate meeting transcript from Zoom and send to Marketing team",
    "nodes": [
      {
        "id": "trigger-zoom",
        "name": "Incoming Trigger",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1,
        "position": [
          -600,
          3800
        ],
        "parameters": {
          "httpMethod": "POST",
          "path": "translate-meeting-transcript-from-zoom-and-send-to-marketing-team",
          "responseCode": 200,
          "responseMode": "onReceived"
        }
      },
      {
        "id": "fetch-zoom",
        "name": "Fetch data from Zoom",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 1,
        "position": [
          -300,
          3800
        ],
        "parameters": {
          "method": "GET",
          "url": "https://api.example.com/zoom",
          "responseFormat": "json"
        }
      },
      {
        "id": "ai-translate-meeting-transcript",
        "name": "AI: Translate Meeting Transcript",
        "type": "n8n-nodes-base.openAIApi",
        "typeVersion": 1,
        "position": [
          0,
          3800
        ],
        "parameters": {
          "model": "gpt-4",
          "operation": "complete",
          "prompt": "Perform the following action on the incoming data: translate meeting transcript"
        }
      },
      {
        "id": "send-marketing-team",
        "name": "Send to Marketing team",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 1,
        "position": [
          300,
          3800
        ],
        "parameters": {
          "method": "POST",
          "url": "https://api.example.com/marketing-team",
          "responseFormat": "json",
          "options": {}
        }
      },
      {
        "id": "error-handler-600-3800",
        "name": "Send Error to Slack",
        "type": "n8n-nodes-base.slack",
        "typeVersion": 1,
        "position": [
          600,
          3800
        ],
        "parameters": {
          "resource": "message",
          "operation": "post",
          "channel": "#automation-alerts",
          "text": "={{ $json.get('error_message', 'An error occurred') }}"
        }
      }
    ],
    "connections": {
      "Incoming Trigger": {
        "main": [
          [
            {
              "node": "Fetch data from Zoom",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch data from Zoom": {
        "main": [
          {
            "node": "AI: Translate Meeting Transcript",
            "type": "main",
            "index": 0
          }
        ]
      },
      "AI: Translate Meeting Transcript": {
        "main": [
          [
            {
              "node": "AI: Translate Meeting Transcript",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send to Marketing team": {
        "main": [
          [
            {
              "node": "Send Error to Slack",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {},
    "active": false
  }
}
