src/data/workflows/workflow-templates/n8n-automation-templates-5000-schedule-follow-up-email-from-google-ads-and-send-to-zoho-crm-750a1d26d3.json
{
  "id": "n8n-automation-templates-5000-schedule-follow-up-email-from-google-ads-and-send-to-zoho-crm-750a1d26d3",
  "source": {
    "type": "github",
    "repository": "ritik-prog/n8n-automation-templates-5000",
    "repository_stars": 341,
    "path": "n8n_2000_workflows/schedule-follow-up-email-google-ads-zoho-crm.json",
    "url": "https://github.com/ritik-prog/n8n-automation-templates-5000/blob/main/n8n_2000_workflows/schedule-follow-up-email-google-ads-zoho-crm.json"
  },
  "name": "Schedule follow-up email from Google Ads and send to Zoho CRM",
  "description": "n8n workflow template from ritik-prog/n8n-automation-templates-5000: Schedule follow-up email from Google Ads and send to Zoho CRM",
  "category": "AI",
  "tags": [
    "n8n 2000 workflows",
    "slack",
    "webhook",
    "schedule",
    "follow",
    "email",
    "google",
    "ads",
    "send"
  ],
  "task_keywords": [
    "schedule follow-up email from google ads and send to zoho crm",
    "slack",
    "send slack",
    "webhook",
    "schedule follow",
    "follow email",
    "email google",
    "google ads",
    "ads send",
    "send zoho",
    "zoho crm",
    "crm n8n"
  ],
  "required_services": [
    "slack"
  ],
  "triggers": [
    "webhook"
  ],
  "complexity": "simple",
  "workflow": {
    "name": "Schedule follow-up email from Google Ads and send to Zoho CRM",
    "nodes": [
      {
        "id": "trigger-google-ads",
        "name": "Incoming Trigger",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1,
        "position": [
          -600,
          38700
        ],
        "parameters": {
          "httpMethod": "POST",
          "path": "schedule-follow-up-email-from-google-ads-and-send-to-zoho-crm",
          "responseCode": 200,
          "responseMode": "onReceived"
        }
      },
      {
        "id": "fetch-google-ads",
        "name": "Fetch data from Google Ads",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 1,
        "position": [
          -300,
          38700
        ],
        "parameters": {
          "method": "GET",
          "url": "https://api.example.com/google-ads",
          "responseFormat": "json"
        }
      },
      {
        "id": "send-zoho-crm",
        "name": "Send to Zoho CRM",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 1,
        "position": [
          300,
          38700
        ],
        "parameters": {
          "method": "POST",
          "url": "https://api.example.com/zoho-crm",
          "responseFormat": "json",
          "options": {}
        }
      },
      {
        "id": "error-handler-600-38700",
        "name": "Send Error to Slack",
        "type": "n8n-nodes-base.slack",
        "typeVersion": 1,
        "position": [
          600,
          38700
        ],
        "parameters": {
          "resource": "message",
          "operation": "post",
          "channel": "#automation-alerts",
          "text": "={{ $json.get('error_message', 'An error occurred') }}"
        }
      }
    ],
    "connections": {
      "Incoming Trigger": {
        "main": [
          [
            {
              "node": "Fetch data from Google Ads",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch data from Google Ads": {
        "main": [
          {
            "node": "Send to Zoho CRM",
            "type": "main",
            "index": 0
          }
        ]
      },
      "Send to Zoho CRM": {
        "main": [
          [
            {
              "node": "Send Error to Slack",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {},
    "active": false
  }
}
