src/data/workflows/workflow-templates/n8n-automation-templates-5000-escalate-priority-from-intercom-chat-and-send-to-crm-1fc34cef2d.json
{
  "id": "n8n-automation-templates-5000-escalate-priority-from-intercom-chat-and-send-to-crm-1fc34cef2d",
  "source": {
    "type": "github",
    "repository": "ritik-prog/n8n-automation-templates-5000",
    "repository_stars": 341,
    "path": "n8n_2000_workflows/escalate-priority-intercom-chat-crm.json",
    "url": "https://github.com/ritik-prog/n8n-automation-templates-5000/blob/main/n8n_2000_workflows/escalate-priority-intercom-chat-crm.json"
  },
  "name": "Escalate priority from Intercom chat and send to CRM",
  "description": "n8n workflow template from ritik-prog/n8n-automation-templates-5000: Escalate priority from Intercom chat and send to CRM",
  "category": "Communication",
  "tags": [
    "n8n 2000 workflows",
    "slack",
    "webhook",
    "escalate",
    "priority",
    "intercom",
    "chat",
    "send",
    "crm"
  ],
  "task_keywords": [
    "escalate priority from intercom chat and send to crm",
    "slack",
    "send slack",
    "webhook",
    "escalate priority",
    "priority intercom",
    "intercom chat",
    "chat send",
    "send crm",
    "crm n8n",
    "n8n workflow",
    "workflow template"
  ],
  "required_services": [
    "slack"
  ],
  "triggers": [
    "webhook"
  ],
  "complexity": "simple",
  "workflow": {
    "name": "Escalate priority from Intercom chat and send to CRM",
    "nodes": [
      {
        "id": "trigger-intercom-chat",
        "name": "Incoming Trigger",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1,
        "position": [
          -600,
          86300
        ],
        "parameters": {
          "httpMethod": "POST",
          "path": "escalate-priority-from-intercom-chat-and-send-to-crm",
          "responseCode": 200,
          "responseMode": "onReceived"
        }
      },
      {
        "id": "fetch-intercom-chat",
        "name": "Fetch data from Intercom chat",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 1,
        "position": [
          -300,
          86300
        ],
        "parameters": {
          "method": "GET",
          "url": "https://api.example.com/intercom-chat",
          "responseFormat": "json"
        }
      },
      {
        "id": "send-crm",
        "name": "Send to CRM",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 1,
        "position": [
          300,
          86300
        ],
        "parameters": {
          "method": "POST",
          "url": "https://api.example.com/crm",
          "responseFormat": "json",
          "options": {}
        }
      },
      {
        "id": "error-handler-600-86300",
        "name": "Send Error to Slack",
        "type": "n8n-nodes-base.slack",
        "typeVersion": 1,
        "position": [
          600,
          86300
        ],
        "parameters": {
          "resource": "message",
          "operation": "post",
          "channel": "#automation-alerts",
          "text": "={{ $json.get('error_message', 'An error occurred') }}"
        }
      }
    ],
    "connections": {
      "Incoming Trigger": {
        "main": [
          [
            {
              "node": "Fetch data from Intercom chat",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch data from Intercom chat": {
        "main": [
          {
            "node": "Send to CRM",
            "type": "main",
            "index": 0
          }
        ]
      },
      "Send to CRM": {
        "main": [
          [
            {
              "node": "Send Error to Slack",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {},
    "active": false
  }
}
