src/data/workflows/workflow-templates/n8n-automation-templates-5000-generate-invoice-pdf-from-invoice-sheet-and-send-to-accounting-db-76dda4599a.json
{
  "id": "n8n-automation-templates-5000-generate-invoice-pdf-from-invoice-sheet-and-send-to-accounting-db-76dda4599a",
  "source": {
    "type": "github",
    "repository": "ritik-prog/n8n-automation-templates-5000",
    "repository_stars": 341,
    "path": "n8n_2000_workflows/generate-invoice-pdf-invoice-sheet-accounting-db.json",
    "url": "https://github.com/ritik-prog/n8n-automation-templates-5000/blob/main/n8n_2000_workflows/generate-invoice-pdf-invoice-sheet-accounting-db.json"
  },
  "name": "Generate invoice pdf from Invoice sheet and send to Accounting DB",
  "description": "n8n workflow template from ritik-prog/n8n-automation-templates-5000: Generate invoice pdf from Invoice sheet and send to Accounting DB",
  "category": "Communication",
  "tags": [
    "n8n 2000 workflows",
    "slack",
    "webhook",
    "generate",
    "invoice",
    "pdf",
    "sheet",
    "send"
  ],
  "task_keywords": [
    "generate invoice pdf from invoice sheet and send to accounting db",
    "slack",
    "send slack",
    "webhook",
    "generate invoice",
    "invoice pdf",
    "pdf invoice",
    "invoice sheet",
    "sheet send",
    "send accounting",
    "accounting n8n",
    "n8n workflow"
  ],
  "required_services": [
    "slack"
  ],
  "triggers": [
    "webhook"
  ],
  "complexity": "simple",
  "workflow": {
    "name": "Generate invoice pdf from Invoice sheet and send to Accounting DB",
    "nodes": [
      {
        "id": "trigger-invoice-sheet",
        "name": "Incoming Trigger",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1,
        "position": [
          -600,
          120500
        ],
        "parameters": {
          "httpMethod": "POST",
          "path": "generate-invoice-pdf-from-invoice-sheet-and-send-to-accounting-db",
          "responseCode": 200,
          "responseMode": "onReceived"
        }
      },
      {
        "id": "fetch-invoice-sheet",
        "name": "Fetch data from Invoice sheet",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 1,
        "position": [
          -300,
          120500
        ],
        "parameters": {
          "method": "GET",
          "url": "https://api.example.com/invoice-sheet",
          "responseFormat": "json"
        }
      },
      {
        "id": "send-accounting-db",
        "name": "Send to Accounting DB",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 1,
        "position": [
          300,
          120500
        ],
        "parameters": {
          "method": "POST",
          "url": "https://api.example.com/accounting-db",
          "responseFormat": "json",
          "options": {}
        }
      },
      {
        "id": "error-handler-600-120500",
        "name": "Send Error to Slack",
        "type": "n8n-nodes-base.slack",
        "typeVersion": 1,
        "position": [
          600,
          120500
        ],
        "parameters": {
          "resource": "message",
          "operation": "post",
          "channel": "#automation-alerts",
          "text": "={{ $json.get('error_message', 'An error occurred') }}"
        }
      }
    ],
    "connections": {
      "Incoming Trigger": {
        "main": [
          [
            {
              "node": "Fetch data from Invoice sheet",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch data from Invoice sheet": {
        "main": [
          {
            "node": "Send to Accounting DB",
            "type": "main",
            "index": 0
          }
        ]
      },
      "Send to Accounting DB": {
        "main": [
          [
            {
              "node": "Send Error to Slack",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {},
    "active": false
  }
}
