src/data/workflows/workflow-templates/n8n-automation-templates-5000-generate-admission-letter-from-patient-record-and-send-to-hospital-system-58b5814af1.json
{
  "id": "n8n-automation-templates-5000-generate-admission-letter-from-patient-record-and-send-to-hospital-system-58b5814af1",
  "source": {
    "type": "github",
    "repository": "ritik-prog/n8n-automation-templates-5000",
    "repository_stars": 341,
    "path": "n8n_2000_workflows/generate-admission-letter-patient-record-hospital-system.json",
    "url": "https://github.com/ritik-prog/n8n-automation-templates-5000/blob/main/n8n_2000_workflows/generate-admission-letter-patient-record-hospital-system.json"
  },
  "name": "Generate admission letter from Patient record and send to Hospital system",
  "description": "n8n workflow template from ritik-prog/n8n-automation-templates-5000: Generate admission letter from Patient record and send to Hospital system",
  "category": "AI",
  "tags": [
    "n8n 2000 workflows",
    "open AIApi",
    "slack",
    "webhook",
    "generate",
    "admission",
    "letter",
    "patient",
    "record",
    "send"
  ],
  "task_keywords": [
    "generate admission letter from patient record and send to hospital system",
    "open aiapi",
    "send open aiapi",
    "slack",
    "send slack",
    "webhook",
    "generate admission",
    "admission letter",
    "letter patient",
    "patient record",
    "record send",
    "send hospital"
  ],
  "required_services": [
    "open AIApi",
    "slack"
  ],
  "triggers": [
    "webhook"
  ],
  "complexity": "simple",
  "workflow": {
    "name": "Generate admission letter from Patient record and send to Hospital system",
    "nodes": [
      {
        "id": "trigger-patient-record",
        "name": "Incoming Trigger",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1,
        "position": [
          -600,
          193100
        ],
        "parameters": {
          "httpMethod": "POST",
          "path": "generate-admission-letter-from-patient-record-and-send-to-hospital-system",
          "responseCode": 200,
          "responseMode": "onReceived"
        }
      },
      {
        "id": "fetch-patient-record",
        "name": "Fetch data from Patient record",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 1,
        "position": [
          -300,
          193100
        ],
        "parameters": {
          "method": "GET",
          "url": "https://api.example.com/patient-record",
          "responseFormat": "json"
        }
      },
      {
        "id": "ai-generate-admission-letter",
        "name": "AI: Generate Admission Letter",
        "type": "n8n-nodes-base.openAIApi",
        "typeVersion": 1,
        "position": [
          0,
          193100
        ],
        "parameters": {
          "model": "gpt-4",
          "operation": "complete",
          "prompt": "Perform the following action on the incoming data: generate admission letter"
        }
      },
      {
        "id": "send-hospital-system",
        "name": "Send to Hospital system",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 1,
        "position": [
          300,
          193100
        ],
        "parameters": {
          "method": "POST",
          "url": "https://api.example.com/hospital-system",
          "responseFormat": "json",
          "options": {}
        }
      },
      {
        "id": "error-handler-600-193100",
        "name": "Send Error to Slack",
        "type": "n8n-nodes-base.slack",
        "typeVersion": 1,
        "position": [
          600,
          193100
        ],
        "parameters": {
          "resource": "message",
          "operation": "post",
          "channel": "#automation-alerts",
          "text": "={{ $json.get('error_message', 'An error occurred') }}"
        }
      }
    ],
    "connections": {
      "Incoming Trigger": {
        "main": [
          [
            {
              "node": "Fetch data from Patient record",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch data from Patient record": {
        "main": [
          {
            "node": "AI: Generate Admission Letter",
            "type": "main",
            "index": 0
          }
        ]
      },
      "AI: Generate Admission Letter": {
        "main": [
          [
            {
              "node": "AI: Generate Admission Letter",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send to Hospital system": {
        "main": [
          [
            {
              "node": "Send Error to Slack",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {},
    "active": false
  }
}
