src/data/workflows/workflow-templates/n8n-automation-templates-5000-update-campaign-analytics-from-airtable-campaign-table-and-send-to-google-ads-c934988853.json
{
  "id": "n8n-automation-templates-5000-update-campaign-analytics-from-airtable-campaign-table-and-send-to-google-ads-c934988853",
  "source": {
    "type": "github",
    "repository": "ritik-prog/n8n-automation-templates-5000",
    "repository_stars": 341,
    "path": "n8n_2000_workflows/update-campaign-analytics-airtable-campaign-table-google-ads.json",
    "url": "https://github.com/ritik-prog/n8n-automation-templates-5000/blob/main/n8n_2000_workflows/update-campaign-analytics-airtable-campaign-table-google-ads.json"
  },
  "name": "Update campaign analytics from Airtable campaign table and send to Google Ads",
  "description": "n8n workflow template from ritik-prog/n8n-automation-templates-5000: Update campaign analytics from Airtable campaign table and send to Google Ads",
  "category": "AI",
  "tags": [
    "n8n 2000 workflows",
    "slack",
    "webhook",
    "update",
    "campaign",
    "analytics",
    "airtable",
    "table"
  ],
  "task_keywords": [
    "update campaign analytics from airtable campaign table and send to google ads",
    "slack",
    "send slack",
    "update slack",
    "webhook",
    "update campaign",
    "campaign analytics",
    "analytics airtable",
    "airtable campaign",
    "campaign table",
    "table send",
    "send google"
  ],
  "required_services": [
    "slack"
  ],
  "triggers": [
    "webhook"
  ],
  "complexity": "simple",
  "workflow": {
    "name": "Update campaign analytics from Airtable campaign table and send to Google Ads",
    "nodes": [
      {
        "id": "trigger-airtable-campaign-table",
        "name": "Incoming Trigger",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1,
        "position": [
          -600,
          77300
        ],
        "parameters": {
          "httpMethod": "POST",
          "path": "update-campaign-analytics-from-airtable-campaign-table-and-send-to-google-ads",
          "responseCode": 200,
          "responseMode": "onReceived"
        }
      },
      {
        "id": "fetch-airtable-campaign-table",
        "name": "Fetch data from Airtable campaign table",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 1,
        "position": [
          -300,
          77300
        ],
        "parameters": {
          "method": "GET",
          "url": "https://api.example.com/airtable-campaign-table",
          "responseFormat": "json"
        }
      },
      {
        "id": "send-google-ads",
        "name": "Send to Google Ads",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 1,
        "position": [
          300,
          77300
        ],
        "parameters": {
          "method": "POST",
          "url": "https://api.example.com/google-ads",
          "responseFormat": "json",
          "options": {}
        }
      },
      {
        "id": "error-handler-600-77300",
        "name": "Send Error to Slack",
        "type": "n8n-nodes-base.slack",
        "typeVersion": 1,
        "position": [
          600,
          77300
        ],
        "parameters": {
          "resource": "message",
          "operation": "post",
          "channel": "#automation-alerts",
          "text": "={{ $json.get('error_message', 'An error occurred') }}"
        }
      }
    ],
    "connections": {
      "Incoming Trigger": {
        "main": [
          [
            {
              "node": "Fetch data from Airtable campaign table",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch data from Airtable campaign table": {
        "main": [
          {
            "node": "Send to Google Ads",
            "type": "main",
            "index": 0
          }
        ]
      },
      "Send to Google Ads": {
        "main": [
          [
            {
              "node": "Send Error to Slack",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {},
    "active": false
  }
}
