src/data/workflows/workflow-templates/n8n-automation-templates-5000-update-candidate-database-from-linkedin-application-and-send-to-google-sheets-e5ad595504.json
{
  "id": "n8n-automation-templates-5000-update-candidate-database-from-linkedin-application-and-send-to-google-sheets-e5ad595504",
  "source": {
    "type": "github",
    "repository": "ritik-prog/n8n-automation-templates-5000",
    "repository_stars": 341,
    "path": "n8n_2000_workflows/update-candidate-database-linkedin-application-google-sheets.json",
    "url": "https://github.com/ritik-prog/n8n-automation-templates-5000/blob/main/n8n_2000_workflows/update-candidate-database-linkedin-application-google-sheets.json"
  },
  "name": "Update candidate database from LinkedIn application and send to Google Sheets",
  "description": "n8n workflow template from ritik-prog/n8n-automation-templates-5000: Update candidate database from LinkedIn application and send to Google Sheets",
  "category": "Data",
  "tags": [
    "n8n 2000 workflows",
    "slack",
    "webhook",
    "update",
    "candidate",
    "database",
    "linkedin",
    "application",
    "send"
  ],
  "task_keywords": [
    "update candidate database from linkedin application and send to google sheets",
    "slack",
    "send slack",
    "update slack",
    "webhook",
    "update candidate",
    "candidate database",
    "database linkedin",
    "linkedin application",
    "application send",
    "send google",
    "google sheets"
  ],
  "required_services": [
    "slack"
  ],
  "triggers": [
    "webhook"
  ],
  "complexity": "simple",
  "workflow": {
    "name": "Update candidate database from LinkedIn application and send to Google Sheets",
    "nodes": [
      {
        "id": "trigger-linkedin-application",
        "name": "Incoming Trigger",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1,
        "position": [
          -600,
          116200
        ],
        "parameters": {
          "httpMethod": "POST",
          "path": "update-candidate-database-from-linkedin-application-and-send-to-google-sheets",
          "responseCode": 200,
          "responseMode": "onReceived"
        }
      },
      {
        "id": "fetch-linkedin-application",
        "name": "Fetch data from LinkedIn application",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 1,
        "position": [
          -300,
          116200
        ],
        "parameters": {
          "method": "GET",
          "url": "https://api.example.com/linkedin-application",
          "responseFormat": "json"
        }
      },
      {
        "id": "send-google-sheets",
        "name": "Send to Google Sheets",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 1,
        "position": [
          300,
          116200
        ],
        "parameters": {
          "method": "POST",
          "url": "https://api.example.com/google-sheets",
          "responseFormat": "json",
          "options": {}
        }
      },
      {
        "id": "error-handler-600-116200",
        "name": "Send Error to Slack",
        "type": "n8n-nodes-base.slack",
        "typeVersion": 1,
        "position": [
          600,
          116200
        ],
        "parameters": {
          "resource": "message",
          "operation": "post",
          "channel": "#automation-alerts",
          "text": "={{ $json.get('error_message', 'An error occurred') }}"
        }
      }
    ],
    "connections": {
      "Incoming Trigger": {
        "main": [
          [
            {
              "node": "Fetch data from LinkedIn application",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch data from LinkedIn application": {
        "main": [
          {
            "node": "Send to Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      },
      "Send to Google Sheets": {
        "main": [
          [
            {
              "node": "Send Error to Slack",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {},
    "active": false
  }
}
