src/data/workflows/workflow-templates/official-7006.json
{
  "id": "official-7006",
  "source": {
    "type": "official",
    "url": "https://n8n.io/workflows/7006",
    "template_id": 7006
  },
  "name": "Track food calories via Telegram with GPT-4 Vision and Google Sheets",
  "description": "This workflow enables users to submit food images to a Telegram bot, which uses OpenAI’s GPT 4 Vision to identify the item and estimate its caloric value.",
  "category": "AI",
  "tags": [
    "Personal Productivity",
    "Multimodal AI",
    "Telegram",
    "Function",
    "openai",
    "Google Sheets",
    "Telegram Trigger",
    "track",
    "food",
    "calories",
    "via",
    "telegram",
    "gpt"
  ],
  "task_keywords": [
    "track food calories via telegram with gpt-4 vision and google sheets",
    "telegram",
    "function",
    "openai",
    "google sheets",
    "telegram trigger",
    "track food",
    "food calories",
    "calories via",
    "via telegram",
    "telegram gpt",
    "gpt vision"
  ],
  "required_services": [
    "Telegram",
    "Function",
    "openai",
    "Google Sheets"
  ],
  "triggers": [
    "Telegram Trigger"
  ],
  "complexity": "moderate",
  "workflow": {
    "name": "Telegram Food Calorie Tracker",
    "nodes": [
      {
        "name": "Telegram Trigger",
        "type": "n8n-nodes-base.telegramTrigger",
        "position": [
          200,
          300
        ],
        "parameters": {
          "updates": [
            "message"
          ]
        },
        "credentials": {
          "telegramApi": {
            "id": "credential-id",
            "name": "telegramApi Credential"
          }
        },
        "typeVersion": 1
      },
      {
        "name": "Sticky Note: Acknowledge",
        "type": "n8n-nodes-base.telegram",
        "position": [
          400,
          300
        ],
        "parameters": {
          "text": "🧠 Thanks! I’m analyzing your food image now...",
          "chatId": "={{$json[\"message\"][\"chat\"][\"id\"]}}",
          "additionalFields": {}
        },
        "credentials": {
          "telegramApi": {
            "id": "credential-id",
            "name": "telegramApi Credential"
          }
        },
        "typeVersion": 1
      },
      {
        "name": "Download Telegram Image",
        "type": "n8n-nodes-base.telegram",
        "position": [
          600,
          300
        ],
        "parameters": {
          "fileId": "={{$json[\"message\"][\"photo\"][ $json[\"message\"][\"photo\"].length - 1 ][\"file_id\"]}}",
          "resource": "file",
          "operation": "download"
        },
        "credentials": {
          "telegramApi": {
            "id": "credential-id",
            "name": "telegramApi Credential"
          }
        },
        "typeVersion": 1
      },
      {
        "name": "Prepare Binary Image",
        "type": "n8n-nodes-base.function",
        "position": [
          800,
          300
        ],
        "parameters": {
          "functionCode": "return [{ binary: { image: items[0].binary.data } }];"
        },
        "typeVersion": 1
      },
      {
        "name": "GPT-4 Vision Analyze",
        "type": "n8n-nodes-base.openai",
        "position": [
          1000,
          300
        ],
        "parameters": {
          "model": "gpt-4-vision-preview",
          "messages": [
            {
              "role": "user",
              "content": [
                {
                  "text": "Describe this food and estimate its calories.",
                  "type": "text"
                },
                {
                  "type": "image_url",
                  "image_url": "={{$binary.image.data}}"
                }
              ]
            }
          ]
        },
        "credentials": {
          "openAiApi": {
            "id": "credential-id",
            "name": "openAiApi Credential"
          }
        },
        "typeVersion": 1
      },
      {
        "name": "Log to Google Sheet",
        "type": "n8n-nodes-base.googleSheets",
        "position": [
          1200,
          300
        ],
        "parameters": {
          "range": "Sheet1!A:C",
          "values": "={{ [[new Date().toISOString(), $json[\"text\"]]] }}",
          "options": {},
          "sheetId": "{{GOOGLE_SHEET_ID}}",
          "authentication": "oAuth2"
        },
        "credentials": {
          "googleApi": {
            "id": "credential-id",
            "name": "googleApi Credential"
          }
        },
        "typeVersion": 2
      },
      {
        "name": "Send GPT Result",
        "type": "n8n-nodes-base.telegram",
        "position": [
          1400,
          300
        ],
        "parameters": {
          "text": "={{$json[\"text\"]}}",
          "chatId": "={{$json[\"message\"][\"chat\"][\"id\"]}}",
          "additionalFields": {}
        },
        "credentials": {
          "telegramApi": {
            "id": "credential-id",
            "name": "telegramApi Credential"
          }
        },
        "typeVersion": 1
      }
    ],
    "active": false,
    "connections": {
      "Telegram Trigger": {
        "main": [
          [
            {
              "node": "Sticky Note: Acknowledge",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GPT-4 Vision Analyze": {
        "main": [
          [
            {
              "node": "Log to Google Sheet",
              "type": "main",
              "index": 0
            },
            {
              "node": "Send GPT Result",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prepare Binary Image": {
        "main": [
          [
            {
              "node": "GPT-4 Vision Analyze",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Download Telegram Image": {
        "main": [
          [
            {
              "node": "Prepare Binary Image",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Sticky Note: Acknowledge": {
        "main": [
          [
            {
              "node": "Download Telegram Image",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    }
  }
}
