src/data/workflows/workflow-templates/official-7180.json
{
  "id": "official-7180",
  "source": {
    "type": "official",
    "url": "https://n8n.io/workflows/7180",
    "template_id": 7180
  },
  "name": "Automate SEO title & description updates for WordPress with Yoast SEO API",
  "description": "This workflow automates the update of Yoast SEO metadata for a specific post or product on a WordPress or WooCommerce site.",
  "category": "Data",
  "tags": [
    "Content Creation",
    "Edit Fields (Set)",
    "Manual Trigger",
    "automate",
    "seo",
    "title",
    "description",
    "updates",
    "wordpress"
  ],
  "task_keywords": [
    "automate seo title & description updates for wordpress with yoast seo api",
    "edit fields (set)",
    "update edit fields (set)",
    "manual trigger",
    "automate seo",
    "seo title",
    "title description",
    "description updates",
    "updates wordpress",
    "wordpress yoast",
    "yoast seo",
    "seo workflow"
  ],
  "required_services": [
    "Edit Fields (Set)"
  ],
  "triggers": [
    "Manual Trigger"
  ],
  "complexity": "simple",
  "workflow": {
    "meta": {
      "instanceId": "4a11afdb3c52fd098e3eae9fad4b39fdf1bbcde142f596adda46c795e366b326"
    },
    "nodes": [
      {
        "id": "1cb100ae-108b-43ab-8430-f3ecfc7de76a",
        "name": "Settings",
        "type": "n8n-nodes-base.set",
        "position": [
          208,
          320
        ],
        "parameters": {
          "options": {},
          "assignments": {
            "assignments": [
              {
                "id": "080b234c-a753-409d-9d2d-3322678a01f2",
                "name": "wordpress URL",
                "type": "string",
                "value": "https://example.com/"
              }
            ]
          }
        },
        "typeVersion": 3.4
      },
      {
        "id": "0f8b25b7-bc5e-4c17-b821-81536741a97c",
        "name": "When clicking ‘Test workflow’",
        "type": "n8n-nodes-base.manualTrigger",
        "position": [
          -16,
          320
        ],
        "parameters": {},
        "typeVersion": 1
      },
      {
        "id": "5401ea77-65f7-4448-ad15-8a8756bc1b39",
        "name": "HTTP Request - Update Yoast Meta",
        "type": "n8n-nodes-base.httpRequest",
        "position": [
          448,
          320
        ],
        "parameters": {
          "url": "={{ $json[\"wordpress URL\"] }}wp-json/yoast-api/v1/update-meta",
          "method": "POST",
          "options": {},
          "sendBody": true,
          "authentication": "predefinedCredentialType",
          "bodyParameters": {
            "parameters": [
              {
                "name": "post_id",
                "value": "519"
              },
              {
                "name": "yoast_title",
                "value": "Demo SEO Title"
              },
              {
                "name": "yoast_description",
                "value": "Demo SEO Description"
              }
            ]
          },
          "nodeCredentialType": "wordpressApi"
        },
        "credentials": {
          "wordpressApi": {
            "id": "credential-id",
            "name": "wordpressApi Credential"
          }
        },
        "retryOnFail": true,
        "typeVersion": 4.2
      },
      {
        "id": "e1d716b0-abc7-4436-a28e-3ea44e4e0acc",
        "name": "Sticky Note",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          0,
          0
        ],
        "parameters": {
          "width": 592,
          "height": 288,
          "content": "## Yoast SEO Update\n\nThis workflow updates the **SEO Title** and **Meta Description** of a post via a request to a custom API endpoint.\n\n**Prerequisites:**\n* The provided custom plugin must be installed and active on the WordPress site.\n\n**Configuration:**\n* The `post_id` of the post to be modified is set manually in the **HTTP Request - Update Yoast Meta** node.\n* The WordPress site URL is set in the **Settings** node."
        },
        "typeVersion": 1
      }
    ],
    "pinData": {},
    "connections": {
      "Settings": {
        "main": [
          [
            {
              "node": "HTTP Request - Update Yoast Meta",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "When clicking ‘Test workflow’": {
        "main": [
          [
            {
              "node": "Settings",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    }
  }
}
