src/data/workflows/workflow-templates/official-629.json
{
  "id": "official-629",
  "source": {
    "type": "official",
    "url": "https://n8n.io/workflows/629",
    "template_id": 629
  },
  "name": "Enviar miembros del CMS Ghost hacia Newsletter Sendy",
  "description": "Ghost + Sendy Integration Está es una integración del CMS Ghost hacia Sendy Sendy ( www.sendy.co ) Ghost ( www.ghost.org ) Con esta integración podrás importar los miembros del CMS Ghost en su nueva versión que incluye la parte de Membresía hacía el Software de newsletter sendy.",
  "category": "Marketing",
  "tags": [
    "Social Media",
    "Telegram",
    "Webhook",
    "enviar",
    "miembros",
    "del",
    "cms",
    "ghost",
    "hacia"
  ],
  "task_keywords": [
    "enviar miembros del cms ghost hacia newsletter sendy",
    "telegram",
    "send telegram",
    "webhook",
    "enviar miembros",
    "miembros del",
    "del cms",
    "cms ghost",
    "ghost hacia",
    "hacia newsletter",
    "newsletter sendy",
    "sendy ghost"
  ],
  "required_services": [
    "Telegram"
  ],
  "triggers": [
    "Webhook"
  ],
  "complexity": "simple",
  "workflow": {
    "id": "3",
    "name": "RegisterSendly",
    "nodes": [
      {
        "name": "HTTP Request1",
        "type": "n8n-nodes-base.httpRequest",
        "color": "#BB1AE3",
        "notes": "Registrar Miembro en Newsletter\n",
        "position": [
          810,
          140
        ],
        "parameters": {
          "url": "https://yoursendyinstallation.com/subscribe",
          "options": {
            "bodyContentType": "form-urlencoded"
          },
          "requestMethod": "POST",
          "responseFormat": "string",
          "bodyParametersUi": {
            "parameter": [
              {
                "name": "api_key",
                "value": "your-main-api-key"
              },
              {
                "name": "boolean",
                "value": "true"
              },
              {
                "name": "silent",
                "value": "true"
              },
              {
                "name": "name",
                "value": "n8n automated"
              },
              {
                "name": "email",
                "value": "={{$node[\"Webhook\"].json[\"body\"][\"member\"][\"current\"][\"email\"]}}"
              },
              {
                "name": "list",
                "value": "your-list-id"
              }
            ]
          },
          "queryParametersUi": {
            "parameter": []
          }
        },
        "notesInFlow": true,
        "typeVersion": 1
      },
      {
        "name": "Webhook",
        "type": "n8n-nodes-base.webhook",
        "color": "#76F507",
        "notes": "Webhook para Ghost",
        "position": [
          450,
          190
        ],
        "webhookId": "bf898631-50bc-40a2-9a10-f146f47075fa",
        "parameters": {
          "path": "06cfbe404338f125f6cdeab8d2b7ff1e",
          "options": {},
          "httpMethod": "POST"
        },
        "executeOnce": false,
        "notesInFlow": true,
        "typeVersion": 1,
        "alwaysOutputData": false
      },
      {
        "name": "Telegram",
        "type": "n8n-nodes-base.telegram",
        "notes": "Mandar notificación en Telegram",
        "position": [
          860,
          400
        ],
        "parameters": {
          "text": "=Nuevo Integrante registrado: {{$node[\"Webhook\"].json[\"body\"][\"member\"][\"current\"][\"email\"]}}",
          "chatId": "@yourtelegramgroup",
          "additionalFields": {}
        },
        "credentials": {
          "telegramApi": "yourtelegram_bot"
        },
        "notesInFlow": true,
        "typeVersion": 1
      }
    ],
    "active": true,
    "settings": {},
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "HTTP Request1",
              "type": "main",
              "index": 0
            },
            {
              "node": "Telegram",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    }
  }
}
